{% set whale = whales[0] %}
{% set submit = submits[0] %}
<div class="edit-modal --fin">
	<div data-evt="closeEditModal" class="edit-modal__backdrop"></div>
	<div class="edit-modal__container">
		<div class="edit-modal__main">
			<div
				class="edit-modal__scroll">

				<!-- #region Header -->
				<div class="edit-modal__header">
					<div class="wrapper">
						<div class="am-row__header">
							<div class="flex-row">
								<h3 class="whale-card__name">Application #{{submit.number}}</h3>
							</div>
							<div class="flex-row">
								<a href="javascript:;" data-evt="closeEditModal" class="am-close-btn">
									{% include "admin/svg/icon_cross.svg" %}
									<span>Close</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- #endregion -->

				<!-- #region Main Content -->
				<div class="edit-modal__content">
					<div
						class="wrapper">

						<!-- #region Personal Information -->
						<div class="wh-box">
							<div class="wh-box__wrapper">
								<div class="wh-box__body">
									<div
										class="wh-inputs-grid">

										{# Status #}
										<div class="wh-input-box">
											<label>Status</label>
											<div class="wh-input-wrap --select">
												<select class="wh-input" name="active">
													{% for status in fin_status.options %}
														<option value="{{status.value}}" {% if status.selected == true %} selected {% endif %}>{{status.label}}</option>
													{% endfor %}
												</select>
											</div>
										</div>
										{# Salesperson #}
										<div class="wh-input-box">
											<label>Salesperson</label>
											<div class="wh-input-wrap --select">
												<select class="wh-input" name="active">
													{% for salesperson in fin_salespersons.options %}
														<option value="{{salesperson.value}}" {% if salesperson.selected == true %} selected {% endif %}>{{salesperson.label}}</option>
													{% endfor %}
												</select>
											</div>
										</div>
										{# Grade #}
										<div class="wh-input-box">
											<label>Grades</label>
											<div class="wh-input-wrap --select">
												<select class="wh-input" name="active">
													{% for grade in fin_grades.options %}
														<option value="{{grade.value}}" {% if grade.selected == true %} selected {% endif %}>{{grade.label}}</option>
													{% endfor %}
												</select>
											</div>
										</div>

										{% for detail in fin_details %}
											<div class="wh-input-box">
												<label>{{detail.label}}</label>
												<div class="wh-input-wrap">
													<input type="text" name="{{detail.name}}" class="wh-input" placeholder="" autocomplete="off" value="{{detail.value}}">
												</div>
											</div>
										{% endfor %}

									</div>
								</div>
							</div>
						</div>
						<!-- #endregion -->

					</div>
				</div>
				<!-- #endregion -->

				<div class="edit-modal__footer">
					<div class="wrapper">
						<div class="flex-row_8">
							<a class="am-item__btn --dim" onclick="editModal.close();">
								<span>Cancel</span>
							</a>
							<a class="am-item__btn" onclick="Submit();">
								<span>Save &amp; Exit</span>
							</a>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>
