<div
	class="am-item">

	{# Card Overlay #}
	<div class="am-item__over">
		<div>
			<span>Order #{{order.number}}</span>
			<span>${{order.orderAmount}}
				({{order.qtyTotal}})</span>
		</div>
	</div>

	<div class="am-item__body">
		{% for item in order.items %}
			<div
				class="am-item__row">

				<!-- #region ITEM : TOP -->
				<div class="am-item__main">

					<div class="am-item__pic-wrap">
						<img src="{{item.imgURL}}" loading="eager" alt="">
						<button class="am-zoom-btn"></button>
					</div>

					<div class="am-item__main-details">
						<h4 class="am-item__title">
							<a href="{{item.url}}" target="_blank">{{item.title}}</a>
						</h4>
						{% for option in item.options %}
							<div class="am-item__options">
								<div>{{option.name}}:
									<span>{{option.value}}</span>
								</div>
							</div>
						{% endfor %}
					</div>

					<div class="am-item__main-spot">

						<div class="am-item__td-controls">
							<a href="https://www.icebox.com/admin/view-packing-slip/{{item.id}}" target="_blank" class="am-item__td-btn">
								{% include "admin/svg/icon_print.svg" %}
							</a>
							<a data-type="iframe" data-fancybox data-src="/admin/order-quick-edit/{{item.id}}" target="_blank" class="am-item__td-btn">
								{% include "admin/svg/icon_clip.svg" %}
							</a>
							<a href="{{item.appraisalURL}}" class="am-item__td-btn">
								{% include "admin/svg/icon_appraisal.svg" %}
							</a>
							<button class="am-item__td-btn">SEND TO SAKS</button>
						</div>

					</div>
				</div>
				<!-- #endregion ITEM : TOP -->

				<div class="am-item__space-row">

					<div class="am-item__details">
						{% if item.stockTags is defined %}
							<div class="am-item__details-row">
								{% for tag in item.stockTags %}
									<span class="am-item__color-tag{% if tag.stock == false %} tag_blue{% endif %}">{{tag.value}}</span>
								{% endfor %}
							</div>
						{% endif %}
						{% if item.links is defined %}
							<div class="am-item__details-row">
								{% for link in item.links %}
									<a href="{{link.url}}" class="am-item__link">{{link.title}}</a>
								{% endfor %}
							</div>
						{% endif %}
						<div class="am-item__details-row to_space">
							<div class="flex-row_8">
								{% for tag in item.tags %}
									<span class="am-item__tag">{{tag.value}}</span>
								{% endfor %}
							</div>
						</div>
						<div class="am-item__details-row">
							<div class="am-item__note-wrap">
								<div class="am-item__note-form">
									<input class="am-note-input" autocomplete="off" placeholder="New note here..." type="text" id="new_note_{{itemID}}">
									<button data-am-evt="submitNote" onclick="addNotes({{itemID}})">Add</button>
								</div>
								{% for note in item.notes %}
									<div class="am-item-note">
										<div>
											<span>{{note.author}}</span>:
											{{note.text}}
										</div>
										<div>{{note.date}}</div>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>

					<div class="am-item__price-wrap">
						<div class="am-item__price">
							{% if item.price.sale is defined %}
								<span class="off-price">{{item.price.sale}}% OFF</span>
							{% endif %}
							${{item.price.value}}
						</div>
					</div>

				</div>

			</div>
		{% endfor %}
	</div>
</div>
