<div
	class="am-item">

	{# Card Overlay #}
	<div class="am-item__over">
		<div>
			<span>Order #{{order.number}}</span>
			<span>${{order.orderAmount}}</span>
		</div>
	</div>

	<div class="am-item__body">
		<div
			class="am-item__row">

			<!-- #region ITEM : TOP -->
			<div class="am-item__main">

				<div class="am-item__pic-wrap">
					<img src="{{order.imgURL}}" loading="eager" alt="">
					<button class="am-zoom-btn"></button>
				</div>

				<div class="am-item__main-details">
					<h4 class="am-item__title">
						{{order.title}}
					</h4>
					{% for option in order.options %}
						<div class="am-item__options">
							<div>{{option.name}}:
								<span>{{option.value}}</span>
							</div>
						</div>
					{% endfor %}
				</div>

				<div class="am-item__main-spot">
					{% if order.details is defined %}
						{% set details = order.details %}
						<div class="am-item__spot-details">

							{% if details.date.value is defined %}
								<div>
									<span>{{details.date.value}}</span>
									{% include "admin/svg/icon_date.svg" %}
								</div>
							{% endif %}

							{% if details.pisheet.value is defined %}
								<a href="{{details.pisheet.url}}" class="st_defined">
									<span>{{details.pisheet.value}}</span>
									{% include "admin/svg/icon_doc.svg" %}
								</a>
							{% endif %}

							{% if details.PO.value is defined %}
								<div>
									<span>PO:
										{{details.PO.value}}</span>
									{% include "admin/svg/icon_num.svg" %}
								</div>
							{% endif %}

							{% if details.RNum.value is defined %}
								<div>
									<span>R#:
										{{details.RNum.value}}</span>
									{% include "admin/svg/icon_docs.svg" %}
								</div>
							{% endif %}

							{% if details.style.value is defined %}
								<div>
									<span>Style:
										{{details.style.value}}</span>
									{% include "admin/svg/icon_docs.svg" %}
								</div>
							{% endif %}

						</div>
					{% endif %}
				</div>

			</div>
			<!-- #endregion ITEM : TOP -->


			<div class="am-item__details">

				<div class="am-item__details-row">
					<div class="am-select-wrap">
						<select class="am-select" id="category_id_select_{{order.id}}" onchange="UpdateCategoryId({{order.id}})">
							<option value="">Select Category</option>
							<option value="100">diamond engagement rings</option>
							<option value="110">diamond wedding bands</option>
							<option value="130">diamond fashion rings - women</option>
							<option value="135" selected="">diamond fashion rings - men</option>
							<option value="150">diamond earrings</option>
							<option value="160">diamond pendants</option>
							<option value="165">diamond necklaces</option>
							<option value="170">diamond bracelets</option>
							<option value="185">miscellaneous</option>
							<option value="430">gold chains</option>
							<option value="500">watches</option>
							<option value="505">watch bezels and dials</option>
						</select>
					</div>
				</div>

				<div class="am-item__details-row to_space to_wrap">
					<div class="flex-row_8">
						<div class="am-select-wrap">
							<select onchange="updateInstoreOrderType({{order.id}});" class="am-select" id="order_type_{{order.id}}">
								<option value="Special Order">Special Order</option>
								<option value="Stock">Stock</option>
							</select>
						</div>
						<div class="am-select-wrap">
							<select class="am-select" id="mfg_{{order.id}}" onchange="updateMfg({{order.id}});">
								<option value="0">Unselected</option>
								<option value="evique" selected="">Evique</option>
								<option value="recieved">Received Orders</option>
								<option value="veda">Veda</option>
								<option value="gs">GS</option>
								<option value="premier">Premier</option>
								<option value="shipped">shipped</option>
								<option value="in-house">In-house</option>
								<option value="americas-gold">Americas Gold</option>
								<option value="alessi">Alessi</option>
								<option value="fancy-chains">Fancy Chains</option>
								<option value="melano">Melano</option>
								<option value="daniel-jewelry">Daniel Jewelry</option>
								<option value="haimov">Haimov</option>
								<option value="deco">Deco</option>
							</select>
						</div>
					</div>
					<div class="flex-row_8">
						<a class="am-item__btn is-green" onclick="OrderRecieved({{order.id}});">Item Recieved ?</a>
            <a class="am-item__btn is-red"  onclick="removeOrder({{order.id}});">Remove Order</a>
					</div>
				</div>

				<div class="am-item__details-row to_end">
					<div class="am-item__price-wrap">
						<div class="am-item__price for_cost">Price: ${{order.price.value}}<span>Cost: ${{order.price.cost}}</span>
						</div>
					</div>
				</div>

				<div class="am-item__details-row">
					<div class="am-item__note-wrap">
						<div class="am-item__note-form">
							<input class="am-note-input" autocomplete="off" placeholder="New note here..." type="text" id="new_note_{{itemID}}">
							<button data-am-evt="submitNote" onclick="addNotes({{itemID}})">Add</button>
						</div>
						{% for note in order.notes %}
							<div class="am-item-note">
								<div>
									<span>{{note.author}}</span>:
									{{note.text}}
								</div>
								<div>{{note.date}}</div>
							</div>
						{% endfor %}
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
