<div
	class="am-item am-item_vendor{% if item.stock == true %} in_stock{% endif %}">

	{# Card Overlay #}
	<div class="am-item__over">
		<div>
			{% if item.stock == false %}
				<span>Special Order</span>
			{% else %}
				<span>In Stock</span>
			{% endif %}
		</div>
	</div>

	<div class="am-item__body">
		<div
			class="am-item__row">

			<!-- #region ITEM : TOP -->
			<div class="am-item__main">

				<div class="am-item__pic-wrap">
					<img src="{{item.imgURL}}" loading="eager" alt="">
					<button class="am-zoom-btn"></button>
				</div>

				<div class="am-item__main-details">
					<h4 class="am-item__title">
						{{item.title}}
					</h4>
					{% for option in item.options %}
						<div class="am-item__options">
							<div>{{option.name}}:
								<span>{{option.value}}</span>
							</div>
						</div>
					{% endfor %}
				</div>

				<div class="am-item__main-spot">

					{% if item.details is defined %}
						{% set details = item.details %}
						<div class="am-item__spot-details">
							{% if details.date is defined %}
								<div>
									<span>{{details.date}}</span>
									{% include "admin/svg/icon_date.svg" %}
								</div>
							{% endif %}
							{% if details.RNum is defined %}
								<a href="{{details.RNum.url}}">
									<span>R#:
										{{details.RNum.value}}</span>
									{% include "admin/svg/icon_doc.svg" %}
								</a>
							{% endif %}
							{% if details.PO is defined %}
								<div>
									<span>PO:
										{{details.PO}}</span>
									{% include "admin/svg/icon_num.svg" %}
								</div>
							{% endif %}
							{% if details.style is defined %}
								<a class="xEdit editable editable-click" data-name="order_items/vendor_item_number" data-type="text">
									<span>Style:
										<span class="st_edit">{{details.style.value}}</span>
									</span>
									{% include "admin/svg/icon_docs.svg" %}
								</a>
							{% endif %}
						</div>
					{% endif %}

				</div>
			</div>
			<!-- #endregion ITEM : TOP -->


			<div class="am-item__details">

				<div class="am-item__details-row to_end">
					<div class="flex-row_8">
						<a class="am-item__btn is-green" data-evt="vendor_item_accept">Accept</a>
						<a class="am-item__btn is-yellow" data-evt="vendor_item_deny">Deny</a>
					</div>
				</div>

				<div class="am-item__details-row">
					<div class="am-item__note-wrap">
						<div class="am-item__note-form">
							<input class="am-note-input" autocomplete="off" placeholder="New note here..." type="text" id="new_note_{{itemID}}">
							<button data-am-evt="submitNote" onclick="addNotes({{itemID}})">Add</button>
						</div>
						{% for note in item.notes %}
							<div class="am-item-note">
								<div>
									<span>{{note.author}}</span>:
									{{note.text}}
								</div>
								<div>{{note.date}}</div>
							</div>
						{% endfor %}
					</div>
				</div>

			</div>
		</div>
	</div>
</div>