<div class="fin-item">
	<div class="fin-item__wrapper">

		<div class="fin-item__row">
			<div class="fin-item__header">
				<div class="fin-item__title-group">
					<h4>Application #{{submit.number}}</h4>
					<div class="am-spot-row">
						<span>{{submit.date}}</span>
						<span>{{submit.time}}</span>
						<span>${{submit.amount ?: 'N/A'}}</span>
					</div>
				</div>
				<div class="am_flex8">
					<div class="fin-item__status-select pg-btn --select">
						<select id="change_status{{submit.id}}">
							<option value="" selected disabled>Status</option>
							<option value="Success">Success</option>
							<option value="Processing">Processing</option>
							<option value="Inactive">Inactive</option>
						</select>
					</div>
					<div class="fin-item__status-select pg-btn --select">
						<select id="change_salesperson{{submit.id}}">
							<option value="" selected disabled>Salesperson</option>
							<option value="Jenee">Jenee</option>
							<option value="Ryan">Ryan</option>
						</select>
					</div>
					<div class="fin-item__status-select pg-btn --select">
						<select id="change_grade{{submit.id}}">
							<option value="" selected disabled>Grade</option>
							<option value="A">A</option>
							<option value="B">B</option>
							<option value="C">C</option>
						</select>
					</div>
					<button data-evt="edit_fin_item" class="pg-btn">Edit</button>
					<button data-evt="remove_fin_item" class="pg-btn">{% include "admin/svg/icon_cross.svg" %}</button>
				</div>
			</div>
		</div>

		<div class="fin-item__row --blank">
			<div class="fin-item__details">
				{% for detail in submit.details %}
					{% set cell_label = detail.label|replace({' ':'_',' ':'_','&':'and'})|lower|replace({' ':'_',' ':'_','&':'and'})|raw %}
					<div data-cell="{{cell_label}}" {% if detail.value|length == 0 %} class="--empty" {% endif %} {% if detail.label == 'SSN' %}data-locked{% endif %}>
						<span>{{detail.label}}</span>
						<span>
							{% if detail.is_link == true %}
								<a href="{{detail.value}}" target="_blank">{{detail.value}}</a>
							{% else %}
								{{detail.value | default('N/A')}}
							{% endif %}
						</span>
					</div>
				{% endfor %}
				{% for answer in submit.quiz %}
					<div>
						<span>{{answer.label}}</span>
						<span>{{answer.value}}</span>
					</div>
				{% endfor %}
			</div>
		</div>

		<div class="fin-item__row">
			{% if submit.system_details is defined %}
				<div class="am-spot-row">
					{% for detail in submit.system_details %}
						<span>{{detail.label}}
							:
							<span>
								{{detail.value}}</span>
						</span>
					{% endfor %}
				</div>
			{% endif %}
			{% if submit.links is defined %}
				<div class="am_flex8">
					{% for link in submit.links %}
						<a class="am-item__link" href="{{link.url}}" target="_blank">{{link.label}}</a>
					{% endfor %}
				</div>
			{% endif %}
			<div class="am-item__note-wrap">
				<div class="am-item__note-form">
					<input class="am-note-input" autocomplete="off" placeholder="New note here..." type="text" id="new_note_{{submitID}}">
					<button data-am-evt="submitNote" onclick="addNotes({{submitID}})">Add</button>
				</div>
				{% for note in submit.notes %}
					<div class="am-item-note --pulsing">
						<div>
							<span>{{note.author}}</span>:
							{{note.text}}
						</div>
						<div>{{note.date}}</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
