<div
	class="whale-card" data-id="whale_{{ whale.id }}">

	{# Top Group -- spent / crm button / salesperson #}
	<div class="whale-card__top-group">
		<span class="spend-typo">${{whale.total_spend | number_format(2, '.', ',')}}</span>
		<button data-evt="cardGoCRM">CRM</button>
		<div class="whale-card__saleperson" data-cell="saleperson">
			{{ whale.saleperson_xedit | raw }}
		</div>
	</div>

	{# Profile Group -- avatar / upload image / spender color #}
	<div class="whale-card__box">
		<div class="whale-card__profile">
			<div class="whale-card__avatar-group">
				<div class="whale-card__avatar --{{ whale.color_choice }}">
					<img src="{{whale.photo}}" alt="" id="avatar_photo_{{ whale.id }}">
					<div class="avatar-upload-btn">
						<form method="post" id="frm_whale_photo_{{ whale.id }}" class="frm_upload" action="/admin/json/update-whale-photo">
							<input type="hidden" name="whale_id" value="{{ whale.id }}"/>
							<input type="file" name="photo" accept="image/*" class="avatar_file" id="avatar_img_{{whale.id}}" onchange="$(this).parent().submit();">
						</form>
					</div>
				</div>
				<span class="spot-typo">{{whale.tab}}</span>
			</div>
			<div class="whale-card__profile-info">
				<h3 class="whale-card__name">{{whale.full_name | raw}}
					<span data-evt="openGoogleTip" class="ext-search"></span>
				</h3>
				{% if whale.edge_customer_number != '' %}
					<span class="typo_dim">Edge:
						{{ whale.edge_customer_number | raw }}</span>
				{% endif %}
				{{ whale.action_bar | raw }}
				{% if whale.wiki_link %}
					<div class="admin-linkbar --external">
						<a href="{{ whale.wiki_link }}" target="_blank" class="admin-link">
							<img src="./assets/link_wikipedia.svg" alt="">
						</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

	<div
		class="whale-card__main">

		{# Details #}
		<div class="whale-card__box --blank">
			<div class="whale-card__date">Updated
				{{whale.last_updated}}
			</div>

			<div class="whale-card__cells">
				{% if whale.have_phone and whale.have_phone != '' %}
					<div class="whale-card__cell" data-cell="phone">
						<span class="cell-title">Phone</span>
						<span class="cell-value">{{ whale.have_phone | raw }}</span>
					</div>
				{% endif %}
				{% if whale.have_email and whale.have_email != '' %}
					<div class="whale-card__cell" data-cell="email">
						<span class="cell-title">Email</span>
						<span class="cell-value">{{ whale.have_email | raw }}</span>
					</div>
				{% endif %}
				{% if whale.salary and whale.salary != '' %}
					<div class="whale-card__cell" data-cell="salary">
						<span class="cell-title">Salary</span>
						<span class="cell-value">{{ whale.salary | raw }}</span>
					</div>
				{% endif %}
				{% if whale.team_html and whale.team_html != '' %}
					<div class="whale-card__cell" data-cell="team">
						<span class="cell-title">Team</span>
						<span class="cell-value">{{ whale.team_html | raw }}</span>
					</div>
				{% endif %}
				{% if whale.career_earnings and whale.career_earnings != '' %}
					<div class="whale-card__cell" data-cell="total_pay">
						<span class="cell-title">Earnings</span>
						<span class="cell-value">{{ whale.career_earnings | raw }}</span>
					</div>
				{% endif %}
				{% if whale.state or whale.city %}
					<div class="whale-card__cell" data-cell="address">
						<span class="cell-title">Address</span>
						<span class="cell-value col-g-2">
							{{ whale.city | raw }},{{ whale.state | raw }}
						</span>
					</div>
				{% endif %}
				{% if whale.birthday and whale.birthday != '' %}
					<div class="whale-card__cell" data-cell="birthday">
						<span class="cell-title">Birthday</span>
						<span class="cell-value">{{ whale.birthday | raw}}</span>
					</div>
				{% endif %}
				{% if whale.at_atl and whale.at_atl != '' %}
					<div class="whale-card__cell" data-cell="at_atl">
						<span class="cell-title">At ATL</span>
						<span class="cell-value">{{ whale.at_atl | raw }}</span>
					</div>
				{% endif %}

				{% if whale.socials %}
					<div class="whale-card__cell" data-cell="socials">
						{% for key, obj in whale.socials %}
							{% if key == 'instagram' %}
								<div class="tb-social-btn instagram">
									<a href="{{ obj.link }}" target="_blank">{{ obj.username }}</a>
									<span class="tb-social-count">{{ obj.followers | raw }}</span>
								</div>
							{% endif %}
							{% if key == 'twitter' %}
								<div class="tb-social-btn x">
									<a href="{{ obj.link }}" target="_blank">{{ obj.username }}</a>
									<span class="tb-social-count">{{ obj.followers | raw}}</span>
								</div>
							{% endif %}
							{% if key == 'tiktok' %}
								<div class="tb-social-btn tiktok">
									<a href="{{ obj.link }}" target="_blank">{{ obj.username }}</a>
									<span class="tb-social-count">{{ obj.followers | raw }}</span>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>

		{# Quiz #}
		<div class="whale-card__box --quiz">
			<div class="whale-card__quiz-row">
				<span {% if whale.current_customer%} style="text-decoration: line-through" {% endif %}>Possible Customer</span>
				<div class="whale-card__quiz-form">
					<label>
						<input type="radio" name="whale_customer_{{whale.id}}" onchange="quickWhaleUpdate({{ whale.id }},'customer');" {% if whale.possible_customer %} checked {% endif %} value="1" {% if whale.current_customer%} disabled {% endif %}>
						<span {% if whale.current_customer%} style="text-decoration: line-through" {% endif %}>Yes</span>
					</label>
					<label>
						<input type="radio" name="whale_customer_{{whale.id}}" onchange="quickWhaleUpdate({{ whale.id }},'customer');" {% if whale.possible_customer == false %} checked {% endif %} value="0" {% if whale.current_customer%} disabled {% endif %}>
						<span {% if whale.current_customer%} style="text-decoration: line-through" {% endif %}>No</span>
					</label>
				</div>
			</div>
			<div class="whale-card__quiz-row">
				<span>Wears Jewelry?</span>
				<div class="whale-card__quiz-form">
					<label>
						<input type="radio" name="whale_jewelry_{{whale.id}}" onchange="quickWhaleUpdate({{ whale.id }},'jewelry');" {% if whale.wear_jewelry %} checked {% endif %} value="1">
						<span>Yes</span>
					</label>
					<label>
						<input type="radio" name="whale_jewelry_{{whale.id}}" onchange="quickWhaleUpdate({{ whale.id }},'jewelry');" {% if whale.wear_jewelry == false %} checked {% endif %} value="0">
						<span>No</span>
					</label>
				</div>
			</div>
			<div class="whale-card__quiz-row">
				<span>Try For Address?</span>
				<div class="whale-card__quiz-form">
					<label>
						<input type="radio" name="whale_address_{{whale.id}}" value="1" onchange="quickWhaleUpdate({{ whale.id }},'address');" {% if whale.try_address %} checked {% endif %}>
						<span>Yes</span>
					</label>
					<label>
						<input type="radio" name="whale_address_{{whale.id}}" value="0" onchange="quickWhaleUpdate({{ whale.id }},'address');" {% if whale.try_address == false %} checked {% endif %}>
						<span>No</span>
					</label>
				</div>
			</div>
			<div class="whale-card__quiz-row">
				<span>Current Customer ?</span>
				<div class="whale-card__quiz-form">
					<label>
						<input type="radio" name="whale_current_customer_{{whale.id}}" value="1" onchange="quickWhaleUpdate({{ whale.id }},'current_customer');" {% if whale.current_customer %} checked {% endif %}>
						<span>Yes</span>
					</label>
					<label>
						<input type="radio" name="whale_current_customer_{{whale.id}}" value="0" onchange="quickWhaleUpdate({{ whale.id }},'current_customer');" {% if whale.current_customer == false %} checked {% endif %}>
						<span>No</span>
					</label>
				</div>
			</div>
			<div class="whale-card__quiz-row">
				<span>Visited Icebox ?</span>
				<div class="whale-card__quiz-form">
					<label>
						<input type="radio" name="whale_visited_icebox_{{whale.id}}" value="1" onchange="quickWhaleUpdate({{ whale.id }},'visited_icebox');" {% if whale.visited %} checked {% endif %}>
						<span>Yes</span>
					</label>
					<label>
						<input type="radio" name="whale_visited_icebox_{{whale.id}}" value="0" onchange="quickWhaleUpdate({{ whale.id }},'visited_icebox');" {% if whale.visited == false %} checked {% endif %}>
						<span>No</span>
					</label>
				</div>
			</div>
			<div class="whale-card__quiz-row">
				<span>Catalog Sent ?</span>
				<div class="whale-card__quiz-form">
					<label>
						<input type="radio" name="whale_catalog_sent_{{whale.id}}" value="1" onchange="quickWhaleUpdate({{ whale.id }},'catalog_sent');" {% if whale.catalog_sent %} checked {% endif %}>
						<span>Yes</span>
					</label>
					<label>
						<input type="radio" name="whale_catalog_sent_{{whale.id}}" value="0" onchange="quickWhaleUpdate({{ whale.id }},'catalog_sent');" {% if whale.catalog_sent == false %} checked {% endif %}>
						<span>No</span>
					</label>
				</div>
			</div>
			{% if whale.edge_customer_number == '' %}
				<div class="whale-card__quiz-row">
					<span>Edge Link</span>
					<div class="whale-card__quiz-form">
						<label>
							<input type="radio" name="whale_edge_link_{{whale.id}}" value="1" onchange="quickWhaleUpdate({{ whale.id }},'edge_link');" {% if whale.edge_link %} checked {% endif %}>
							<span>SUNNI</span>
						</label>
						<label>
							<input type="radio" name="whale_edge_link_{{whale.id}}" value="0" onchange="quickWhaleUpdate({{ whale.id }},'edge_link');" {% if whale.edge_link == false %} checked {% endif %}>
							<span>No</span>
						</label>
					</div>
				</div>
			{% endif %}
		</div>

		{# Notes #}
		<div class="whale-card__notes">
			<div class="whale-card__notes-scroll" id="whale_notes_{{ whale.id }}">
				{% for note in whale.notes %}
					<div class="whale-card__note">
						<div class="whale-card__note-date">{{note.date}}</div>
						<div class="whale-card__note-text">
							<span class="whale-card__note-author">{{note.author}}
							</span>:
							{{note.text}}
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="whale-card__notes-footer">
				<div class="am-item__note-form">
					<input class="am-note-input" id="new_whale_note_{{ whale.id }}" autocomplete="off" placeholder="New note here..." type="text">
					<button onclick="AddWhaleNote({{ whale.id }});">Add</button>
				</div>
			</div>
		</div>
	</div>
</div>
