<div class="vday-banner">
	<div
		class="vday-banner__content">

		{# Hearts canvas #}
		<div class="vday-hearts">
			<div class="vday-canvas-wrap">
				<canvas id="heartsCanvas" style="width: 100%; height: 100%; display: block;"></canvas>
			</div>
		</div>

		{# Main Content #}
		<div class="vday-main">
			<img sizes="(max-width: 914px) 100vw, 914px" src="{{THEME_ASSETS_FOLDER}}promo/vday/2024/main-heart.avif" loading="eager" class="vday-img">
			<div class="vday-top-ribbon flipped rb2">
				<img loading="eager" src="{{THEME_ASSETS_FOLDER}}promo/vday/2024/ribbon-2.avif" alt="" class="vday-ribbon-img">
			</div>
			<div class="vday-top-ribbon rb1">
				<img loading="eager" src="{{THEME_ASSETS_FOLDER}}promo/vday/2024/ribbon-1.avif" alt="" class="vday-ribbon-img">
			</div>
			<div class="vday-heart vh1">
				<img loading="eager" src="{{THEME_ASSETS_FOLDER}}promo/vday/2024/heart-1.avif" alt="" class="vday-heart-img">
			</div>
			<div class="vday-heart vh2">
				<img loading="eager" src="{{THEME_ASSETS_FOLDER}}promo/vday/2024/heart-2.avif" alt="" class="vday-heart-img">
			</div>
		</div>

		{# Ticker #}
		<div class="vday-ticker-row">
			{% for i in 0..9 %}
				<div class="vday-ticker">
					<div>LIMITED OFFERS!</div>
					<div class="vday-ticker__divider"></div>
					<div>SALE UP TO 70% OFF</div>
					<div class="vday-ticker__divider"></div>
					<div>FOR HIM &amp; HER</div>
					<div class="vday-ticker__divider"></div>
				</div>
			{% endfor %}
		</div>
	</div>

	{# Sparkle Video Flipped #}
	<div class="vday-banner__video is-flipped">
		<video autoplay="" loop="" style="background-image:url(&quot;https://cdn.prod.website-files.com/673973a838958256e22d8612%2F677e66b22e54b5d00615518f_particle-video-3-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
			<source src="{{ THEME_ASSETS_FOLDER }}promo/vday/2024/sparkle-video.mp4">
		</video>
	</div>

	{# Sparkle Video #}
	<div class="vday-banner__video">
		<video autoplay="" loop="" style="background-image:url(&quot;https://cdn.prod.website-files.com/673973a838958256e22d8612%2F677e66b22e54b5d00615518f_particle-video-3-poster-00001.jpg&quot;)" muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
			<source src="{{ THEME_ASSETS_FOLDER }}promo/vday/2024/sparkle-video.mp4">
		</video>
	</div>

	{# Hearts pattern #}
	<div class="vday-banner__pattern"></div>
</div>
