<div class="breadcrumbs">
  <a href="/">Home</a>
  <a href="{{ product.category.href }}">{{ product.category.caption }}</a>
  <a href="{{ product.item.href }}" class="--last">{{ product.item.name }}{{ product.item.name }}{{ product.item.name }}</a>
</div>
