{% for pageFilter in pageFilters %}
  <div class="modal-side__row">
    <div class="filter-row">
      <div class="filter-head">
        <span>{{ pageFilter.title }}</span>
        {% include 'icons/arrow-flat-down.svg' %}
      </div>
      <div class="filter-toggle">
        <div class="filter-body">
          <div class="filter-list">
            {% for option in pageFilter.options %}
              <label class="custom-checkbox">
                <input type="{{ pageFilter.radio ? 'radio' : 'checkbox' }}" name="{{ option.name }}" value="{{ option.value }}" {{ option.checked ? 'checked' }} />
                <span>{{ option.caption }}</span>
              </label>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
