{% set whatsAppLink = "https://wa.me/7705841378?text=I'd%20like%20to%20buy%20" ~ productItem.name ~ ' ' ~ productItem.brand ~ ' ' ~ productItem.meta %}
{% set extraClassname = '' %}
{% if productItem.is_sold %}
  {% set extraClassname = extraClassname ~ ' --sold' %}
{% endif %}

<div class="product-card {{ extraClassname }}">
  {# Admin Overly #}
  {% if user.admin and show_admin_controls %}
    {% include 'ui/product-card/admin-card.twig' with {
      productItem: productItem
    } %}
  {% endif %}

  {# Media #}
  <div class="product-card__top">
    <div class="product-card__media">
      <a href="{{ productItem.href }}"><img src="{{ productItem.cover }}" alt="{{ productItem.brand }} {{ productItem.model }} {{ productItem.meta }}" /></a>
      {% if productItem.video_src %}
        <video playsinline="playsinline" muted="muted" loop="loop" preload="metadata" aria-label="{{ productItem.name }}" poster="{{ productItem.cover }}">
          {% for video in productItem.video_src %}
            <source src="{{ video }}" />
          {% endfor %}
        </video>
      {% endif %}
    </div>
  </div>

  {# Main #}
  <div class="product-card__main">
    {# Main -- Brand / Title / Meta #}
    <div class="product-card__main-details">
      {# Brand name #}
      {% if productItem.brand %}
        <span class="product-card__brand">{{ productItem.brand }}</span>
      {% endif %}

      {# Model name #}
      {% if productItem.name %}
        <h5 class="product-card__title">{{ productItem.name }}</h5>
      {% endif %}

      {# Meta #}
      {% if productItem.meta %}
        <span class="product-card__meta">{{ productItem.meta }}</span>
      {% endif %}
    </div>

    {# Main -- Material / Papers / Box #}
    <div class="product-card__specs">
      {# Material #}
      {% if productItem.material %}
        <span class="product-card__spec">
          {% include 'icons/material.svg' %}
          <span>{{ productItem.material }}</span>
        </span>
      {% endif %}

      {# Papers #}
      {% if productItem.papers is defined %}
        <span class="product-card__spec">
          {% if productItem.papers %}
            {% include 'icons/papers.svg' %}
            <span>Papers</span>
          {% else %}
            {% include 'icons/papers-no.svg' %}
            <span>No Papers</span>
          {% endif %}
        </span>
      {% endif %}

      {# Box #}
      {% if productItem.box is defined %}
        <span class="product-card__spec">
          {% if productItem.box %}
            {% include 'icons/box.svg' %}
            <span>Have Box</span>
          {% else %}
            {% include 'icons/box-no.svg' %}
            <span>No Box</span>
          {% endif %}
        </span>
      {% endif %}
    </div>

    {# Main -- Price / MSRP #}
    <div class="product-card__values">
      {# Price #}
      <div class="product-card__price">
        <span class="product-card__price-value">$ {{ productItem.price }}</span>
        {# MSRP Diff #}
        {% if productItem.msrp and productItem.is_watch_market %}
          {% set msrp_num = productItem.msrp_unformatted %}
          {% set price_num = productItem.price_range_unformatted %}
          {% set diff = (price_num - msrp_num) / msrp_num * 100 %}
          {% set class = diff > 0 ? '--low' : diff < 0 ? '--high' : '' %}

          <span class="product-card__price-diff {{ class }}">
            {% if diff > 0 %}
              {% include 'icons/stock-low.svg' %}
              <span>{{ diff|number_format(0) }}%</span>
            {% elseif diff < 0 %}
              {% include 'icons/stock-high.svg' %}
              <span>{{ (diff|number_format(0)) * -1 }}%</span>
            {% endif %}
          </span>
        {% endif %}
      </div>

      {# MSRP #}
      {% if productItem.msrp %}
        <div class="product-card__msrp">
          <span>MSRP: ${{ productItem.msrp }}</span>
        </div>
      {% endif %}
    </div>

    {# Whatsapp / Quick view #}
    <div class="product-card__actions">
      <a href="{{ whatsAppLink }}" target="_blank" class="product-card__action --whatsapp">
        {% include 'icons/whatsapp.svg' %}
        <span>Whatsapp</span>
      </a>
      <div class="product-card__action" data-action="quickView" data-id="{{ productItem.id }}">
        {% include 'icons/quick-view.svg' %}
        <span>Quick view</span>
      </div>
    </div>
  </div>
</div>
