<div
	class="checkout-flow">

	{# -- DONE : Contacts #}
	<div class="checkout-step --filled">
		<div class="checkout-step__wrapper">
			<div class="checkout-step__header">
				<h2 class="checkout-step__title">Contact Details</h2>
				<a href="/checkout" class="checkout-box__edit-btn">Edit</a>
			</div>
			<div class="checkout-step__summary">
				<span>{{shipping_address.email}}</span>
				<span>{{shipping_address.phone}}</span>
			</div>
		</div>
	</div>

	{# Shipping Method #}
	<div class="checkout-step">
		<div class="checkout-step__wrapper">
			<div class="checkout-step__header">
				<h2 class="checkout-step__title">Shipping Method</h2>
			</div>
			<div class="checkout-step__body">
				<div class="checkout-step__flow">
					<div class="checkout-multiselect">
						{% for method in shipping_methods %}
							<label for="{{ method.name }}" class="checkout__pseudo-cb">
								<input type="radio" id="{{ method.name }}" value="{{ method.name }}" name="option" {% if method.name == selected_method or method.name == 'International Shipping' %} checked {% endif %}>
								<div class="checkout__pseudo-cb-box --xs-pd">
									<div class="flex --12">
										<span class="checkout__pseudo-cb-dot"></span>
										<h5>{{ method.name }}</h5>
									</div>
									<span class="checkout__shipping-price">{{ method.formatted_price }}</span>
								</div>
							</label>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	{# -- END : Shipping Method #}

	{# Gift Wrapping #}
	<div class="checkout-step">
		<div class="checkout-step__wrapper">
			<label for="gift_wrap" class="checkout__pseudo-cb">
				<input type="checkbox" id="gift_wrap" name="gift_wrap">
				<div class="checkout__pseudo-cb-box --pd">
					<div class="flex --12">
						<span class="checkout__pseudo-cb-dot"></span>
						<h4>Free Gift Wrapping
							<span>Add touch of elegance with our free gift wrapping service</span>
						</h4>
					</div>
					<img src="{{THEME_ASSETS_FOLDER}}checkout/gift-wrap.webp" alt="Icebox gift wrapping" class="pseudo-radio__gift-img">
				</div>
			</label>
		</div>
	</div>
	{# -- END : Gift Wrapping #}

</div>
