<div
	class="checkout-flow">

	{# -- DONE : Contacts #}
	<div class="checkout-step --filled">
		<div class="checkout-step__wrapper">
			<div class="checkout-step__header">
				<h2 class="checkout-step__title">Contact Details</h2>
				<a href="/checkout" class="checkout-box__edit-btn">Edit</a>
			</div>
			<div class="checkout-step__summary">
				<span>{{ shipping_address.email }}</span>
				<span>{{ shipping_address.phone }}</span>
			</div>
		</div>
	</div>

	{# -- DONE : Shipping Method #}
	<div class="checkout-step --filled">
		<div class="checkout-step__wrapper">
			<div class="checkout-step__header">
				<h2 class="checkout-step__title">Shipping Method</h2>
				<a href="/checkout-step2" class="checkout-box__edit-btn">Edit</a>
			</div>
			<div class="checkout-step__summary">
				<span>{{selected_method}}</span>
				<span>
					{{ shipping_address.address1 }}
					{{ shipping_address.address2 }}</span>
				<span>
					{{shipping_address.city}},
					{{shipping_address.state}}
					{{ shipping_address.zip_code }}
					{{ shipping_address.country }}</span>
			</div>
		</div>
	</div>

	{# Payment Method #}
	<div class="checkout-step">
		<div class="checkout-step__wrapper">
			<div class="checkout-step__header">
				<h2 class="checkout-step__title">Payment Method</h2>
				<span class="checkout__secure-typo">Totally Secure Payment</span>
			</div>
			<div class="checkout-step__body">
				<div class="checkout-step__flow">
					<div
						class="checkout-multiselect">

						{# Visa / Mastercard #}
						{% if cart.payments.credit_cards %}
							<label for="gateway_card" class="checkout__pseudo-cb">
								<input type="radio" id="gateway_card" value="stripe" name="gateway" checked>
								<div class="checkout__pseudo-cb-box --xs-pd">
									<div class="flex">
										<span class="checkout__pseudo-cb-dot"></span>
										<h5>Credit / Debit Card</h5>
									</div>
									<div class="flex">
										<img src="{{ THEME_ASSETS_FOLDER }}checkout/check_pay-visa.svg" alt="VISA" class="checkout__pay-img">
										<img src="{{ THEME_ASSETS_FOLDER }}checkout/check_pay-mastercard.svg" alt="Mastercard" class="checkout__pay-img">
									</div>
								</div>
								<div class="checkout__pseudo-cb-drop">
									<span class="checkout__payment-typo">After clicking “Complete order”, you will be redirected to complete your purchase securely.</span>
									<span class="checkout__payment-price">Total
										{{ cart.total }}
									</span>
								</div>
							</label>
						{% endif %}

						{# GPay / Apple Pay #}
						{% if cart.payments.credit_cards %}
							<label for="gateway_gpay" class="checkout__pseudo-cb">
								<input type="radio" id="gateway_gpay" value="stripe" name="gateway">
								<div class="checkout__pseudo-cb-box --xs-pd">
									<div class="flex">
										<span class="checkout__pseudo-cb-dot"></span>
										<h5>Google Pay / Apple Pay</h5>
									</div>
									<div class="flex">
										<img src="{{ THEME_ASSETS_FOLDER }}checkout/check_pay-gpay.svg" alt="GPay" class="checkout__pay-img">
										<img src="{{ THEME_ASSETS_FOLDER }}checkout/check_pay-apple.svg" alt="Apple Pay" class="checkout__pay-img">
									</div>
								</div>
								<div class="checkout__pseudo-cb-drop">
									<span class="checkout__payment-typo">After clicking “Complete order”, you will be redirected to complete your purchase securely.</span>
									<span class="checkout__payment-price">Total
										{{ cart.total }}
									</span>
								</div>
							</label>
						{% endif %}

						{# Affirm #}
						{% if cart.payments.affirm %}
							<label for="gateway_affirm" class="checkout__pseudo-cb">
								<input type="radio" id="gateway_affirm" value="affirm" name="gateway">
								<div class="checkout__pseudo-cb-box --xs-pd">
									<div class="flex">
										<span class="checkout__pseudo-cb-dot"></span>
										<h5>Affirm</h5>
									</div>
									<div class="flex">
										<img src="{{ THEME_ASSETS_FOLDER }}checkout/check_pay-affirm.svg" alt="Affirm" class="checkout__pay-img">
									</div>
								</div>
								<div class="checkout__pseudo-cb-drop">
									<span class="checkout__payment-typo">After clicking “Complete order”, you will be redirected to complete your purchase securely.</span>
									<span class="checkout__payment-price">Total
										{{ cart.total }}
									</span>
									<div class="checkout-form__pay-details">
										<div id="affirm-message"></div>
									</div>
								</div>
							</label>
						{% endif %}

						{# Klarna #}
						{% if cart.payments.klarna %}
							<label for="gateway_klarna" class="checkout__pseudo-cb">
								<input type="radio" id="gateway_klarna" value="klarna" name="gateway">
								<div class="checkout__pseudo-cb-box --xs-pd">
									<div class="flex">
										<span class="checkout__pseudo-cb-dot"></span>
										<h5>Klarna</h5>
									</div>
									<div class="flex">
										<img src="{{ THEME_ASSETS_FOLDER }}checkout/checkout_klarna.svg" alt="Klarna" class="checkout__pay-img">
									</div>
								</div>
								<div class="checkout__pseudo-cb-drop">
									<span class="checkout__payment-typo">After clicking "Complete order", you will be redirected to complete your purchase securely.</span>
									<span class="checkout__payment-price">Total
										{{ cart.total }}
									</span>
									<div class="checkout-form__pay-details">
										<div id="klarna-message"></div>
									</div>
								</div>
							</label>
						{% endif %}

						{# Afterpay #}
						{% if cart.payments.afterpay %}
							<label for="gateway_afterpay" class="checkout__pseudo-cb">
								<input type="radio" id="gateway_afterpay" value="afterpay" name="gateway">
								<div class="checkout__pseudo-cb-box --xs-pd">
									<div class="flex">
										<span class="checkout__pseudo-cb-dot"></span>
										<h5>Afterpay</h5>
									</div>
									<div class="flex">
										<img src="{{ THEME_ASSETS_FOLDER }}checkout/checkout_afterpay.svg" alt="Afterpay" class="checkout__pay-img --lg">
									</div>
								</div>
								<div class="checkout__pseudo-cb-drop">
									<span class="checkout__payment-typo">After clicking "Complete order", you will be redirected to complete your purchase securely.</span>
									<span class="checkout__payment-price">Total
										{{ cart.total }}
									</span>
									<div class="checkout-form__pay-details">
										<div id="afterpay-message"></div>
									</div>
								</div>
							</label>
						{% endif %}

						{# BitPay #}
						{% if cart.payments.bitpay %}
							<label for="gateway_bitpay" class="checkout__pseudo-cb">
								<input type="radio" id="gateway_bitpay" value="bitpay" name="gateway">
								<div class="checkout__pseudo-cb-box --xs-pd">
									<div class="flex">
										<span class="checkout__pseudo-cb-dot"></span>
										<h5>BitPay</h5>
									</div>
									<div class="flex">
										<img src="{{ THEME_ASSETS_FOLDER }}checkout/check_pay-bitpay.svg" alt="BitPay" class="checkout__pay-img">
									</div>
								</div>
								<div class="checkout__pseudo-cb-drop">
									<span class="checkout__payment-typo">After clicking "Complete order", you will be redirected to complete your purchase securely.</span>
									<span class="checkout__payment-price">Total
										{{ cart.total }}</span>
									<div class="checkout-form__pay-details">
										<div id="bitpay-message"></div>
									</div>
								</div>
							</label>
						{% endif %}

						{# USDT ERC20 #}
						{% if cart.payments.usdt_erc20 %}
							<label for="gateway_usdt_erc20" class="checkout__pseudo-cb">
								<input type="radio" id="gateway_usdt_erc20" value="usdt erc20" name="gateway">
								<div class="checkout__pseudo-cb-box --xs-pd">
									<div class="flex">
										<span class="checkout__pseudo-cb-dot"></span>
										<h5>USDT ERC20</h5>
									</div>
									<div class="flex">
										<img src="{{ THEME_ASSETS_FOLDER }}checkout/check_pay-usdt.svg" alt="USDT" class="checkout__pay-img">
									</div>
								</div>
								<div class="checkout__pseudo-cb-drop">
									<span class="checkout__payment-typo">Transfer the cryptocurrency directly to us and send us a screenshot on WhatsApp.</span>
									<span class="checkout__payment-price">Total
										{{ cart.total }}</span>
									<div data-copy-address data-crypto-address="0xc3d6cb5d8f1f2510f4512d00a5a3423BBC1EA5e6" class="checkout__crypto-address">
										<span>0xc3d6cb5d8f1f2510f4512d00a5a3423BBC1EA5e6</span>
									</div>
									<div class="checkout__crypto-controls">
										<a href="javascript:void(0)" data-copy-address>Copy Address</a>
										<a href="/chat-whatsapp" target="_blank" class="--wa">WhatsApp</a>
									</div>
								</div>
							</label>
						{% endif %}

						{# USDT TRX #}
						{% if cart.payments.usdt_trx %}
							<label for="gateway_usdt_trx" class="checkout__pseudo-cb">
								<input type="radio" id="gateway_usdt_trx" value="usdt trx" name="gateway">
								<div class="checkout__pseudo-cb-box --xs-pd">
									<div class="flex">
										<span class="checkout__pseudo-cb-dot"></span>
										<h5>USDT TRX</h5>
									</div>
									<div class="flex">
										<img src="{{ THEME_ASSETS_FOLDER }}checkout/check_pay-usdt.svg" alt="USDT" class="checkout__pay-img">
									</div>
								</div>
								<div class="checkout__pseudo-cb-drop">
									<span class="checkout__payment-typo">Transfer the cryptocurrency directly to us and send us a screenshot on WhatsApp.</span>
									<span class="checkout__payment-price">Total
										{{ cart.total }}</span>
									<div data-copy-address data-crypto-address="TNxdBaTSdhFjz7WLvDpWWiCS49uXWb58XY" class="checkout__crypto-address">
										<span>TNxdBaTSdhFjz7WLvDpWWiCS49uXWb58XY</span>
									</div>
									<div class="checkout__crypto-controls">
										<a href="javascript:void(0)" data-copy-address>Copy Address</a>
										<a href="/chat-whatsapp" target="_blank" class="--wa">WhatsApp</a>
									</div>
								</div>
							</label>
						{% endif %}

						{# Ethereum ERC20 #}
						{% if cart.payments.etherium %}
							<label for="gateway_eth" class="checkout__pseudo-cb">
								<input type="radio" id="gateway_eth" value="etherium" name="gateway">
								<div class="checkout__pseudo-cb-box --xs-pd">
									<div class="flex">
										<span class="checkout__pseudo-cb-dot"></span>
										<h5>Etherium ERC20</h5>
									</div>
									<div class="flex">
										<img src="{{ THEME_ASSETS_FOLDER }}checkout/check_pay-eth.svg" alt="ETH" class="checkout__pay-img">
									</div>
								</div>
								<div class="checkout__pseudo-cb-drop">
									<span class="checkout__payment-typo">Transfer the cryptocurrency directly to us and send us a screenshot on WhatsApp.</span>
									<span class="checkout__payment-price">Total
										{{ cart.total }}</span>
									<div data-copy-address data-crypto-address="0xc3d6cb5d8f1f2510f4512d00a5a3423BBC1EA5e6" class="checkout__crypto-address">
										<span>0xc3d6cb5d8f1f2510f4512d00a5a3423BBC1EA5e6</span>
									</div>
									<div class="checkout__crypto-controls">
										<a href="javascript:void(0)" data-copy-address>Copy Address</a>
										<a href="/chat-whatsapp" target="_blank" class="--wa">WhatsApp</a>
									</div>
								</div>
							</label>
						{% endif %}

						{# Bitcoin #}
						{% if cart.payments.bitcoin %}
							<label for="gateway_btc" class="checkout__pseudo-cb">
								<input type="radio" id="gateway_btc" value="bitcoin" name="gateway">
								<div class="checkout__pseudo-cb-box --xs-pd">
									<div class="flex">
										<span class="checkout__pseudo-cb-dot"></span>
										<h5>Bitcoin</h5>
									</div>
									<div class="flex">
										<img src="{{ THEME_ASSETS_FOLDER }}checkout/check_pay-bitcoin.svg" alt="BTC" class="checkout__pay-img --lg">
									</div>
								</div>
								<div class="checkout__pseudo-cb-drop">
									<span class="checkout__payment-typo">Transfer the cryptocurrency directly to us and send us a screenshot on WhatsApp.</span>
									<span class="checkout__payment-price">Total
										{{ cart.total }}</span>
									<div data-copy-address data-crypto-address="bc1qrhx0f0kemvshwynejuffamxsp8qwwh9kvk0w03" class="checkout__crypto-address">
										<span>bc1qrhx0f0kemvshwynejuffamxsp8qwwh9kvk0w03</span>
									</div>
									<div class="checkout__crypto-controls">
										<a href="javascript:void(0)" data-copy-address>Copy Address</a>
										<a href="/chat-whatsapp" target="_blank" class="--wa">WhatsApp</a>
									</div>
								</div>
							</label>
						{% endif %}

						{# PayPal #}
						{% if cart.payments.paypal %}
							<label for="gateway_paypal" class="checkout__pseudo-cb">
								<input type="radio" id="gateway_paypal" value="paypal" name="gateway">
								<div class="checkout__pseudo-cb-box --xs-pd">
									<div class="flex">
										<span class="checkout__pseudo-cb-dot"></span>
										<h5>PayPal</h5>
									</div>
									<div class="flex">
										<img src="{{ THEME_ASSETS_FOLDER }}checkout/check_pay-paypal.svg" alt="PayPal" class="checkout__pay-img --lg">
									</div>
								</div>
								<div class="checkout__pseudo-cb-drop">
									<span class="checkout__payment-typo">After clicking "Complete order", you will be redirected to complete your purchase securely.</span>
									<span class="checkout__payment-price">Total
										{{ cart.total }}
									</span>
								</div>
							</label>
						{% endif %}

						{# Wire Transfer #}
						{% if cart.payments.wire_transfer %}
							<label for="gateway_wire" class="checkout__pseudo-cb">
								<input type="radio" id="gateway_wire" name="gateway" value="wire-transfer" {% if cart.default_payment_method == 'wire_transfer'%} checked {% endif %}>
								<div class="checkout__pseudo-cb-box --xs-pd">
									<div class="flex">
										<span class="checkout__pseudo-cb-dot"></span>
										<h5>Wire Transfer</h5>
									</div>
									<div class="flex">
										<img src="{{ THEME_ASSETS_FOLDER }}checkout/check_pay-wire.svg" alt="Wire Transfer" class="checkout__pay-img">
									</div>
								</div>
								<div class="checkout__pseudo-cb-drop">
									<span class="checkout__payment-typo">After clicking “Complete order”, you will recieve an email with instructions on how to pay your order with a Bank Wire-Transfer.</span>
									<span class="checkout__payment-price">Total
										{{ cart.total }}
									</span>
								</div>
							</label>
						{% endif %}

					</div>
				</div>
			</div>
		</div>
	</div>
	{# -- END : Payment Method #}

	{# Billing Address #}
	<div class="checkout-step">
		<div class="checkout-step__wrapper">
			<div class="checkout-step__header">
				<h2 class="checkout-step__title">Billing Address</h2>
			</div>
			<div class="checkout-step__body">
				<div class="checkout-step__flow">
					<div class="checkout-multiselect">

						<label for="shippingAddress" class="checkout__pseudo-cb">
							<input type="radio" id="shippingAddress" value="same" name="same_billing" checked>
							<div class="checkout__pseudo-cb-box --xs-pd">
								<div class="flex">
									<span class="checkout__pseudo-cb-dot"></span>
									<h5>Same as Shipping Address</h5>
								</div>
							</div>
						</label>

						<label for="billingAddress" class="checkout__pseudo-cb">
							<input type="radio" id="billingAddress" value="different" name="same_billing">
							<div class="checkout__pseudo-cb-box --xs-pd">
								<div class="flex">
									<span class="checkout__pseudo-cb-dot"></span>
									<h5>Use a different billing address</h5>
								</div>
							</div>
							<div class="checkout__pseudo-cb-drop">
								<div
									class="checkout-step__input-grid">
									{# First Name #}
									<div class="checkout-form__input-wrap">
										<label for="checkoutBillingName" class="checkout-form__input-label">Name</label>
										<input type="text" class="checkout-form__input" id="checkoutBillingName" name="bl_first_name" value="{{ user.first_name }}" pattern="[a-zA-Z][a-zA-Z\s]*" placeholder="Your First Name">
										<span class="checkout-form__err-msg">Something Went Wrong. Try Again</span>
									</div>

									{# Last Name #}
									<div class="checkout-form__input-wrap">
										<label for="checkoutBillingSurname" class="checkout-form__input-label">Last Name</label>
										<input type="text" class="checkout-form__input" id="checkoutBillingSurname" name="bl_last_name" value="{{ user.last_name }}" placeholder="Your Last Name">
										<span class="checkout-form__err-msg">Something Went Wrong. Try Again</span>
									</div>

									{# Address #}
									<div class="checkout-form__input-wrap">
										<label for="checkoutBillingAddress" class="checkout-form__input-label">Address</label>
										<input type="text" class="checkout-form__input pac-target-input" id="checkoutBillingAddress" name="bl_address" value="{{ user.billing_address.address1 }}" placeholder="Enter a location">
										<span class="checkout-form__err-msg">Something Went Wrong. Try Again</span>
									</div>

									{# Address 2 #}
									<div class="checkout-form__input-wrap">
										<label for="address2" class="checkout-form__input-label">Apartment, suite, etc</label>
										<input type="text" class="checkout-form__input" id="checkoutBillingSuite" name="bl_address2" value="{{ user.billing_address.address2 }}">
										<span class="checkout-form__err-msg">Something Went Wrong. Try Again</span>
									</div>

									{# Country #}
									<div class="checkout-form__input-wrap">
										<label for="checkoutBillingCountry" class="checkout-form__input-label">Country</label>
										<div class="checkout-form__select-wrap">
											<select class="checkout-form__input  crs-country" id="checkoutBillingCountry" name="bl_country" data-region-id="checkoutBillingRegion" data-default-value="{{ user.billing_address.country }}">
												<option value="">Select country</option>
											</select>
											<span class="checkout-form__select-icon"></span>
										</div>
										<span class="checkout-form__err-msg">Something Went Wrong. Try Again</span>
									</div>

									{# Region #}
									<div class="checkout-form__input-wrap">
										<label for="checkoutBillingRegion" class="checkout-form__input-label">Region</label>
										<div class="checkout-form__select-wrap">
											<select class="checkout-form__input to-select" id="checkoutBillingRegion" name="bl_state" data-default-value="{{ user.billing_address.state }}"></select>
											<span class="checkout-form__select-icon"></span>
										</div>
										<span class="checkout-form__err-msg">Something Went Wrong. Try Again</span>
									</div>

									{# City #}
									<div class="checkout-form__input-wrap">
										<label for="checkoutBillingCity" class="checkout-form__input-label">City</label>
										<input type="text" class="checkout-form__input" id="checkoutBillingCity" value="{{ user.billing_address.city }}" name="blcity">
										<span class="checkout-form__err-msg">Something Went Wrong. Try Again</span>
									</div>

									{# Zip Code #}
									<div class="checkout-form__input-wrap">
										<label for="checkoutBillingZip" class="checkout-form__input-label">Zip Code</label>
										<input type="text" class="checkout-form__input pac-target-input" id="checkoutBillingZip" name="bl_zip" placeholder="Zip Code" value="{{ user.billing_address.zip_code }}">
										<span class="checkout-form__err-msg">Something Went Wrong. Try Again</span>
									</div>
								</div>
							</div>
						</label>

					</div>
				</div>
			</div>
		</div>
	</div>
	{# -- END : Billing Address #}

	{# International Orders Customs & Additional Fees #}
	<div class="checkout-step">
		<div class="checkout-step__wrapper">
			<label for="customs_fees" class="checkout__pseudo-cb">
				<input type="checkbox" id="customs_fees" name="customs_fees" value="1" required>
				<div class="checkout__pseudo-cb-box --pd">
					<div class="flex --12 --align-top">
						<span class="checkout__pseudo-cb-dot"></span>
						<h4>International Orders Customs & Additional Fees
							<span>I Accept that the customs office of the destination country or region may impose customs fees and other charges to my international order and are the responsibility of the recipient.</span>
						</h4>
					</div>
				</div>
			</label>
		</div>
	</div>
	{# -- END : International Orders Customs & Additional Fees #}

</div>
