<div class="am-content am-content_whales am-content_saks">
	<div class="am-content__wrapper">
		<div class="am-main__flow">
			<div class="am-container">

				<div class="am-row__header">
					<div class="am_vertical-start">
						<h2 class="am-main__header-title">SAKS Customers</h2>
						<div class="am-main__subtitle">
							<span>Store: All</span>
						</div>
					</div>
				</div>

				<div id="box_saks_customers" class="tb-box">
					<div id="saks_customers_nav" class="dt-buttons">
          {% for store in stores %}
            <button data-store-nav="{{store.id}}" class="am-btn --blue">{{store.name}}</button>
          {% endfor %}
					</div>

					{% for store in stores %}
						<div data-store-id="{{store.id}}" class="tb-main-content">
							<div class="tb-box__title">
								<h4>{{store.name}}
									Customers</h4>
								<span>{{store.customers|length}}
									total customers</span>
                  <button data-evt="addSaksCustomer" class="tb-box__add-btn">+ Add New</button>
							</div>
							<div class="tb-table-container">
								<table class="tb-table">
									<thead>
										<tr>
											<th>Added By</th>
											<th>Name</th>
											<th>Number</th>
											<th>Instagram</th>
											<th>Email</th>
											<th>Visit Date</th>
										</tr>
									</thead>
									<tbody>
										{% for customer in store.customers %}
											<tr>
												{% for key, value in customer %}
													{% if key == 'instagram' %}
														<td>
															<a class="tb-social-btn instagram">
																<div>{{value}}</div>
															</a>
														</td>
													{% else %}
														<td data-td="{{key}}">{{value}}</td>
													{% endif %}
												{% endfor %}
											</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					{% endfor %}

				</div>


			</div>
		</div>
		<!-- #endregion -->
	</div>
</div>
