{% if table_view %}
	<div class="am-content">
		<div class="am-content__wrapper">
			<div
				class="tb-box">
				<!-- #region Title -->
				<div class="tb-box__title">
					<h3>{{ title }}</h3>
				</div>
				<!-- #endregion -->
				<!-- #region Controls -->
				<div class="tb-box__controls">

					<div class="tb-controls-group">
						<button class="tb-btn">
							{% if table_view %}
								{% include "admin/svg/icon_columns.svg" %}
							{% else %}
								{% include "admin/svg/icon_grid.svg" %}
							{% endif %}
							<span>
								{% if table_view %}
									Table View
								{% else %}
									Grid View
								{% endif %}

							</span>
						</button>
						<div class="tb-btn-wrap">
							<button data-tb-dropdown class="tb-btn">
								{% include "admin/svg/icon_more.svg" %}
							</button>
							<div class="tb-dropdown">
								<div class="tb-dropdown__wrapper">
									<div class="tb-view-switch">
										<a href="{{ table_view_link }}" class="tab-view-btn {%if table_view %} is-active {% endif %}">
											{% include "admin/svg/icon_list.svg" %}
											<span>Table</span>
										</a>
										<a href="{{ grid_view_link }}" class="tab-view-btn {%if table_view == false %} is-active {% endif %}">
											{% include "admin/svg/icon_grid.svg" %}
											<span>Grid</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- #endregion -->

				<!-- #endregion -->
				<!-- #region Table -->
					<div
					class="tb-main-content"> {# Table #}
					<div class="tb-table-container">
						<table class="datatables" id="allTable">
							<thead>
								<tr>
									<th>Salesperson(s)</th>
									<th>Full Name</th>
									<th>Instagram Full</th>
									<th>Salary</th>
									<th>Team</th>
									<th>Total Pay</th>
									<th>Social</th>
									<th>City</th>
									<th>State</th>
									<th>ATL Stop</th>
									<th>URL</th>
									<th>Actions</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>

			</div>
		</div>
	</div>

{% else %}
	<div class="am-content am-content_whales --upd">
		<div
			class="am-content__wrapper">
			<!-- #region Content : Header -->
			<div class="am-main__header">
				<div class="am-container">
					<div class="am-row__header-wrapper">
						<div class="am-row__header">
							<div class="am_vertical-start">
								<h2 class="am-main__header-title">{{ title }}</h2>
								<style>
									.dt-scroll {
										display: none !important;
									}
								</style>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- #endregion -->
			<!-- #region Main Content -->
			<div class="am-main__flow">
				<div class="am-container">
					<div class="am-main__content">

						<div class="am-main__controls">
							<div class="am_flex8 --center">
								<button class="am-btn --royal" data-evt="goCRM">
									{% include "admin/svg/icon_cards.svg" %}
									<span>CRM Cards</span>
								</button>
								<button class="am-btn --royal_light" onclick="addWhale();">
									{% include "admin/svg/icon_person.svg" %}
									<span>Add Whale</span>
								</button>
								<a href="{{ table_view_link }}" class="am-btn --royal_light" onclick="addWhale();">
									{% include "admin/svg/icon_person.svg" %}
									<span>Table View</span>
								</a>
							</div>
						</div>

						{% if saleperson %}
							<div class="am_flex8">
								<div class="am-main__salesperson-row">
									<img src="{{ saleperson_photo }}" alt="">
									<span>These clients work with
										<span>{{ saleperson_name }}</span>
									</span>
								</div>
							</div>
						{% endif %}

						{% if saleperson %}
							<form action="" method="get">
								<div class="am_flex8">
									<label class="custom-checkbox --color --light_blue">
										<input type="radio" name="salesperson_spend" value="0">
										<div>
											<span>{{saleperson.spenders.light_blue|length}}</span>
										</div>
									</label>
									<label class="custom-checkbox --color --dark_blue">
										<input type="radio" name="salesperson_spend" value="1">
										<div>
											<span>{{saleperson.spenders.dark_blue|length}}</span>
										</div>
									</label>
									<label class="custom-checkbox --color --yellow">
										<input type="radio" name="salesperson_spend" value="2">
										<div>
											<span>{{saleperson.spenders.yellow|length}}</span>
										</div>
									</label>
									<label class="custom-checkbox --color --orange">
										<input type="radio" name="salesperson_spend" value="3">
										<div>
											<span>{{saleperson.spenders.orange|length}}</span>
										</div>
									</label>
									<label class="custom-checkbox --color --green">
										<input type="radio" name="salesperson_spend" value="4">
										<div>
											<span>{{saleperson.spenders.green|length}}</span>
										</div>
									</label>
									<label class="custom-checkbox --color --purple">
										<input type="radio" name="salesperson_spend" value="5">
										<div>
											<span>{{saleperson.spenders.purple|length}}</span>
										</div>
									</label>
								</div>
							</form>
						{% endif %}

						<table class="datatables" id="allTable" {% if table_view == false %} style="display:none" {% endif %}>
							<thead>
								<tr>
									<th>Salesperson(s)</th>
									<th>Full Name</th>
									<th>Instagram Full</th>
									<th>Salary</th>
									<th>Team</th>
									<th>Total Pay</th>
									<th>Social</th>
									<th>City</th>
									<th>State</th>
									<th>ATL Stop</th>
									<th>URL</th>
									<th>Actions</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
						<div class="tb-grid" id="grid_view"></div>
						<span class="loader"></span>
					</div>
				</div>
			</div>
			<!-- #endregion -->
		</div>
	</div>

{% endif %}

{# <div class="page-tip">24 clients</div> #}