<div id="custom_field{{option.id}}" class="product__item-option">
    <div class="product-option__head">
        <div class="product-option-name">{{option.name | raw}}</div>
        <div class="product-option__head-right">
            <div class="product-option__dd-icon">
                {% include "elements/product-page/svg/dropdown.svg" %}
            </div>
        </div>
    </div>
    <div class="product-option__body">
        <div class="product-option__wrapper">
            {% if option.chunks %}
                {% for chunk in option.chunk_sets %}
                    <div class="product-option-name">{{ chunk.caption }}</div>
                    <div class="options-block">

                        {% for optionBtn in chunk.set %}
                            <div class="cust_field_btn option-btn{% if optionBtn.active is defined %} is-active{% endif %}"  data-value="{{optionBtn.value}}">
                                <span>{{optionBtn.value}}{% if option.show_inches is defined %}"{% endif %}</span>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="options-block">
                    {% for optionBtn in option.set %}
                        <div class="cust_field_btn option-btn{% if optionBtn.active is defined %} is-active{% endif %}"  data-value="{{optionBtn.value}}">
                            <span>{{optionBtn.value}}{% if option.show_inches is defined %}"{% endif %}</span>
                        </div>
                    {% endfor %}
                </div>

            {% endif %}

        </div>
    </div>
    <input type="hidden" data-name="{{option.name}}"  id="custom_field_{{ option.id }}" data-action="Pick" class="custom-fields-fetch"  name="customInputNew[field][{{ option.id }}]" value="{{ option.selected_value }}">
</div>