<div class="cart-item">
	<div class="cart-item__main">
		<div class="cart-item__media">
			<img src="{{imgSrc}}" loading="lazy">
		</div>
		<div class="cart-item__details">
			<span class="cart-item__category">{{category}}</span>
			<div class="cart-item__info-row">
				<div class="cart-item__title-group">
					<a href="{{href}}" target="_blank" class="cart-item-name">{{name}}</a>
				</div>
				<div class="cart-item__options-group">
					<div class="cart-item__option">
						<span>QTY</span>:
						<span>{{ qty }}</span>
					</div>
					{% for option in options %}
						<div class="cart-item__option">
							<span>{{ option.name }}</span>:
							<span>{{ option.value | raw }}</span>
						</div>
					{% endfor %}
				</div>
			</div>

			<div class="cart-item__footer">
				<div class="cart-item__btn-group">
					<button id="cart_wish_btn_{{ key }}" class="cart-item__btn --wishlist{% if in_wishlist %} --active{% endif %}" {% if user and in_wishlist == false %} onclick="addToWishlist({{id}},{{ key }});" {% else %} {% if user == false %} onclick="window.signModal.open()" {% endif %} {% endif %}></button>
					<button class="cart-item__btn --remove" onclick="removeItemFromCart({{ key }})"></button>
				</div>
				<div class="cart-item__price-row">

					{% if salePrice %}
						<span class="cart-item-price">{{salePrice}}</span>
						<span class="cart-item-price_sale">{{price}}</span>
					{% else %}
						<span class="cart-item-price">{{price}}</span>
					{% endif %}

				</div>
			</div>
		</div>
	</div>
	{% if notice != '' %}
		<div class="cart-item__notice">
			{{notice | raw}}
		</div>
	{% endif %}
</div>
