<div class="care-modal">
	<div
		class="care-modal__wrapper">

		{# Close Button #}
		<button data-care-close class="care-modal__close-btn">
			{% include "components/svg/close.svg" %}
		</button>

		<div
			class="care-modal__content-grid">

			{# Cleaning Solution #}
			<div data-care-content="cleaning" class="care-modal__content">
				<div class="care-modal__header">
					<img src="{{THEME_ASSETS_FOLDER}}care_1.avif" alt="Gentle Cleaning Solution">
				</div>
				<div class="care-modal__body">
					<h3 class="care-modal__heading">
						<span>How to use</span>Gentle Cleaning Solution
					</h3>
					<div class="care-modal__row">
						<div class="care-modal__pic-wrap">
							<img src="{{THEME_ASSETS_FOLDER}}care_1.avif" alt="Gentle Cleaning Solution">
						</div>
						<div class="care-modal__info">
							<p>
								<span>1. Immerse jewelry in tray</span>Immerse jewelry in tray and agitate slightly. Soak for 2-5 minutes. Remove and rinse with water, then wipe dry with a soft cloth.
							</p>
						</div>
					</div>
					<div class="care-modal__row">
						<div class="care-modal__pic-wrap">
							<img loading="eager" src="{{THEME_ASSETS_FOLDER}}care_5.avif" alt="Applying Cleaning">
						</div>
						<div class="care-modal__info">
							<p>
								<span>2. Apply the cleaner</span>For timepieces and jewelry laden with dirt, apply cleaner with the small brush included. Repeat if necessary.
							</p>
						</div>
					</div>
					<div class="care-modal__row">
						<div class="care-modal__pic-wrap">
							<img loading="eager" src="{{THEME_ASSETS_FOLDER}}care_2.avif" alt="Polishing Cloth">
						</div>
						<div class="care-modal__info">
							<p>
								<span>3. Buff with Icebox Polishing Cloth</span>After drying, buff with our premium Icebox Polishing Cloth for a more thorough and long-lasting finish.
							</p>
						</div>
					</div>
				</div>
			</div>

			{# Polishing Cloth #}
			<div data-care-content="cloth" class="care-modal__content">
				<div class="care-modal__header">
					<img src="{{THEME_ASSETS_FOLDER}}care_2.avif" alt="Polishing Cloth">
				</div>
				<div class="care-modal__body">
					<h3 class="care-modal__heading">
						<span>How to use</span>Premium Polishing Cloth
					</h3>
					<div class="care-modal__row">
						<div class="care-modal__pic-wrap">
							<img src="{{THEME_ASSETS_FOLDER}}care_6.avif" alt="Wipe jewelry">
						</div>
						<div class="care-modal__info">
							<p>
								<span>1. Wipe your jewelry</span>Using the inner polishing cloth, gently wipe your jewelry to restore luster and achieve a high polish finish.
							</p>
						</div>
					</div>
					<div class="care-modal__row">
						<div class="care-modal__pic-wrap">
							<img src="{{THEME_ASSETS_FOLDER}}care_2.avif" alt="Buff with cloth">
						</div>
						<div class="care-modal__info">
							<p>
								<span>2. Lightly buff</span>Follow by buffing lightly with the lint-free cotton outer cloth to return the brilliant shine of your fine jewelry.
							</p>
						</div>
					</div>
					<div class="care-modal__row">
						<div class="care-modal__pic-wrap">
							<img src="{{THEME_ASSETS_FOLDER}}care_5.avif" alt="Clean dirty or heavily tarnished">
						</div>
						<div class="care-modal__info">
							<p>
								<span>3. Clean first</span>For dirty or heavily tarnished jewelry, clean first with our gentle Icebox Cleaning Solution.
							</p>
						</div>
					</div>
				</div>
			</div>

			{# Foaming Cleanser #}
			<div data-care-content="cleanser" class="care-modal__content">
				<div class="care-modal__header">
					<img src="{{THEME_ASSETS_FOLDER}}care_3.avif" alt="Gentle Foaming Cleanser">
				</div>
				<div class="care-modal__body">
					<h3 class="care-modal__heading">
						<span>How to use</span>Gentle Foaming Cleanser
					</h3>
					<div class="care-modal__row">
						<div class="care-modal__pic-wrap">
							<img src="{{THEME_ASSETS_FOLDER}}care_7.avif" alt="Place your items">
						</div>
						<div class="care-modal__info">
							<p>
								<span>1. Place your items</span>
								<strong>For a smaller jewelry:</strong>
								Remove cap and place on flat surface with jewelry inside.
								<br><br>
								<strong>For timepieces and larger jewelry:</strong>
								Place items in a bowl or dish on a flat surface.
							</p>
						</div>
					</div>
					<div class="care-modal__row">
						<div class="care-modal__pic-wrap">
							<img src="{{THEME_ASSETS_FOLDER}}care_8.avif" alt="Dispense Cleanser">
						</div>
						<div class="care-modal__info">
							<p>
								<span>2.Dispense Cleanser</span>Hold nozzle 1-2 inches away from jewelry and dispense 5-6 pumps of foaming cleanser to cover each piece thoroughly.
							</p>
						</div>
					</div>
					<div class="care-modal__row">
						<div class="care-modal__pic-wrap">
							<img src="{{THEME_ASSETS_FOLDER}}care_3.avif" alt="">
						</div>
						<div class="care-modal__info">
							<p>
								<span>3. Rinse in Water &amp; Dry</span>Once foam has settled, repeat and allow to soak until foam has dissipated. Rinse jewelry in water and dry with a soft cloth.
							</p>
						</div>
					</div>
					<div class="care-modal__row">
						<div class="care-modal__pic-wrap">
							<img loading="eager" src="{{THEME_ASSETS_FOLDER}}care_2.avif" alt="Buff with cloth">
						</div>
						<div class="care-modal__info">
							<p>
								<span>4. Buff with Icebox Polishing Cloth</span>After drying, buff with our premium Icebox Polishing Cloth for a more thorough and long-lasting finish.
							</p>
						</div>
					</div>
				</div>
			</div>

			{# Jewelry Pouches #}
			<div data-care-content="pouch" class="care-modal__content">
				<div class="care-modal__header">
					<img src="{{THEME_ASSETS_FOLDER}}care_4.avif" alt="Jewelry Pouch">
				</div>
				<div class="care-modal__body">
					<h3 class="care-modal__heading">
						<span>How to use</span>Protective Jewelry Pouches
					</h3>
					<div class="care-modal__row">
						<div class="care-modal__pic-wrap">
							<img src="{{THEME_ASSETS_FOLDER}}care_4.avif" alt="Jewelry Pouch">
						</div>
						<div class="care-modal__info">
							<p>
								<span>1. Choose the correct pouch</span>Choose a lightweight and compact protective Pouch that best fits the items you&#x27;ll be transporting or sorting.
							</p>
						</div>
					</div>
					<div class="care-modal__row">
						<div class="care-modal__pic-wrap">
							<img src="{{THEME_ASSETS_FOLDER}}care_9.avif" alt="Insert items">
						</div>
						<div class="care-modal__info">
							<p>
								<span>2. Clean &amp; Polish</span>Clean and polish your item before inserting. The clear window on each Pouch allows a quick view of the contents.
							</p>
						</div>
					</div>
					<div class="care-modal__row">
						<div class="care-modal__pic-wrap">
							<img src="{{THEME_ASSETS_FOLDER}}care_10.avif" alt="Items are Secure">
						</div>
						<div class="care-modal__info">
							<p>
								<span>3. Your items are Secure</span>The zipper closure will securely hold items in place as you travel or while in storage.
							</p>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</div>
