<div class="page-filters">
	<form class="wrapper" id="filtersFrm" action="{{ category.pagination_href }}">
		<div class="page-filters__wrapper">
			<div class="page-filters__group">
				<input type="hidden" name="p" id="current_page" value="1" />
				<input type="hidden" class="frm_input" name="sort" id="input_sortby" value="{{ sort_by_selection }}" />

				{% for filter_row in category.filters %}

				<div class="page-filter-box" id="filter_{{ loop.index }}">
					<button class="page-filter-btn" type="button">
						<span>{{ filter_row.title }}</span>
						{% include "elements/results/svg/arrow.svg" %}
					</button>
					<div class="page-filter-drop">
						<div class="page-filter-drop__container">
							{% for item in filter_row.values %}
							<a href="{{ item.href }}" class="{% if item.selected %}is-active{% endif %}"
								data-type="{{ filter_row.type }}" data-name="{{ filter_row.name }}" data-value="{{item.value}}">
								<span>
									{% if filter_row.is_color_filter %}
									<span class="color-gradient {{ item.extraClass }}"></span>
									{% endif %}
									{{item.caption}}{% if item.count is defined and user.admin %}<span>({{item.count}})</span>{% endif %}
								</span>
							</a>
							{% endfor %}
						</div>
					</div>
				</div>

				{% endfor %}


			</div>
			<div class="page-filters__group">
				<div class="page-filter-box">
					<button class="page-filter-btn" type="button">
						{% include "elements/results/svg/sort_new.svg" %}
						<span class="filter-dropdown__current">Sort By</span>
						{% include "elements/results/svg/arrow.svg" %}
					</button>
					<div class="page-filter-drop">
						<div class="page-filter-drop__container">
							{% for sorter in sorters %}
							<a
								onclick="updateSortByFilter('{{ sorter.value }}','{{ sorter.caption }}');$(this).parent().find('a').removeClass('is-active');$(this).addClass('is-active');">{{
								sorter.caption }}</a>
							{% endfor %}

						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>