<div class="results-sub --shapes">
	<div class="results-sub__wrap">
		<a href="/gia-products?diamondshape[]=Round" class="results-sub__item">
			<div><img src="{{THEME_ASSETS_FOLDER}}diamond-ring_round.webp" loading="eager" alt=""></div>
			<span>Round</span>
		</a>
		<a href="/gia-products?diamondshape[]=Pear" class="results-sub__item">
			<div><img src="{{THEME_ASSETS_FOLDER}}diamond-ring_pear.webp" loading="eager" alt=""></div>
			<span>Pear</span>
		</a>
		<a href="/gia-products?diamondshape[]=Oval" class="results-sub__item">
			<div><img src="{{THEME_ASSETS_FOLDER}}diamond-ring_oval.webp" loading="eager" alt=""></div>
			<span>Oval</span>
		</a>
		<a href="/gia-products?diamondshape[]=Princess" class="results-sub__item">
			<div><img src="{{THEME_ASSETS_FOLDER}}diamond-ring_princess.webp" loading="eager" alt=""></div>
			<span>Princess</span>
		</a>
		<a href="/gia-products?diamondshape[]=Emerald" class="results-sub__item">
			<div><img src="{{THEME_ASSETS_FOLDER}}diamond-ring_emerald.webp" loading="eager" alt=""></div>
			<span>Emeral</span>
		</a>
		<a href="/results/rings?sub[]=Engagement%20Rings" class="results-sub__item">
			<div><img src="{{THEME_ASSETS_FOLDER}}diamond-ring_wedding.webp" loading="eager" alt=""></div>
			<span>Wedding</span>
		</a>
	</div>
</div>
