<div class="res-banner">
<img src="{{category.imgSrc}}" loading="eager" sizes="100vw" alt="">
	<div class="res-banner__main">
		<div class="wrapper">
			<div class="results__descriptive-wrap">
				<div class="results__breadcrumbs">
					<a href="/">Icebox</a>
					<span>—</span>
					<a href="{{category.href}}">{{category.heading}}</a>
				</div>
				<h1 class="results__heading">{{category.heading}}<span>89</span>
				</h1>
        {% if category.subheading %}
				<p class="results__subheading">{{category.subheading}}</p>
        {% endif %}
			</div>
		</div>
	</div>
</div>
