{% set active = user.orders.active %}
{% set pending = user.orders.pending %}

<div class="account__wrapper">
	<aside class="account__sidebar">
		<div
			class="account__nav-wrap">
			<!--Profile welcome title-->
			<div class="account__nav-header">
				<span class="account__membership">Member since
					{{user.regDate|date("m/d/Y")}}</span>
				<h2 class="account__welcome-title">Welcome
					{{user.name}}!</h2>
				<span class="account__subtitle">Manage your orders, subscriptions, wishlist.</span>
			</div>
			<!--Profile navigation-->
			<nav class="account__nav-body">
				<ul id="profile-tabs" role="list" class="account__nav-list">
					<li class="account__nav-list-item">
						<a href="/account" class="account__switch-btn">Overview</a>
					</li>
					<li class="account__nav-list-item">
						<a href="/account/profile" class="account__switch-btn">My Profile</a>
					</li>
					<li class="account__nav-list-item">
						<a href="/account/address" class="account__switch-btn">Addresses</a>
					</li>
					<li class="account__nav-list-item">
						<a href="/account/orders" data-account="orders" class="account__switch-btn is-active">My Orders</a>
					</li>
					<li class="account__nav-list-item">
						<a href="/account/wishlist" class="account__switch-btn">Wishlist</a>
					</li>
					<li class="account__nav-list-item">
						<a href="/account/wishlist" class="account__switch-btn logout">Logout</a>
					</li>
				</ul>
			</nav>
		</div>
	</aside>

	<!--Profile content-->
	<div class="account__body">

		<section class="account-main orders" style="display:block;">


			<div class="account-main__header">
				<h4 class="account-main__title">My Orders</h4>
			</div>

			{% for order in active %}
				<div class="order-card">
					<div class="order-card__header">
						<h4 class="order-card__title">Order #{{order.id}}</h4>
						{% if order.status == 'Pending' %}
							<span class="order-card__status pending">{{order.status}}
								- need payment to complete</span>
						{% endif %}
						{% if order.status == 'Active' %}
							<span class="order-card__status success">{{order.status}}
								- order is shipping</span>
						{% endif %}
						{% if order.status == 'Cancelled' %}
							<span class="order-card__status cancel">{{order.status}}
								- order has been cancelled</span>
						{% endif %}
					</div>
					<div class="order-card__body">
						<div class="order__invoice">
							<div class="order__invoice-header">
								<span>Invoice</span>
								{% include "../components/svg/dropdown.svg" %}
							</div>
							<div class="order__invoice-body">
								<div class="invoice-card__details-main">
									<span class="invoice-card__detail">Order Date<span class="order__detail-span">{{order.date|date("m/d/Y")}}</span>
									</span>
									<span class="invoice-card__detail">Bill To:<span class="order__detail-span">{{order.billName}}</span>
									</span>
									<span class="invoice-card__detail">Order ID<span class="order__detail-span">#{{order.id}}</span>
									</span>
									<span class="invoice-card__detail">Total Items<span class="order__detail-span">{{order.items.length}}
											item</span>
									</span>
								</div>
								<div class="invoice-card__details-more">
									<div class="invoice-card__details-row">
										<span class="invoice-card__detail">Shipping Address:
											<span class="order__detail-span">
												<b>{{order.address.shipping.name}}
													{{order.address.shipping.lastName}}</b>
												<br>{{order.address.shipping.main}}
												<br>{{order.address.shipping.city}},
												{{order.address.shipping.region}}
												<br>{{order.address.shipping.country}}
											</span>
										</span>
									</div>
									<div class="invoice-card__details-row">
										<span class="invoice-card__detail">Billing Address:
											<span class="order__detail-span">
												{% if order.address.billing == false %}
													Same as shipping address
												{% else %}
													<b>{{order.address.billing.name}}
														{{order.address.billing.lastName}}</b>
													<br>{{order.address.billing.main}}
													<br>{{order.address.billing.city}},
													{{order.address.billing.region}}
													<br>{{order.address.billing.country}}
												{% endif %}
											</span>
										</span>
									</div>
								</div>
								<div class="invoice-card__details-more">
									<span class="invoice-card__cost shipping">Shipping Cost:<span>$
											{{order.shippingCost|number_format(2)}}
										</span>
									</span>
									<span class="invoice-card__cost product">Total Amount:<span>$
											{{order.totalAmount|number_format(2)}}
										</span>
									</span>
								</div>
							</div>
						</div>
						<div class="order-card__items-wrap">
							{% for item in order.items %}
								<div class="mybag-card">
									<div class="mybag-card__container">
										<div class="mybag-card__wrap">
											<div class="mybag-card__thumbnail">
												<img src="{{item.imgSrc}}" loading="lazy" class="mybag-card__picture">
											</div>
											<div class="mybag-card__content">
												<div class="mybag-card__content-wrap">
													<div class="mybag-card__header">
														<div class="mybag-card__thumbnail mybag-card__thumbnail_mobile">
															<img src="{{item.imgSrc}}" loading="lazy" class="mybag-card__picture">
														</div>
														<div class="mybag-card__title-group">
															<a href="{{item.href}}" target="_blank">
																<h5 class="mybag-card-title">{{item.name}}</h5>
															</a>
														</div>
													</div>
													<div class="mybag-card__details">
														<div class="mybag-card__options">
															{% for option in item.options %}
																<div class="mybag-card__option-row">
																	<span>{{option.name}}</span>
																	<span>{{option.value}}</span>
																</div>
															{% endfor %}
														</div>
														<div class="mybag-card__controls">
															<div class="mybag-card__controls-wrap">
																<div class="mybag-card__controls-group">
																	{% if item.salePrice %}
																		<span class="mybag-card-price card-price_old">${{item.price|number_format(0)}}</span>
																		<span class="mybag-card-price card-price_new">${{item.salePrice|number_format(0)}}</span>
																	{% else %}
																		<span class="mybag-card-price">${{item.price|number_format(0)}}</span>
																	{% endif %}
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
              <button class="finish-order-btn">Finish Order Now</button>
						</div>
					</div>
				</div>
			{% endfor %}


		</section>

	</div>
</div>
