{% set billing = user.billingAddress %}
{% set address = user.address %}

<div class="account__wrapper">
	<aside class="account__sidebar">
		<div
			class="account__nav-wrap">
			<!--Profile welcome title-->
			<div class="account__nav-header">
				<span class="account__membership">Member since
					{{user.regDate|date("m/d/Y")}}</span>
				<h2 class="account__welcome-title">Welcome
					{{user.name}}!</h2>
				<span class="account__subtitle">Manage your orders, subscriptions, wishlist.</span>
			</div>
			<!--Profile navigation-->
			<nav class="account__nav-body">
				<ul id="profile-tabs" role="list" class="account__nav-list">
					<li class="account__nav-list-item">
						<a href="/account" class="account__switch-btn">Overview</a>
					</li>
					<li class="account__nav-list-item">
						<a href="/account/profile" class="account__switch-btn">My Profile</a>
					</li>
					<li class="account__nav-list-item">
						<a href="/account/address" class="account__switch-btn is-active">Addresses</a>
					</li>
					<li class="account__nav-list-item">
						<a href="/account/orders" data-account="orders" class="account__switch-btn">My Orders</a>
					</li>
					<li class="account__nav-list-item">
						<a href="/account/wishlist" class="account__switch-btn">Wishlist</a>
					</li>
					<li class="account__nav-list-item">
						<a href="/account/wishlist" class="account__switch-btn logout">Logout</a>
					</li>
				</ul>
			</nav>
		</div>
	</aside>

	<!--Profile content-->
	<div class="account__body">

		<section class="account-main address" style="display:block;">
			<div class="account-main__header">
				<h4 class="account-main__title">Addresses</h4>
			</div>
			<div
				class="account__cards-wrap">
				<!--Shipping address-->
				<div class="profile-card">
					<div class="profile-card__header">
						<h4 class="profile-card__title">Billing Address</h4>
						<button data-edit="address" class="profile-card__change">
							Edit Address
						</button>
					</div>
					<div class="profile-card__body">
						<div class="profile-card__details">
							{% if billing.name %}
								{% if billing.lastName %}
									<span>{{billing.name}}
										{{billing.lastName}}</span>
								{% else %}
									<span>{{billing.name}}</span>
								{% endif %}
								{% if billing.main %}
									<span>{{billing.main}}</span>
								{% endif %}
								{% if billing.city %}
									<span>{{billing.city}}</span>
								{% endif %}
								{% if billing.region %}
									<span>{{billing.region}}</span>
								{% endif %}
							{% endif %}
							{% if user.phone %}
								<span>{{user.phone}}</span>
							{% endif %}
						</div>
						<div class="profile-card__details form">
							<div class="profile__form-wrap">
								<form method="post" class="profile-card__form" action="/update-billing-address">
									<div class="profile-card__input-wrap half">
										<div class="account__input-border">
											<input type="text" class="profile__input" placeholder="First Name" name="first_name" id="firstName" required="" value="{{billing.name}}">
										</div>
										<div class="account__input-border">
											<input type="text" class="profile__input" placeholder="Last Name" name="last_name" id="lastName" required="" value="{{billing.lastName}}">
										</div>
									</div>
									<div class="profile-card__input-wrap half">
										<div class="account__input-border">
											<input type="text" class="profile__input" placeholder="Phone Number" name="bl_phone" id="bl_phone" required="" value="{{user.phone}}">
										</div>
										<div class="account__input-border">
											<input type="text" class="profile__input" placeholder="Address" name="address1" id="address" required="" value="{{billing.main}}">
										</div>
									</div>
									<div class="profile-card__input-wrap">
										<div class="account__input-border">
											<input type="text" class="profile__input" placeholder="Apartments, suite etc (optional)" name="address2" id="addressDetails2" value="">
										</div>
									</div>
									<div class="profile-card__input-wrap half">
										<div class="account__input-border">
											<input type="text" class="profile__input" placeholder="City" name="city" id="city" required="" value="{{billing.city}}">
										</div>
										<div class="account__input-border">
											<input type="text" class="profile__input" placeholder="Region / State" name="state" id="state" required="" value="{{billing.region}}">
										</div>
									</div>
									<div class="profile-card__input-wrap half">
										<div class="account__input-border">
											<input type="text" class="profile__input" placeholder="Country" name="country" id="country2" required="" value="{{billing.country}}">
										</div>
										<div class="account__input-border">
											<input type="text" class="profile__input" placeholder="Postal Code" name="zip_code" id="postalCode2" required="" value="{{billing.postalCode}}">
										</div>
									</div>
									<div class="profile-card__input-wrap half">
										<div class="account__input-border">
											<input type="submit" value="Cancel" class="profile-card__form-btn cancel">
										</div>
										<div class="account__input-border">
											<input type="submit" value="Save Changes" class="profile-card__form-btn">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!--Billing address-->
				<div class="profile-card">
					<div class="profile-card__header">
						<h4 class="profile-card__title">Shipping Address</h4>
						<button data-edit="address" class="profile-card__change">
							Edit Address
						</button>
					</div>
					<div class="profile-card__body">
						<div class="profile-card__details info">
							{% if address.name %}
								{% if address.lastName %}
									<span>{{address.name}}
										{{address.lastName}}</span>
								{% else %}
									<span>{{address.name}}</span>
								{% endif %}
								{% if address.main %}
									<span>{{address.main}}</span>
								{% endif %}
								{% if address.city %}
									<span>{{address.city}}</span>
								{% endif %}
								{% if address.region %}
									<span>{{address.region}}</span>
								{% endif %}
							{% endif %}
							{% if user.phone %}
								<span>{{user.phone}}</span>
							{% endif %}
						</div>

						<div class="profile-card__details form">
							<div class="profile__form-wrap">
								<form method="post" class="profile-card__form" action="/update-shipping-address">
									<div class="profile-card__input-wrap half">
										<div class="account__input-border">
											<input type="text" class="profile__input" placeholder="First Name" name="first_name" id="firstName" value="{{address.name}}" required="">
										</div>
										<div class="account__input-border">
											<input type="text" class="profile__input" placeholder="Last Name" name="last_name" id="lastName" value="{{address.lastName}}" required="">
										</div>
									</div>
									<div class="profile-card__input-wrap half">
										<div class="account__input-border">
											<input type="text" class="profile__input" placeholder="Phone Number" name="sh_phone" id="sh_phone" value="{{user.phone}}" required="">
										</div>
										<div class="account__input-border">
											<input type="text" class="profile__input" placeholder="Address" name="address1" id="address" required="" value="{{address.main}}">
										</div>
									</div>
									<div class="profile-card__input-wrap">
										<div class="account__input-border">
											<input type="text" class="profile__input" placeholder="Apartments, suite etc (optional)" name="address2" id="addressDetails" value="{{address.suite}}">
										</div>
									</div>
									<div class="profile-card__input-wrap half">
										<div class="account__input-border">
											<input type="text" class="profile__input" value="{{address.city}}" placeholder="City" name="city" id="city" required="">
										</div>
										<div class="account__input-border">
											<input type="text" class="profile__input" value="{{address.region}}" placeholder="Region / State" name="state" id="state" required="">
										</div>
									</div>
									<div class="profile-card__input-wrap half">
										<div class="account__input-border">
											<input type="text" class="profile__input" value="{{address.country}}" placeholder="Country" name="country" id="country" required="">
										</div>
										<div class="account__input-border">
											<input type="text" class="profile__input" placeholder="Postal Code" name="zip_code" id="postalCode" required="" value="{{address.postalCode}}">
										</div>
									</div>
									<div class="profile-card__input-wrap half">
										<div class="account__input-border">
											<input type="submit" value="Cancel" class="profile-card__form-btn cancel">
										</div>
										<div class="account__input-border">
											<input type="submit" value="Save Changes" class="profile-card__form-btn">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

		</section>

	</div>
</div>
