<div class="account__wrapper">
	<aside class="account__sidebar">
		<div
			class="account__nav-wrap">
			<!--Profile welcome title-->
			<div class="account__nav-header">
				<span class="account__membership">Member since
					{{user.regDate|date("m/d/Y")}}</span>
				<h2 class="account__welcome-title">Welcome
					{{user.name}}!</h2>
				<span class="account__subtitle">Manage your orders, subscriptions, wishlist.</span>
			</div>
			<!--Profile navigation-->
			<nav class="account__nav-body">
				<ul id="profile-tabs" role="list" class="account__nav-list">
					<li class="account__nav-list-item">
						<a href="/account" class="account__switch-btn">Overview</a>
					</li>
					<li class="account__nav-list-item">
						<a href="/account/profile" class="account__switch-btn is-active">My Profile</a>
					</li>
					<li class="account__nav-list-item">
						<a href="/account/address" class="account__switch-btn">Addresses</a>
					</li>
					<li class="account__nav-list-item">
						<a href="/account/orders" data-account="orders" class="account__switch-btn">My Orders</a>
					</li>
					<li class="account__nav-list-item">
						<a href="/account/wishlist" class="account__switch-btn">Wishlist</a>
					</li>
					<li class="account__nav-list-item">
						<a href="/account/wishlist" class="account__switch-btn logout">Logout</a>
					</li>
				</ul>
			</nav>
		</div>
	</aside>

	<!--Profile content-->
	<div class="account__body">

		<section class="account-main profile" style="display:block">
			<div class="account-main__header">
				<h4 class="account-main__title">My Profile</h4>
			</div>
			<div class="account__cards-wrap for_personal">
				<div class="profile-card">
					<div class="profile-card__header">
						<h4 class="profile-card__title">Personal Details</h4>
						<button data-profile="save" class="profile-card__change edit" onclick="$('#submit_btn').click();">
							Save
						</button>
					</div>
					<!--Personal detials-->
					<div class="profile-card__body">
						<div class="profile-card__details">
							<div class="profile__form-wrap">
								<form class="profile-card__form" method="post" action="/update-profile" enctype="multipart/form-data">
									<input type="submit" name="submit" id="submit_btn">

									<div class="profile-card__input-wrap ">
										<div class="account__input-border">
											<input type="file" name="photo" id="accountPhotoInput" class="profile__input">
                      <input cl type="button" value="Select Photo..." onclick="document.getElementById('accountPhotoInput').click();" class="fileInputButton"/>
										</div>
									</div>
									<div class="profile-card__input-wrap half">
										<div class="account__input-border">
											<label>First Name</label>
											<input type="text" class="profile__input" name="first_name" placeholder="First Name" required="" value="{{user.name}}">
										</div>
										<div class="account__input-border">
											<label>Last Name</label>
											<input type="text" class="profile__input" name="last_name" placeholder="Last Name" required="" value="{{user.surname}}">
										</div>
									</div>
									<div class="profile-card__input-wrap half">
										<div class="account__input-border">
											<label>Email Address</label>
											<input type="text" class="profile__input " name="email" placeholder="Email Address" required="" value="{{user.email}}" disabled="">
										</div>
										<div class="account__input-border">
											<label>Phone Number</label>
											<input type="text" class="profile__input" name="phone" placeholder="Phone Number" required="" value="{{user.phone}}">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<!--Change password-->
				<div class="profile-card">
					<div class="profile-card__header">
						<h4 class="profile-card__title">Change Password</h4>
						<button data-profile="save" class="profile-card__change edit" onclick="$('#submit_btn').click();">
							Save
						</button>
					</div>
					<div class="profile-card__body">
						<div class="profile-card__details">
							<div class="profile__form-wrap">
								<form method="post" class="profile-card__form" action="/update-pwd">
									<input type="submit" name="submit" id="submit_btn_pwd">
									<div class="profile-card__password-grid">
										<div class="account__input-border">
											<input type="password" class="profile__input" placeholder="Current Password" name="password" required="" value="">
										</div>
										<div class="account__input-border">
											<input type="password" class="profile__input" name="password1" placeholder="New Password" required="" value="">
										</div>
										<div class="account__input-border">
											<input type="password" class="profile__input" name="password2" placeholder="Confirm New Password" required="" value="">
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
</div>
