<div class="main_article">

	<div class="article__wrapper">
		<div class="article-body">
			<div class="article-container">

				<div class="article__read-content">
					<div class="article-welcome">
						<div class="article__title-wrap">
							<h3 class="article-title">{{article.title}}</h3>
							<p class="article-summary">{{article.excerpt ?: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris'}}</p>
						</div>
						<span class="read-time">{{article.min_reading ?: '7'}}
							min reading</span>
					</div>

					<div class="article-cover">
						<img src="{{article.cover}}" loading="lazy" alt="">
					</div>

					<div class="article-spot">
						<span class="post-author">
							<span>{{article.author ?: 'Icebox Author'}}</span>
							<span>Posted on
								{{article.date}}</span>
						</span>
						<a href="#" class="article__share-btn w-button">Share Article</a>
					</div>

					<div class="article__content">
						{{article.content | raw}}
					</div>

					<div class="article__content editable__content">
						<div class="blog__cards-grid">
							{% for i in 0..2 %}
								<div class="blog-card">
									<a href="#" target="_blank" class="blog-card__media">
										<img src="./assets/product-sample1.webp" alt="">
									</a>
									<div class="blog-card__details">
										<h5 class="blog-card__name">
											<a href="" target="_blank">Prong Set Diamond Tennis Bracelet 14K Solid Gold 1.50ctw</a>
										</h5>
										<span class="blog-card__price">$11,190</span>
										<a href="#" target="_blank" class="blog-card__link">Shop Now</a>
									</div>
								</div>
							{% endfor %}
						</div>

						{# Product Section -- Items in SLIDER -- Result HTML #}
						<div class="article-content-section --slider" data-content-type="product">
							<div class="splide splide_blog">
								<div class="splide__track">
									<div class="splide__list">
										{% for i in 0..10 %}
											<div class="blog-card splide__slide">
												<a href="#" target="_blank" class="blog-card__media">
													<img src="./assets/product-sample1.webp" alt="">
												</a>
												<div class="blog-card__details">
													<h5 class="blog-card__name">
														<a href="" target="_blank">Prong Set Diamond Tennis Bracelet 14K Solid Gold 1.50ctw</a>
													</h5>
													<span class="blog-card__price">$11,190</span>
													<a href="#" target="_blank" class="blog-card__link">Shop Now</a>
												</div>
											</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="article__share-block">
					<div class="article__share-heading">Written By
						{{ article.author }}</div>
					<div class="article__share-grid">
						<a href="https://www.facebook.com/sharer/sharer.php?u=https://www.icebox.com/article/{{ article.slug }}" class="to_facebook"></a>
						<a href="https://twitter.com/intent/tweet?url=https://www.icebox.com/article/{{ article.slug }}&text={{ article.title }}" class="to_twitter"></a>
						<a href="http://www.linkedin.com/shareArticle?mini=true&url=https://www.icebox.com/article/{{ article.slug }}&title={{ article.title }}" class="to_linkedin"></a>
					</div>
				</div>

				<div class="article__social-block">
					<div class="big-social-grid">
						<a href="https://www.youtube.com/channel/UCv8gFyATae1x0VmDHmNbIhg?sub_confirmation=1" class="big-social-box">
							<div>YouTube<span>2,000,000+ subscribers</span>
							</div><img src="{{ THEME_ASSETS_FOLDER }}social-box_youtube.svg" loading="lazy" alt="">
						</a>
						<a href="https://www.tiktok.com/@icebox" class="big-social-box">
							<div>TikTok<span>7,400,000+ followers</span>
							</div><img src="{{ THEME_ASSETS_FOLDER }}social-box_tiktok.svg" loading="lazy" alt="">
						</a>
						<a href="https://www.instagram.com/icebox/" class="big-social-box">
							<div>Instagram<span>4,400,000+ followers</span>
							</div><img src="{{ THEME_ASSETS_FOLDER }}social-box_instagram.svg" loading="lazy" alt="">
						</a>
						<a href="https://www.twitter.com/icebox" class="big-social-box">
							<div>Twitter<span>33,000+ followers</span>
							</div><img src="{{ THEME_ASSETS_FOLDER }}social-box_twitter.svg" loading="lazy" alt="">
						</a>
						<a href="https://www.snapchat.com/p/76d86003-980f-4fa7-ae24-85adc580de82/1442749846900736?timestamp=1&chapterid=206898777550848%3Fshare_id%3DQTlEREI4&locale=en_GB" class="big-social-box">
							<div>Snapchat<span>1,000,000+ followers</span>
							</div><img src="{{ THEME_ASSETS_FOLDER }}social-box_snapchat.svg" loading="lazy" alt="">
						</a>
						<a href="https://www.facebook.com/Icebox" class="big-social-box">
							<div>Facebook<span>900,000+ followers</span>
							</div><img src="{{ THEME_ASSETS_FOLDER }}social-box_facebook.svg" loading="lazy" alt="">
						</a>
					</div>
				</div>

				<div class="article__comments">
					<h3 class="article-title">Leave A Comment</h3>
					<div class="article__comments-wrap">
						{% for comment in article.comments %}
							<div class="article-comment">
								<span>
									{% if comment.user is defined %}
										{{comment.user}}
									{% else %}
										Guest
									{% endif %}
								</span>
								<span>{{comment.text}}</span>
								<span>{{comment.date}}</span>
							</div>
						{% endfor %}
					</div>
					<textarea data-article="commentArea" rows="4" cols="45" name="text" placeholder="Share your thoughts..."></textarea>
					<button data-article="commentSubmit">Send</button>
				</div>

				<div class="blog__posts-grid">
					{% for blog in blogs %}
						{% include "elements/blog-post.twig" with {
            article: blog
            } %}
					{% endfor %}
				</div>

			</div>
		</div>
	</div>

</div>
