{% set originalPrice = 0 %}
{% set deliveryPrice = 0 %}
{% set discountPrice = 0 %}

<div class="mybag-main">

	<div class="mybag-wrapper">
		<div
			class="sm-container">

			<!-- My bag - Top group controls -->
			<div class="mybag__page-controls">
				<a href="https://icebox.com" class="mybag__page-btn">
					{% include "../components/svg/back-arrow.svg" %}
					Continue Shopping
				</a>
			</div>

			<!-- My bag columns -->
			<div
				class="mybag-content">

				<!-- My bag : cards holder -->
				<div class="mybag__cards-col">

					<div class="mybag__cards-header checkout-box">
						<h3 class="mybag-heading">Shopping Cart<span>({{cart.items.length}})</span>
						</h3>
					</div>

					{% include "elements/polish-item.twig" %}

					<div
						class="mybag__cards-list">
						<!-- My bag : Item Card -->
						{% for item in cart.items %}
							{% include "../components/cart/mybag-card.twig" with {
              price: item.price,
              salePrice: item.salePrice,
              name: item.name,
              imgSrc: item.imgSrc,
              shipDate: item.shipDate,
              options: item.options,
              qty: item.qty,
              id: item.id
            } %}
						{% endfor %}
					</div>
				</div>


				<!-- My bag : summary -->
				<aside class="mybag__summary-col">
					<div class="mybag-summary">
						<div class="checkout-box">
							<div class="mybag-summary__header">
								<h5 class="mybag-heading mybag-heading_small">Order Summary</h5>
							</div>
							<div class="mybag-summary__main">
								<div class="summary-price">
									<span>Original</span>
									<span>${{ cart.originalPrice|number_format(2) }}</span>
								</div>
								<div class="summary-price mybag-summary-price_discount">
									<span>Discount</span>
									<span>- ${{cart.discountPrice|number_format(2)}}</span>
								</div>
								<div class="summary-price">
									<span>Subtotal</span>
									<span>${{cart.subtotalPrice|number_format(2)}}</span>
								</div>
								<div class="summary-price">
									<span>Delivery Charge</span>
									<span>On Checkout</span>
								</div>
								<div class="summary-price mybag-summary-price_total">
									<span>Total</span>
									<span>${{ cart.fullPrice|number_format(2) }}</span>
								</div>
							</div>
							<div class="mybag-summary__footer">
								<button data-mybag="goToCheckout" class="checkout-btn" onclick="location.href='/checkout'">Go To Checkout</button>
								<span class="mybag-summary__sub-typo">All shipments are insured to the full value of the items included.</span>
								<div class="mybag-summary__payments">
									<img src="./assets/checkout/pay-icon_paypal.svg" alt="paypal payment">
									<img src="./assets/checkout/pay-icon_visa.svg" alt="payment visa">
									<img src="./assets/checkout/pay-icon_mastercard.svg" alt="payment mastercard">
									<img src="./assets/checkout/pay-icon_amex.svg" alt="payment amex">
									<img src="./assets/checkout/pay-icon_btc.svg" alt="payment bitcoin">
									<img src="./assets/checkout/pay-icon_wire.svg" alt="payment wire transfer">
								</div>
							</div>
						</div>
						<div class="checkout-box">
							<div class="mybag-information">
								<div class="mybag-information-row">
									<img src="./assets/checkout/mybag-icon_call.svg" loading="lazy" alt="call Icebox icon">
									<div class="mybag-information-row__wrap">
										<span>Need Last Minute Help?</span>
										<a href="tel:770-828-5540">Call us at (770) 828-5540.</a>
									</div>
								</div>
								<div class="mybag-information-row">
									<img src="./assets/checkout/mybag-icon_delivery.svg" loading="lazy" alt="Icebox safe delivery icon">
									<div class="mybag-information-row__wrap">
										<span>Safe and Secure Shipping Across the Globe.</span>
										<a href="#">Learn more</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</aside>

			</div>
		</div>
	</div>

	<!-- My bag : Features section -->
	<div class="mybag-features">
		<div class="mybag-features__grid">
			<div class="mybag-features__col">
				<img src="./assets/checkout/check_ship-icon.svg" loading="lazy" alt="Icebox international shipping">
				<div class="mybag-features__col-details">
					<h5>International Shipping</h5>
					<p>We offer fast and free shipping on all domestic orders.</p>
				</div>
			</div>
			<div class="mybag-features__col">
				<img src="./assets/checkout/check_insure-icon.svg" loading="lazy" alt="Icebox insured shipping">
				<div class="mybag-features__col-details">
					<h5>Free Insured Shipping</h5>
					<p>We offer fast and free shipping on all domestic orders.<br></p>
				</div>
			</div>
			<div class="mybag-features__col">
				<img src="./assets/checkout/check_exchange-icon.svg" loading="lazy" alt="Icebox exchange policy">
				<div class="mybag-features__col-details">
					<h5>Exchange Only Policy</h5>
					<p>Icebox does not issue refunds, but exchanges are allowed within 14 days of
																																																																																																																																																																														              purchase.<br>
					</p>
				</div>
			</div>
			<div class="mybag-features__col">
				<img src="./assets/checkout/check_delivery-icon.svg" loading="lazy" alt="Icebox guaranteed delivery">
				<div class="mybag-features__col-details">
					<h5>100% Guaranteed Delivery</h5>
					<p>Insured and Discreet Packaging.<br></p>
				</div>
			</div>
		</div>
	</div>

	<!-- Go to checkout floating button -->
	<div class="mybag-floating">
		<button class="checkout-btn" onclick="location.href='/checkout'">Go To Checkout</button>
	</div>

</div>
