{# templates/page-content/index.twig #}
<!-- #region Welcome Section -->
<section class="home-welcome">
  <div class="home-welcome-box">
    <a href="/all?gender[]=Male" class="smart-picture"><img src="https://www.icebox.com/themes/default/frontend/oct-2023/assets/vday/home-men.webp" loading="eager" alt="Icebox Men Jewelry Collection" /></a>
    <div class="home-welcome-details">
      <div class="home-welcome__title-wrap">
        <h2>Men's<br />Collection</h2>
      </div>
      <a href="/all?gender[]=Male" class="home-welcome__link">
        <span>Shop Now</span>
        {% include 'components/svg/arrow-next.svg' %}
      </a>
    </div>
  </div>
  <div class="home-welcome-box">
    <a href="/all?gender[]=Female" class="smart-picture"><img src="https://www.icebox.com/themes/default/frontend/oct-2023/assets/vday/home-women.webp" loading="eager" alt="Icebox Women Jewelry Collection" /></a>
    <div class="home-welcome-details">
      <div class="home-welcome__title-wrap">
        <h2>Women's<br />Collection</h2>
      </div>
      <a href="/all?gender[]=Female" class="home-welcome__link">
        <span>Shop Now</span>
        {% include 'components/svg/arrow-next.svg' %}
      </a>
    </div>
  </div>
</section>
<!-- #endregion -->

{% include 'elements/post-ticker.twig' %}
{% include 'components/general/categories-tabs.twig' %}

{% for section in homepage_sections %}
  {% if section.static == false %}
    {% if loop.index == 4 %}
      {% include 'elements/page-reviews.twig' %}
    {% endif %}
    <section class="home-row">
      <div class="home-row__wrapper">
        <div class="home-row__header">
          <div class="home-row__img-flex">
            <div class="smart-picture">
              <img src="{{ THEME_ASSETS_FOLDER }}avif/homebanner-{{ section.banner }}.avif" alt="The man with Icebox Outstanding Pendants on the neck" class="home-row__img" />
            </div>
            <div class="home-row__summary-center wrapper">
              <h2 class="home-row__heading">
                {% if section.title == 'Accessories' %}
                  Leather Goods
                {% else %}
                  {{ section.title }}
                {% endif %}
                <span>{{ section.banner_text }}</span>
              </h2>
              <a href="{{ section.href }}" class="home-row-btn">
                <span>Shop All</span>
                {% include 'components/svg/arrow-next.svg' %}
              </a>
            </div>
          </div>
        </div>
        <div class="home-row__body splide home-splide">
          <div class="home-row__cards-wrap">
            <div class="cards-holder">
              <div class="splide__track">
                <div class="splide__list">
                  {% for item in section.items %}
                    {% include 'elements/product-card_slider.twig' with {
                      splideClass: true,
                      productItem: item
                    } %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
          <div class="home-row__footer">
            <div class="wrapper">
              <div class="home-row__controls">
                <a href="{{ section.href }}" class="home-row__mob-sub-link">Show More</a>
                <div class="home-row__arrows-wrap splide__arrows">
                  <button class="home-row__slider-btn splide__arrow--prev">{% include 'components/svg/slider-prev.svg' %}</button>
                  <button class="home-row__slider-btn splide__arrow--next">{% include 'components/svg/slider-next.svg' %}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% else %}
    <section class="home-row">
      <div class="home-row__wrapper">
        <div class="home-spot">
          <img src="{{ THEME_ASSETS_FOLDER }}avif/homebanner-custom.avif" alt="Custom Icebox jewelry made by order" class="home-spot__img move_right" />
          <div class="wrapper for_custom">
            <div class="home-spot__details white_color">
              <h3 class="home-spot__heading">Custom Design Jewelry<span>Stand out from the crowd with our custom jewelry, made with attention to detail and passion.</span></h3>
              <a href="/custom-design" class="home-row-btn white_stroke">
                <span>Start Design Now</span>
                {% include 'components/svg/arrow-next.svg' %}
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endif %}
{% endfor %}

<!-- Engagement -->
<section class="home-row">
  <div class="home-row__wrapper">
    <div class="home-spot">
      <img src="{{ THEME_ASSETS_FOLDER }}avif/homebanner-engagement.avif" alt="Icebox elegant engagement and wedding rings" class="home-spot__img move_right for_eng" />
      <div class="wrapper wrapper_engagement">
        <div class="home-spot__details for_engagement">
          <h3 class="home-spot__heading">Engagement &amp; Wedding<span>Complete your look with our exquisite jewelry accessories at Icebox.</span></h3>
          <a href="/gia-products" class="home-row-btn white_stroke">
            <span>Shop All</span>
            {% include 'components/svg/arrow-next.svg' %}
          </a>
        </div>
      </div>
    </div>
    <div class="diamonds-row">
      <div class="diamonds-row__wrapper">
        <div class="wrapper">
          <div class="diamonds-row__grid">
            <a href="/gia-products?diamondshape[]=Round">
              <img src="{{ THEME_ASSETS_FOLDER }}diamond-ring_round.webp" alt="Diamond Rings Round Shape" />
              <span>Round</span>
            </a>
            <a href="/gia-products?diamondshape[]=Oval">
              <img src="{{ THEME_ASSETS_FOLDER }}diamond-ring_oval.webp" alt="Diamond Rings Oval Shape" />
              <span>Oval</span>
            </a>
            <a href="/gia-products?diamondshape[]=Princess">
              <img src="{{ THEME_ASSETS_FOLDER }}diamond-ring_princess.webp" alt="Diamond Rings Princess Shape" />
              <span>Princess</span>
            </a>
            <a href="/gia-products?diamondshape[]=Emerald">
              <img src="{{ THEME_ASSETS_FOLDER }}diamond-ring_emerald.webp" alt="Diamond Rings Emerald Shape" />
              <span>Emerald</span>
            </a>
            <a href="/gia-products?diamondshape[]=Pear">
              <img src="{{ THEME_ASSETS_FOLDER }}diamond-ring_pear.webp" alt="Diamond Rings Pear Shape" />
              <span>Pear</span>
            </a>
            <a href="/results/rings?sub[]=Engagement%20Rings">
              <img src="{{ THEME_ASSETS_FOLDER }}diamond-ring_wedding.webp" alt="Diamond Rings Wedding Bands" />
              <span>Wedding</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Locations -->
<section class="home-row --locations">
  <div class="home-row__wrapper">
    <div class="wrapper">
      <div class="home-row__row-details">
        <h3 class="home-spot__heading --spot">Our flagship showroom is located in Atlanta, and Icebox boutiques located in Saks Fifth Avenue in Miami Brickell and Atlanta.</h3>
      </div>

      <div class="home-locations">
        <div class="home-locations__grid">
          {% for item in locations %}
            <div class="home-location-item">
              <div class="home-location-item__media">
                <img src="{{ item.imgSrc }}" loading="lazyload" alt="{{ item.alt }}" />
              </div>
              <div class="home-location-item__details">
                <div>
                  <span class="home-location-item__city">{{ item.shortAddress }}</span>
                  <h5 class="home-location-item__name">{{ item.name }}</h5>
                  <p class="home-location-item__summary">
                    {{ item.description }}
                  </p>
                </div>
                <a href="{{ item.href }}">Book an Apppointment</a>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
