<div class="side-body__breadcrumbs">
	<div class="wrapper">
		<ul role="list" class="product__breadcrumbs">
			<li class="crumb">
				<a href="/index.html" class="crumb__link">Icebox</a>
				<span class="crumb__link-divider">/</span>
			</li>
			<li class="crumb">
				<a href="{{product.category.href}}" class="crumb__link">{{product.category.caption}}</a>
				<span class="crumb__link-divider">/</span>
			</li>
			{% if product.subcategory is defined %}
				<li class="crumb">
					<a href="{{product.subcategory.href}}" class="crumb__link">{{product.subcategory.caption}}</a>
				</li>
			{% endif %}
		</ul>
	</div>
</div>

<div
	class="product__wrapper{% if black_friday == true %} product_bfs{% endif %}">


	<!-- #region Viewer / Media -->
	<div class="product__view">
		<div class="wrapper">
			<div class="slider-viewer">
				<div class="slider-viewer__thumbs splide">
					<div class="splide__track">
						<div class="splide__list">
							{% for item in product.media.yellow %}
								<div class="splide__slide">
									<img src="{{item.imgSrc}}" alt="">
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div class="slider-viewer__main splide">
					<div class="splide__track">
						<div class="splide__list">
							{% for item in product.media.yellow %}
								<div class="splide__slide">
									<img src="{{item.imgSrc}}" alt="">
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>

		{# Desktop Viewer #}
	{# <div class="product__desktop-viewer">
										{% for item in product.media.yellow %}
											{% include "../elements/product-page/product-media.twig" with {
							        type: item.type,
							        imgSrc: item.imgSrc,
							        alt: item.alt,
							        splide: false
							      } %}
										{% endfor %}
									</div> #}

		{# Slider Viewer #}
		{# <div class="product__slider-viewer">
																	<div class="product-slider splide product-slide-yellow">
																		<div class="splide__track">
																			<div class="splide__list">
																				{% for item in product.media.yellow %}
																					{% include "../elements/product-page/product-media.twig" with {
														              type: item.type,
														              imgSrc: item.imgSrc,
														              alt: item.alt,
														              splide: true
														            } %}
																				{% endfor %}
																			</div>
																		</div>
																	</div> #}

		{# Thumbnails Slider #}
		{# <div class="product-slider_thumbnails splide product-thumb-yellow">
																		<div class="splide__track">
																			<div class="splide__list">
																				{% for item in product.media.yellow %}
																					{% include "../elements/product-page/product-media.twig" with {
														              type: item.type,
														              imgSrc: item.imgSrc,
														              alt: item.alt,
														              splide: true
														            } %}
																				{% endfor %}
																			</div>
																		</div>
																	</div>
																</div> #}

	</div>
	<!-- #endregion -->


	<aside class="product__side">
		<div
			class="side-body">

			{# ITEM #}
			{% include "../elements/product-page/item-row_new.twig" with { tags: true } %}

			{# ITEM OPTIONS #}
			{% include "../elements/product-page/options-row.twig" %}

			{# ITEM DETAILS #}
			{% include "../elements/product-page/details-row.twig" %}

			{# GUIDE MODAL #}
			{% include "../elements/pg-modal.twig" %}

		{# FLOATING BTN #}
			{# {% include "../elements/product-page/floating-btn.twig" %} #}


		</div>
	</aside>

</div>

{# {% include "elements/product-page/countdown-row.twig" %} #}
{% include "../elements/product-page/promises.twig" %}

{# YOU MAY ALSO LIKE #}
{% include "../elements/product-page/also-slider.twig" %}
<div class="product-page__float-stock">
	{% include "elements/product-card/stock-dash-box.twig" %}
</div>
{# {% include "elements/zoom-modal.twig" %} #}
