{% include "elements/product-page/general-js-vars.twig" %}
<div
	class="product__wrapper">


	<!-- #region Viewer / Media -->
	<div
		class="product__view">

		{# Desktop Viewer #}
		{% for media in product.media %}
			<div class="product__desktop-viewer Poster-{{ media.color }}" {% if media.visible == false %} style="display:none" {% endif %}>
				{% for item in media.elements %}
					{% include "elements/product-page/product-media.twig" with {
					type: item.type,
					imgSrc: item.src,
					alt: item.alt,
					zoom:item.zoom_class,
					splide: false
				  } %}
				{% endfor %}
			</div>
		{% endfor %}

		{# Slider Viewer #}
		<div class="product__slider-viewer">
			{% set loop_index = 0 %}
			{% for media in product.media %}
				<div class="product-slider splide product-slide-{{ media.color }} mobile-slide-{{ media.color }}" {% if media.visible == false %} style="display:none" {% endif %}>
					<div class="splide__track">
						<div class="splide__list">
							{% for item in media.elements %}
								{% include "elements/product-page/product-media.twig" with {
						  type: item.type,
						  index:loop_index,
						  imgSrc: item.src,
						  alt: item.alt,
						  splide: true
						} %}
							{% endfor %}
							{% set loop_index = loop_index + 1 %}
						</div>
					</div>
				</div>

				{# Thumbnails Slider #}
				<div class="product-slider_thumbnails splide product-thumb-{{ media.color }} mobile-thumb-{{ media.color }}" {% if media.visible == false %} style="display:none" {% endif %}>
					<div class="splide__track">
						<div class="splide__list">
							{% for item in media.elements %}
								{% include "elements/product-page/product-media.twig" with {
							  type: item.type,
							  imgSrc: item.src,
							  alt: item.alt,
							  splide: true
							} %}
							{% endfor %}
						</div>
					</div>
				</div>
			{% endfor %}

		</div>
	</div>
	<!-- #endregion -->


	<aside class="product__side">
		<div
			class="side-body">

			{# ITEM #}
			{% include "elements/product-page/v2/item-row.twig" %}

			{# ITEM DETAILS #}
			{% include "elements/product-page/details-row.twig" %}

			{# GUIDE MODAL #}
			{% include "elements/pg-modal.twig" %}


		</div>
	</aside>

</div>
{% include "elements/product-page/promises.twig" %}
{% include "elements/product-page/hidden-form.twig" %}

{% for Productslider in product.bottom_sliders %}
	{% include "elements/product-page/items-slider.twig" with {slider:Productslider}%}
{% endfor %}

{# STICKY BUY BUTTON #}
{% include "elements/product-page/sticky-buy.twig" %}
