<div class="sell-welcome">

	{# Welcome Header #}
	{% include "components/sell/welcome-header.twig" %}

	{# Welcome Media #}
	{% include "components/sell/welcome-media.twig" with { src: 'banner_gold.avif', alt: 'Sell your gold for cash in
	Atlanta, GA' } %}

	{# Welcome Content #}
	<div class="sell-welcome__content">
		<div>
			{% include "components/sell/perks.twig" %}

			{% include "components/sell/welcome-text.twig" with {
			heading: 'Sell Your <span class="sell-gold-color">Gold for Cash</span> in Atlanta - Top Gold Buyers Near You',
			subheading: 'If you\'re searching for <strong>the best places to sell gold in Atlanta</strong>, Icebox is your
			ultimate destination for quick, secure, and top-dollar cash offers.' } %}
		</div>
	</div>
</div>

{# Welcome Perks for Mobile #}
<div class="sell__mob-welcome-perks">
	{% include "components/sell/perks.twig" with { class: 'for_mobile' } %}
</div>

{# Section #1 #}
<div class="sell__section">
	<div class="sell__side-container">
		<div data-ygsap class="col_24 --start">
			<h2>
				Our expert team provides the <span>most competitive prices</span> in the Atlanta area, specializing in direct,
				in-store gold
				buying experiences.
			</h2>
			<p>
				<strong>Your Trusted Gold Buyers in Atlanta.</strong> As trusted gold buyers in Atlanta, we make selling gold
				simple, transparent, and rewarding.
			</p>
			<button data-sell-appt class="sell-btn accent-2 --arrow">
				<span>Sell Your Gold</span>
			</button>
		</div>

		<div data-ygsap class="sell__pic-box">
			<div class="sell__pic-cards-card">
				<div class="sell-hor-card">
					<div class="sell-hor-card__pic-wrap">
						<img alt="14K Gold Wedding Ring" src="{{ THEME_ASSETS_FOLDER }}sell/gold_png1.jpg" loading="lazy" class="ratio-1" />
					</div>
					<div class="sell-hor-card__details">
						<h6 class="sell-card__title">Wedding Gold Ring 14K</h6>
						<h6 class="sell-card__title">
							Sold for <span>$1,320</span>
						</h6>
						<span class="sell-card__sub-typo">4g in total, 14K Gold</span>
					</div>
				</div>
				<div class="sell-hor-card move_2">
					<div class="sell-hor-card__pic-wrap">
						<img alt="Movada Gold Watch" src="{{ THEME_ASSETS_FOLDER }}sell/gold_png2.webp" loading="lazy" class="ratio-1" />
					</div>
					<div class="sell-hor-card__details">
						<h6 class="sell-card__title">Gold Watches Movada </h6>
						<h6 class="sell-card__title">
							Sold for <span>$19,320</span>
						</h6>
						<span class="sell-card__sub-typo">Bad condition</span>
					</div>
				</div>
			</div>
			<img alt="Gold jewelry collection" src="{{ THEME_ASSETS_FOLDER }}sell/gold_1.webp" loading="lazy" class="sell__pic-box-img" />
		</div>
	</div>
</div>

{# Section #2 -- Why Sell To Icebox #}
<div id="why-us" class="sell__section">
	<div class="sell__column-section">
		<div data-ygsap class="col_24 --center mw-760 mx-auto">
			<span class="sell__section-tag">Why Choose Icebox</span>
			<h2>
				Why Choose Icebox for
				<br>
				<span>Selling Gold</span>?
			</h2>
			<p><strong>At Icebox, we stand out among gold buyers in Atlanta with our:</strong></p>
		</div>

		<div class="sell__features-grid">
			<div data-ygsap>
				<div class="sell__fill-icon">
					{% include "components/svg/geo.svg" %}
				</div>
				<p>Local Atlanta-based business</p>
			</div>
			<div data-ygsap>
				<div class="sell__fill-icon">
					{% include "components/svg/desktop-money.svg" %}
				</div>
				<p>Competitive Market Rates</p>
			</div>
			<div data-ygsap>
				<div class="sell__fill-icon">
					{% include "components/svg/protect.svg" %}
				</div>
				<p>Secure and Confidential Transactions</p>
			</div>
			<div data-ygsap>
				<div class="sell__fill-icon">
					{% include "components/svg/wallet.svg" %}
				</div>
				<p>Instant Cash Payments</p>
			</div>
			<div data-ygsap>
				<div class="sell__fill-icon">
					{% include "components/svg/law.svg" %}
				</div>
				<p>Expert In-Store Appraisals</p>
			</div>
		</div>

		<div data-ygsap class="col_24 --center">
			<button data-sell-appt class="sell-btn --arrow accent-2"><span>Sell Your Gold</span></button>
		</div>
	</div>
</div>

{# What We Buy #}
<div id="what-we-buy" class="sell__section --grey">
	<div class="sell__column-section">

		<div data-ygsap class="col_24 --start mw-760">
			<span class="sell__section-tag">WHAT WE BUY</span>
			<h2>What <span>Types of gold</span> Do We Buy?</h2>
			<p>We purchase gold jewelry, including necklaces, bracelets, rings, and earrings, regardless of their condition.
			</p>
		</div>

		<div class="sell__types-grid">
			<div data-ygsap class="sell-type">
				<img alt="Various gold jewelry pieces" src="{{ THEME_ASSETS_FOLDER }}sell/gold_type-jewelry.webp" loading="lazy" class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Gold Jewelry</span></button>
			</div>
			<div data-ygsap class="sell-type">
				<img alt="Luxury gold watches" src="{{ THEME_ASSETS_FOLDER }}sell/gold_type-watches.webp" loading="lazy" class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Gold Watches</span></button>
			</div>
			<div data-ygsap class="sell-type">
				<img alt="Gold coins collection" src="{{ THEME_ASSETS_FOLDER }}sell/gold_type-coins.jpg" loading="lazy" class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Gold Coins</span></button>
			</div>
			<div data-ygsap class="sell-type">
				<img alt="Gold bars of various weights" src="{{ THEME_ASSETS_FOLDER }}sell/gold_type-bars.jpeg" loading="lazy" class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Gold Bars</span></button>
			</div>
			<div data-ygsap class="sell-type">
				<img alt="Broken and damaged gold items" src="{{ THEME_ASSETS_FOLDER }}sell/gold_type-broken.webp" loading="lazy" class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Broken/Unwanted Gold</span></button>
			</div>
			<div data-ygsap class="sell-type">
				<img alt="Vintage and antique gold pieces" src="{{ THEME_ASSETS_FOLDER }}sell/gold_type-vintage.avif" loading="lazy" class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Vintage & Antique Gold</span></button>
			</div>
			<div data-ygsap class="sell-type">
				<img alt="Designer gold accessories" src="{{ THEME_ASSETS_FOLDER }}sell/gold_type-designer.avif" loading="lazy" class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Gold Accessories</span></button>
			</div>
		</div>
	</div>
</div>

{# How to Sell #}
<div id="how-to-sell" class="sell__section --stripes">
	<div class="sell__column-section">

		<div data-ygsap class="col_24 --start mw-760">
			<span class="sell__section-tag">HOW TO SELL</span>
			<h2>How Does It Work? Our Simple <span>3-Step Process</span> </h2>
			<p>Get a quote in a minutes or less!</p>
		</div>

		<div class="sell__how-grid">
			<div data-ygsap class="sell__how-item">
				<span class="sell__how-item-tag">Step 1</span>
				<h4 class="sell__how-item-title">Walk In or Schedule an Appointment </h4>
				<ul class="sell__how-list">
					<li>Walk-ins are welcome! </li>
					<li>Call now for immediate assistance </li>
					<li>Schedule a convenient appointment time </li>
					<li>No online evaluations - everything happens in-store </li>
				</ul>
			</div>

			<span class="sell__how-arrow"></span>

			<div data-ygsap class="sell__how-item">
				<span class="sell__how-item-tag">Step 2</span>
				<h4 class="sell__how-item-title">In-Store Appraisal
				</h4>
				<ul class="sell__how-list">
					<li>Bring your gold merchandise directly to our Atlanta location </li>
					<li>Our certified experts will evaluate your items on the spot </li>
					<li>Transparent assessment using the latest market rates </li>
					<li>No obligation to sell - free professional evaluation </li>
				</ul>
			</div>

			<span class="sell__how-arrow"></span>

			<div data-ygsap class="sell__how-item">
				<span class="sell__how-item-tag">Step 3</span>
				<h4 class="sell__how-item-title">Get Paid Immediately
				</h4>
				<ul class="sell__how-list">
					<li>Secure, confidential in-store transactions</li>
					<li>Instant cash payments </li>
					<li>No waiting, no hassles </li>
					<li>Competitive offers based on current gold market values </li>
				</ul>
			</div>

		</div>

		<div data-ygsap class="row_8 mt-48">
			<button data-sell-appt class="sell-btn --arrow accent-2"><span>Sell Your Gold</span></button>
			<button data-sell-contact class="sell-btn stroke-black">Contact Us</button>
		</div>
	</div>
</div>

{# Icebox History #}
{% include "components/sell/history.twig" with {
src: 'banner_gold.avif',
alt: 'Sell your gold for cash in Atlanta, GA' } %}

{# Why to Sell #}
{% include "components/sell/why.twig" with {
tag: true,
title: "
Why Selling Your Gold Makes <span>Financial Sense</span>
",
subtitle: "
Gold is a valuable asset that can provide immediate financial benefits:
",
items: [
{
title: "
Instant Liquidity:
",
description: "
Convert unused gold into cash when you need it most.
"
},
{
title: "
Market Value Realization:
",
description: "
Get fair market price for your precious metals.
"
},
{
title: "
Investment Opportunity:
",
description: "
Use funds for new investments or personal needs.
"
},
{
title: "
Declutter and Simplify:
",
description: "
Remove unwanted gold items from your collection.
"
}
]
} %}

{# FAQ #}
{% include "components/sell/faq.twig" with {
questions: [
{
question: "Q: Where can I sell gold for cash in Atlanta?",
answer: 'A: Icebox offers top-dollar prices for gold coins in Atlanta. Our expert appraisers ensure you receive the most
competitive offer based on current market rates.',
icon: 'location'
},
{
question: 'Q: How do I know I\'m getting the best price?',
answer: '
<strong>We ensure top dollar by:</strong>
<br>
Using real-time market rates
<br>
Employing certified gold appraisers
<br>
Providing transparent, in-store evaluations
<br>
Offering competitive, fair offers
',
icon: 'money-bag'
},
{
question: "Q: Is selling gold at Icebox safe?",
answer: "<strong>Absolutely! We provide:</strong>
<br>
Secure in-store environment
<br>
Private consultations
<br>
Instant cash payments
<br>
No-obligation assessments",
icon: 'documents'
}
]
} %}

{# Conclusion #}
{% include "components/sell/conclusion.twig" with {
title: "
Your Local <span>Gold Buying</span> Experts
",
description: "
<strong>Ready to Turn Your Gold into Cash?</strong>
<br>
<br>
<span>Located in the heart of Atlanta, Icebox is your trusted local partner for selling gold. Our deep roots in the
	community
	and commitment to fair, transparent transactions make us the go-to destination for gold sellers across Georgia.</span>
"
} %}

{# Footer #}
{% include "components/sell/footer.twig" %}
{% include "components/sell/book-modal.twig" %}