<div class="sell-welcome">

	{# Welcome Header #}
	{% include "components/sell/welcome-header.twig" %}

	{# Welcome Media #}
	{% include "components/sell/welcome-media.twig" with { src: 'banner_diamonds.avif', alt: 'Sell your diamonds for cash
	in Atlanta, GA' } %}

	{# Welcome Content #}
	<div class="sell-welcome__content">
		<div>
			{% include "components/sell/perks.twig" with { type: 'diamonds' } %}

			{% include "components/sell/welcome-text.twig" with {
			heading: 'Sell Your <span class="sell-gold-color">Diamonds</span> for Cash in Atlanta, GA',
			subheading: '<strong>Top Diamond Buyers Near You.</strong>
			<br> Converting Your Diamonds into Instant Cash in Atlanta'
			}
			%}
		</div>
	</div>
</div>

{# Welcome Perks for Mobile #}
<div class="sell__mob-welcome-perks">
	{% include "components/sell/perks.twig" with { type: 'diamonds', class: 'for_mobile' } %}
</div>


{# Section #1 #}
<div class="sell__section">
	<div class="sell__side-container">
		<div data-ygsap class="col_24 --start">
			<h2>
				If you're looking to sell diamonds in Atlanta, Icebox offers a streamlined solution for transforming your
				precious <span>stones into immediate cash</span>.
			</h2>
			<p>
				Our expert team provides competitive prices, ensuring you receive maximum value for your diamond jewelry, loose
				stones, and luxury pieces. As <strong>premier diamond buyers in Atlanta</strong>, we've designed a selling
				process that is
				simple, transparent, and financially rewarding.
			</p>
			<button data-sell-appt class="sell-btn accent-2 --arrow">
				<span>Sell Diamonds</span>
			</button>
		</div>

		<div data-ygsap class="sell__pic-box">
			<div class="sell__pic-cards-card">
				<div class="sell-hor-card">
					<div class="sell-hor-card__pic-wrap">
						<img alt="1.23 Carat Round Diamond" src="{{ THEME_ASSETS_FOLDER }}sell/diamonds_png1.avif" loading="lazy"
							class="ratio-1 grayscale-100" />
					</div>
					<div class="sell-hor-card__details">
						<h6 class="sell-card__title">1.23 Carat Round Diamond</h6>
						<h6 class="sell-card__title">
							Sold for <span>$886</span>
						</h6>
						<span class="sell-card__sub-typo">VG Cut, VS1, D color </span>
					</div>
				</div>
				<div class="sell-hor-card move_2">
					<div class="sell-hor-card__pic-wrap">
						<img alt="1.5 Carat Round Diamond" src="{{ THEME_ASSETS_FOLDER }}sell/diamonds_png1.avif" loading="lazy"
							class="ratio-1 grayscale-100" />
					</div>
					<div class="sell-hor-card__details">
						<h6 class="sell-card__title">1.5 Carat Round Diamond </h6>
						<h6 class="sell-card__title">
							Sold for <span>$2,350</span>
						</h6>
						<span class="sell-card__sub-typo">RC Cut, VS1, F color </span>
					</div>
				</div>
			</div>
			<img alt="Diamond showcase at Icebox Atlanta" src="{{ THEME_ASSETS_FOLDER }}sell/diamonds_1.avif" loading="lazy"
				class="sell__pic-box-img" />
		</div>
	</div>
</div>

{# Section #2 -- Why Sell To Icebox #}
<div id="why-us" class="sell__section">
	<div class="sell__column-section">
		<div data-ygsap class="col_24 --center mw-760 mx-auto">
			<span class="sell__section-tag">Why Choose Icebox</span>
			<h2>
				Why Atlanta Residents <span>Trust Icebox</span> for Diamond Sales
			</h2>
			<p><strong>Unlike other diamond buyers who complicate transactions, we offer:</strong></p>
		</div>

		<div class="sell__features-grid">
			<div data-ygsap>
				<div class="sell__fill-icon">
					{% include "components/svg/geo.svg" %}
				</div>
				<p>Local Atlanta-based business</p>
			</div>
			<div data-ygsap>
				<div class="sell__fill-icon">
					{% include "components/svg/desktop-money.svg" %}
				</div>
				<p>Competitive Market Rates</p>
			</div>
			<div data-ygsap>
				<div class="sell__fill-icon">
					{% include "components/svg/protect.svg" %}
				</div>
				<p>Secure and Confidential Transactions</p>
			</div>
			<div data-ygsap>
				<div class="sell__fill-icon">
					{% include "components/svg/wallet.svg" %}
				</div>
				<p>Instant Cash Payments</p>
			</div>
			<div data-ygsap>
				<div class="sell__fill-icon">
					{% include "components/svg/law.svg" %}
				</div>
				<p>Expert In-Store Appraisals</p>
			</div>
		</div>

		<div data-ygsap class="row_8 --center">
			<button data-sell-appt class="sell-btn --arrow accent-2"><span>Sell Your Diamonds</span></button>
			<a href="tel:+14048420266" class="sell-btn stroke-black">
				<span>Call Now</span>
			</a>
		</div>
	</div>
</div>

{# What We Buy #}
<div id="what-we-buy" class="sell__section --grey">
	<div class="sell__column-section">

		<div data-ygsap class="col_24 --start mw-760">
			<span class="sell__section-tag">WHAT WE BUY</span>
			<h2>Types of <span>Diamonds</span> We Purchase</h2>
			<p>We purchase a wide array of diamond items, including engagement rings, wedding bands, diamond necklaces,
				bracelets etc.
			</p>
		</div>

		<div class="sell__types-grid">
			<div data-ygsap class="sell-type">
				<img alt="Diamond engagement rings" src="{{ THEME_ASSETS_FOLDER }}sell/diamonds_type-engagement.avif"
					loading="lazy" class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Engagement Rings</span></button>
			</div>
			<div data-ygsap class="sell-type">
				<img alt="Loose diamonds" src="{{ THEME_ASSETS_FOLDER }}sell/diamonds_type-loose.avif" loading="lazy"
					class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Loose Diamonds</span></button>
			</div>
			<div data-ygsap class="sell-type">
				<img alt="Diamond jewelry collection" src="{{ THEME_ASSETS_FOLDER }}sell/diamonds_type-jewelry.avif"
					loading="lazy" class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Diamond Jewelry</span></button>
			</div>
			<div data-ygsap class="sell-type">
				<img alt="Vintage diamond pieces" src="{{ THEME_ASSETS_FOLDER }}sell/diamonds_type-vintage.avif" loading="lazy"
					class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Vintage Diamonds</span></button>
			</div>
			<div data-ygsap class="sell-type">
				<img alt="Estate diamond jewelry" src="{{ THEME_ASSETS_FOLDER }}sell/diamonds_type-estate.webp" loading="lazy"
					class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Estate Diamonds</span></button>
			</div>
			<div data-ygsap class="sell-type">
				<img alt="Diamond accessories" src="{{ THEME_ASSETS_FOLDER }}sell/diamonds_type-accessories.avif" loading="lazy"
					class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Diamond Accessories</span></button>
			</div>
			<div data-ygsap class="sell-type">
				<img alt="Antique diamond pieces" src="{{ THEME_ASSETS_FOLDER }}sell/diamonds_type-antique.webp" loading="lazy"
					class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Antique Diamonds</span></button>
			</div>
		</div>
	</div>
</div>

{# How to Sell #}
<div id="how-to-sell" class="sell__section --stripes">
	<div class="sell__column-section">

		<div data-ygsap class="col_24 --start mw-760">
			<span class="sell__section-tag">HOW TO SELL</span>
			<h2>A Simple 3-Step Process to sell your <span>Diamonds in Atlanta</span></h2>
			<p>Get a quote in a minutes or less!</p>
		</div>

		<div class="sell__how-grid">
			<div data-ygsap class="sell__how-item">
				<span class="sell__how-item-tag">Step 1</span>
				<h4 class="sell__how-item-title">Walk In Now or Schedule Appointment
				</h4>
				<ul class="sell__how-list">
					<li>Walk-ins are welcome! </li>
					<li><a class="underline" href="tel:+14048420266" target="_blank">Call now</a>for immediate assistance</li>
					<li>Can't come right away? Schedule a convenient appointment </li>
					<li>Walk-ins are always welcome </li>
				</ul>
			</div>

			<span class="sell__how-arrow"></span>

			<div data-ygsap class="sell__how-item">
				<span class="sell__how-item-tag">Step 2</span>
				<h4 class="sell__how-item-title">In-Store Professional Appraisal </h4>
				<ul class="sell__how-list">
					<li>Bring your diamond merchandise directly to our Atlanta location </li>
					<li>Transparent assessment using current market rates </li>
					<li>No pressure, no obligation to sell </li>
					<li>Professional evaluation by experienced diamond experts </li>
				</ul>
			</div>

			<span class="sell__how-arrow"></span>

			<div data-ygsap class="sell__how-item">
				<span class="sell__how-item-tag">Step 3</span>
				<h4 class="sell__how-item-title">Get Paid Immediately
				</h4>
				<ul class="sell__how-list">
					<li>100% secure store environment </li>
					<li>Completely confidential transactions </li>
					<li>Instant cash payment </li>
					<li>No waiting, no complications </li>
					<li>Competitive offers based on precise diamond market values </li>
				</ul>
			</div>

		</div>

		<div data-ygsap class="row_8 mt-48">
			<button data-sell-appt class="sell-btn --arrow accent-2"><span>Sell Your Diamonds</span></button>
			<button data-sell-contact class="sell-btn stroke-black">Contact Us</button>
		</div>
	</div>
</div>

{# Icebox History #}
{% include "components/sell/history.twig" with {
src: 'banner_diamonds.avif',
alt: 'Sell your diamonds for cash in Atlanta, GA' } %}

{# Why to Sell #}
{% include "components/sell/why.twig" with {
title: "
Selling your diamonds provides strategic<br>
financial advantages:
",
big_list: true,
items: [
{
title: "
Convert idle assets into <span>immediate cash</span>
"
},
{
title: "
Realize <span>market value</span> for unused items
"
},
{
title: "
Create <span>investment</span> opportunities
"
},
{
title: "
Simplify your personal <span>asset portfolio</span>
"
}
]
} %}

{# FAQ #}
{% include "components/sell/faq.twig" with {
questions: [
{
question: "Why should I choose Icebox for selling diamonds?",
answer: 'We offer the most transparent, secure, and financially beneficial diamond buying experience in Atlanta. Our
expert gemologists ensure you receive top market value.',
icon: 'location'
},
{
question: 'How do I know I\'m getting a fair price?',
answer: '
<strong>We Use:</strong>
<br>
Real-time market rate tracking
<br>
Certified professional appraisers
<br>
Transparent evaluation process
<br>
Competitive pricing strategies
',
icon: 'money-bag'
},
{
question: "Is my transaction completely safe?",
answer: "<strong>Absolutely! We Guarantee:</strong>
<br>
Secure store environment
<br>
Private consultations
<br>
Immediate cash payments
<br>
Confidential transactions",
icon: 'documents'
}
]
} %}

{# Reviews #}
{% include "components/sell/reviews.twig" with {
review_type: 'diamonds'
} %}

{# Conclusion #}
{% include "components/sell/conclusion.twig" with {
title: "
Ready to Turn Your <span>Diamonds into Cash</span>?
",
description: "
Located in the heart of Atlanta, Icebox has become the go-to destination for diamond sellers across Georgia. Our
commitment to fair, transparent transactions sets us apart.
<br>
<br>
Visit our Atlanta location at <strong><a target='_blank' href='https://maps.app.goo.gl/sFFNFXppH6MXaWDz7'
		class='underline'>3255
		Peachtree Rd
		NE</a></strong> or start your online evaluation now.
"
} %}

{# Footer #}
{% include "components/sell/footer.twig" %}
{% include "components/sell/book-modal.twig" %}