<div class="sell-welcome">
	{# Welcome Header #}
	{% include "components/sell/welcome-header.twig" %}
	{# Welcome Media #}
	{% include "components/sell/welcome-media.twig" with { src:
	'banner_watches.webp', alt: 'Sell your luxury watch for cash in Atlanta, GA' }
	%}
	{# Welcome Content #}
	<div class="sell-welcome__content">
		<div>
			{% include "components/sell/perks.twig" with { type: 'watches' } %}
			{%
			include "components/sell/welcome-text.twig" with { heading: 'Sell Your
			<span class="sell-gold-color">Luxury Watch</span> for Cash in Atlanta,
			GA', subheading: 'If you\'re looking to
			<strong>sell your watches in Atlanta</strong>, our service offers a
			hassle-free experience to get the best cash offer for your luxury
			timepieces.' } %}
		</div>
	</div>
</div>

{# Welcome Perks for Mobile #}
<div class="sell__mob-welcome-perks">
	{% include "components/sell/perks.twig" with { type: 'watches', class:
	'for_mobile' } %}
</div>

{# Section #1 #}
<div class="sell__section">
	<div class="sell__side-container">
		<div data-ygsap class="col_24 --start">
			<h2>
				Whether you want to sell used watches, Rolex, or Cartier models, we
				provide an easy and <span>secure platform</span> to sell your watches
				online.
			</h2>
			<p>Our team is dedicated to ensuring you receive <strong>the best offer for your watches</strong>, making us the
				top destination to sell your watches in Atlanta.
			</p>
			<button data-sell-appt class="sell-btn accent-2 --arrow">
				<span>Sell Your Watch</span>
			</button>
		</div>

		<div class="sell__pic-box">
			<div class="sell__pic-cards-card">
				<div data-ygsap class="sell-hor-card">
					<div class="sell-hor-card__pic-wrap">
						<img alt="Rolex Oyster Perpetual Watch" src="{{ THEME_ASSETS_FOLDER }}sell/watches_png2.webp"
							loading="lazy" />
					</div>
					<div class="sell-hor-card__details">
						<div class="sell-card__rating">
							<img loading="lazy" src="{{ THEME_ASSETS_FOLDER }}sell/rating.svg" alt="Rating Stars" />
							<span>4/5 condition</span>
						</div>
						<h6 class="sell-card__title">Rolex Oyster Perpetual</h6>
						<h6 class="sell-card__title">
							Sold for <span>$7,450</span>
						</h6>
						<span class="sell-card__sub-typo">No box, no documents</span>
					</div>
				</div>
				<div data-ygsap class="sell-hor-card move_2">
					<div class="sell-hor-card__pic-wrap">
						<img alt="Audemars Piguet Royal Oak Offshore Watch" src="{{ THEME_ASSETS_FOLDER }}sell/watches_png1.webp"
							loading="lazy" />
					</div>
					<div class="sell-hor-card__details">
						<div class="sell-card__rating">
							<img loading="lazy" src="{{ THEME_ASSETS_FOLDER }}sell/rating.svg" alt="Rating Stars" />
							<span>3.5/5 condition</span>
						</div>
						<h6 class="sell-card__title">AP Royal Oak Offshore</h6>
						<h6 class="sell-card__title">
							Sold for <span>$24,550</span>
						</h6>
						<span class="sell-card__sub-typo">Bad condition</span>
					</div>
				</div>
			</div>
			<img data-ygsap alt="Luxury watches display" src="{{ THEME_ASSETS_FOLDER }}sell/watches_1.avif" loading="lazy"
				class="sell__pic-box-img" />
		</div>
	</div>
</div>

{# Side form #}
<div class="sell__section">

	<div data-ygsap class="col_24 --center mw-600 mx-auto">
		<h2>Best Place to <span>Sell Watches</span> in Atlanta</h2>
		<p>
			Icebox is your trusted local solution for selling luxury watches in Atlanta. We specialize in providing
			top-dollar cash offers for your valuable timepieces, ensuring you get the most competitive price in the
			market.
		</p>
		<button data-sell-appt class="sell-btn --arrow accent-2"><span>Get Your Offer</span></button>
	</div>

	{# <div class="sell__form-grid">
		<div data-ygsap class="sell__side-form">
			<div class="sell-side-form__header">
				<h5 class="sell-side-form__title">Get your value now!</h5>
				<p class="sell-side-form__subtitle">Get a Free Offer in Minutes. Hassle-Free, Top Cash Guaranteed.</p>
			</div>
			<div class="sell-side-form__content">
				<div class="sell-side-form__main">
					<div class="sell-side-form__input-wrap">
						<label for="sideFormFirstName">First Name</label>
						<input autocomplete="off" placeholder="Name" type="text" id="sideFormFirstName" required="">
					</div>
					<div class="sell-side-form__input-wrap">
						<label for="sideFormEmail">Email</label>
						<input autocomplete="off" placeholder="Email" type="email" id="sideFormEmail" required="">
					</div>
					<div class="sell-side-form__input-wrap">
						<label for="sideFormBrand">Watches Brand</label>
						<select id="sideFormBrand" class="--select">
							{% include "components/general/watch-brands.twig" %}
						</select>
					</div>
				</div>
			</div>
			<div class="sell-side-form__footer">
				<button data-sell-appt class="sell-btn --arrow accent-2"><span>Get Your Offer</span></button>
			</div>
		</div>
	</div> #}
</div>

{# What We Buy #}
<div id="what-we-buy" class="sell__section --grey">
	<div class="sell__column-section">

		<div data-ygsap class="col_24 --start mw-760">
			<span class="sell__section-tag">BRANDS WE BUY</span>
			<h2>What <span>Watches</span> Do We Buy?</h2>
			<p>We're interested in purchasing a <strong>wide range of luxury watch brands</strong>, including iconic names
				like Rolex, Patek
				Philippe, Audemars Piguet, and Cartier. Whether you have a classic timepiece or a modern masterpiece. </p>
		</div>

		<div class="sell__types-grid">
			<div data-ygsap class="sell-type">
				<img alt="Rolex luxury watch" src="{{ THEME_ASSETS_FOLDER }}sell/watches_type-rolex.avif" loading="lazy"
					class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Sell Your Rolex</span></button>
			</div>
			<div data-ygsap class="sell-type">
				<img alt="Cartier luxury watch" src="{{ THEME_ASSETS_FOLDER }}sell/watches_type-cartier.webp" loading="lazy"
					class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Sell Cartier Watches</span></button>
			</div>
			<div data-ygsap class="sell-type">
				<img alt="Audemars Piguet luxury watch" src="{{ THEME_ASSETS_FOLDER }}sell/watches_type-ap.avif" loading="lazy"
					class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Sell Audemars Piguet</span></button>
			</div>
			<div data-ygsap class="sell-type">
				<img alt="Patek Philippe luxury watch" src="{{ THEME_ASSETS_FOLDER }}sell/watches_type-patek.avif"
					loading="lazy" class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Sell Patek Philippe</span></button>
			</div>
			<div data-ygsap class="sell-type">
				<img alt="Hublot luxury watch" src="{{ THEME_ASSETS_FOLDER }}sell/watches_type-hublot.webp" loading="lazy"
					class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Sell Hublot</span></button>
			</div>
			<div data-ygsap class="sell-type">
				<img alt="Omega luxury watch" src="{{ THEME_ASSETS_FOLDER }}sell/watches_type-omega.avif" loading="lazy"
					class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Sell Omega</span></button>
			</div>

			<div data-ygsap class="sell-type">
				<img alt="Omega luxury watch" src="{{ THEME_ASSETS_FOLDER }}sell/watches_type-rm.avif" loading="lazy"
					class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Sell Richard Mille</span></button>
			</div>
			<div data-ygsap class="sell-type">
				<img alt="Omega luxury watch" src="{{ THEME_ASSETS_FOLDER }}sell/watches_type-breitling.avif" loading="lazy"
					class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Sell Breitling</span></button>
			</div>
			<div data-ygsap class="sell-type">
				<img alt="Omega luxury watch" src="{{ THEME_ASSETS_FOLDER }}sell/watches_type-iwc.avif" loading="lazy"
					class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Sell IWC</span></button>
			</div>
			<div data-ygsap class="sell-type">
				<img alt="Omega luxury watch" src="{{ THEME_ASSETS_FOLDER }}sell/watches_type-any.webp" loading="lazy"
					class="sell-type__pic">
				<button data-sell-appt="" class="sell-type__btn"><span>Sell Any Brand</span></button>
			</div>

		</div>
	</div>
</div>

{# Section #2 -- Why Sell To Icebox #}
<div id="why-us" class="sell__section">
	<div class="sell__column-section">
		<div data-ygsap class="col_24 --center">
			<span class="sell__section-tag">Why Choose Icebox</span>
			<h2>
				Why Choose Icebox for
				<br>
				<span>Selling Watches</span>?
			</h2>
			<p><strong>We turn your timeless pieces into unforgettable opportunities.</strong></p>
		</div>

		<div class="sell__features-grid">
			<div data-ygsap>
				<div class="sell__fill-icon">
					{% include "components/svg/geo.svg" %}
				</div>
				<p>Local Atlanta business with years of expertise</p>
			</div>
			<div data-ygsap>
				<div class="sell__fill-icon">
					{% include "components/svg/desktop-money.svg" %}
				</div>
				<p>Convenient online and in-store option</p>
			</div>
			<div data-ygsap>
				<div class="sell__fill-icon">
					{% include "components/svg/protect.svg" %}
				</div>
				<p>Secure and confidential transaction</p>
			</div>
			<div data-ygsap>
				<div class="sell__fill-icon">
					{% include "components/svg/wallet.svg" %}
				</div>
				<p>Immediate cash offers.</p>
			</div>
			<div data-ygsap>
				<div class="sell__fill-icon">
					{% include "components/svg/law.svg" %}
				</div>
				<p>No obligations</p>
			</div>
			<div data-ygsap>
				<div class="sell__fill-icon">
					{% include "components/svg/transparency.svg" %}
				</div>
				<p>Professional and transparent evaluation</p>
			</div>
		</div>

		<div data-ygsap class="col_24 --center">
			<button data-sell-appt class="sell-btn --arrow accent-2"><span>Sell Your Watch</span></button>
		</div>
	</div>
</div>

{# How to Sell #}
<div id="how-to-sell" class="sell__section --stripes">
	<div class="sell__column-section">

		<div data-ygsap class="col_24 --start mw-760">
			<span class="sell__section-tag">HOW TO SELL</span>
			<h2>A Simple 3-Step Process to <span>sell your watch</span> in Atlanta</h2>
			<p>Get a quote in a minutes or less!</p>
		</div>

		<div class="sell__how-grid">
			<div data-ygsap class="sell__how-item">
				<span class="sell__how-item-tag">Step 1</span>
				<h4 class="sell__how-item-title">Free Valuation</h4>
				<ul class="sell__how-list">
					<li>
						<p class="sm_typo">Get an instant online quote or visit our Atlanta store</p>
					</li>
				</ul>
			</div>

			<span data-ygsap class="sell__how-arrow"></span>

			<div data-ygsap class="sell__how-item">
				<span class="sell__how-item-tag">Step 2</span>
				<h4 class="sell__how-item-title">Expert Appraisal</h4>
				<ul class="sell__how-list">
					<li>
						<p class="sm_typo">Our professional team evaluates your watch's condition and market value
						</p>
					</li>
				</ul>
			</div>

			<span data-ygsap class="sell__how-arrow"></span>

			<div data-ygsap class="sell__how-item">
				<span class="sell__how-item-tag">Step 3</span>
				<h4 class="sell__how-item-title">Instant Cash Payment</h4>
				<ul class="sell__how-list">
					<li>
						<p class="sm_typo">Receive a fair, competitive offer on the spot
						</p>
					</li>
				</ul>
			</div>

		</div>

		<div data-ygsap class="row_8 mt-48">
			<button data-sell-appt class="sell-btn --arrow accent-2"><span>Sell Your Watch</span></button>
			<a href="tel:+14048420266" class="sell-btn stroke-black">
				<span>Call Now</span>
			</a>
		</div>
	</div>
</div>

{# Icebox History #}
{% include "components/sell/history.twig" with {
src: 'banner_watches-2.webp',
alt: 'Sell your luxury watch for cash in Atlanta, GA' } %}


{# Why to Sell #}
{% include "components/sell/why.twig" with {
title: "Selling your watches<br>What to expect:",
big_list: true,
items: [
{
title: "
Professional and <span>respectful</span> service
"
},
{
title: "
Quick and <span>secure</span> transactions
"
},
{
title: "
Honest and <span>transparent</span> evaluations
"
},
{
title: "
Competitive <span>cash</span> offers
"
},
{
title: "
Discretion and <span>confidentiality</span>
"
}
]
} %}


{# FAQ #}
{% include "components/sell/faq.twig" with {
questions: [
{
question: "Where can I sell my watch in Atlanta for the best price?",
answer: 'Icebox offers top-dollar cash offers for luxury watches in Atlanta. Our expert appraisers ensure you receive
the most competitive price for your timepiece.',
icon: 'location'
},
{
question: 'How do I get the most value when selling my Rolex?',
answer: '
<strong>To maximize your watches value:</strong>
<br>
Maintain
original packaging and documents
<br>
Keep the watch in excellent condition
<br>
Get a professional cleaning
before appraisal
<br>
Choose a reputable buyer like Icebox
',
icon: 'money-bag'
},
{
question: "What documents do I need to sell my watch?",
answer: "<strong>While not always required, having the following can increase your watch's value:</strong>
<br>
Original purchase receipt
<br>
Warranty card
<br>
Service records
<br>
Authentication papers",
icon: 'documents'
},
{
question: "Can I sell a watch that needs repairs?",
answer: 'Yes! We buy watches in various conditions. Our experts will provide a fair assessment based on the watch\'s
overall condition and potential restoration value.',
icon: 'repair'
},
]
} %}

{# Ticker #}
{% include "components/sell/ticker.twig" %}

{# Conclusion #}
{% include "components/sell/conclusion.twig" with {
title: "READY TO SELL?",
description: "
Visit our Atlanta location at <strong><a target='_blank' href='https://maps.app.goo.gl/sFFNFXppH6MXaWDz7'
		class='underline'>3255
		Peachtree Rd
		NE</a></strong> or start your online evaluation now.
"
} %}

{# Footer #}
{% include "components/sell/footer.twig" %}
{% include "components/sell/book-modal.twig" %}