{% set item = productItem %}
<div class="admin-card" id="product_admin_overlay_{{item.dataID}}">
	<div class="admin-card__wrapper">
		<div class="admin-card__header">

			<div class="admin-card__form-wrap">
				<div class="admin-card__select-wrap">
					<div class="admin-card__input-wrap">
						<select class="admin-card__select md_select" onfocus="hideAdminTable(this)" onblur="showAdminTable(this);" id="zoom_select_{{item.dataID}}" onchange="UpdateThumbnailZoom({{item.dataID}});">
							<option value="-50">%-50</option>
							<option value="-40">%-40</option>
							<option value="-30">%-30</option>
							<option value="-20">%-20</option>
							<option value="-10">%-10</option>
							<option value="0" selected="">%0</option>
							<option value="10">%10</option>
							<option value="20">%20</option>
							<option value="30">%30</option>
							<option value="40">%40</option>
							<option value="50">%50</option>
							<option value="60">%60</option>
							<option value="70">%70</option>
							<option value="80">%80</option>
							<option value="90">%90</option>
							<option value="100">%100</option>
						</select>
					</div>
					<div class="admin-card__input-wrap">
						<select class="admin-card__select md_select" id="size_select_{{item.dataID}}" onchange="UpdateItemSizeDropdown({{item.dataID}});">
							<option value="">-</option>
							<option value="Size 1">Size 1</option>
							<option value="Size 2">Size 2</option>
							<option value="Size 3">Size 3</option>
							<option value="Size 4">Size 4</option>
							<option value="Size 5">Size 5</option>
						</select>
					</div>
					<div class="admin-card__input-wrap">
						<select class="admin-card__select md_select" id="blanket_select_{{item.dataID}}" onchange="UpdateBlanketShipDate({{item.dataID}});">
							<option value="">Blanket</option>
							<option value="1 Day">1 Day</option>
							<option value="1 Week">1 Week</option>
							<option value="2 Weeks">2 Weeks</option>
							<option value="3 Weeks">3 Weeks</option>
							<option value="4 Weeks">4 Weeks</option>
							<option value="5 Weeks">5 Weeks</option>
							<option value="6 Weeks">6 Weeks</option>
						</select>
					</div>
					<div class="admin-card__input-wrap">
						<select class="admin-card__select md_select" id="discount_select_{{item.dataID}}" onchange="UpdateDiscountPercentage({{item.dataID}});">
							<option value="0">Discount</option>
							<option value="10">%10</option>
							<option value="20">%20</option>
							<option value="30">%30</option>
							<option value="40">%40</option>
							<option value="50">%50</option>
							<option value="60">%60</option>
							<option value="70">%70</option>
						</select>
					</div>
				</div>
			</div>


			<div class="admin-card__details">
				<div class="admin-card__info-wrap">
					<table class="table-investory table">
						<tbody>
							<tr>
								<th>
									<a href="/inventory?id={{item.dataID}}&amp;stock=In Stock" target="_blank">Stock</a>
								</th>
								<td class="bg-golden " style="border:1px solid red" ondblclick="SetSaleColor({{item.dataID}},'Yellow',this);">0</td>
								<td class="bg-silver " style="border:1px solid green" ondblclick="SetSaleColor({{item.dataID}},'White',this);">1</td>
								<td class="bg-rosegold " style="border:1px solid red" ondblclick="SetSaleColor({{item.dataID}},'Rose',this);">0</td>
							</tr>
							<tr>
								<th>Sold</th>
								<td class="bg-golden">0</td>
								<td class="bg-silver">9</td>
								<td class="bg-rosegold">0</td>
							</tr>
							<tr>
								<th>RAT</th>
								<td colspan="3" class="bg-golden">9</td>
							</tr>
							<tr>
								<th>Views</th>
								<td colspan="3" class="bg-golden">31,746</td>
							</tr>
							<tr>
								<th>V/Rat</th>
								<td colspan="3" class="bg-golden">3,527</td>
							</tr>
							<tr>
								<th>TRV</th>
								<td colspan="3" class="bg-golden">$0.00</td>
							</tr>
							<tr>
								<th>LS</th>
								<td colspan="3" class="bg-golden">133 days</td>
							</tr>
							<tr>
								<th>P#</th>
								<td colspan="3" class="bg-golden">P3709</td>
							</tr>
							<tr>
								<th>#</th>
								<td colspan="3" class="bg-golden">
									<a href="/inventory?search=100-02617" target="_blank">100-02617</a>
								</td>
							</tr>
							<tr>
								<th>Stock</th>
								<td>
									<span class="badge-shipping-today">
										<svg class="svgIcon-root" focusable="false" aria-hidden="true" viewbox="0 0 18 18">
											<path fill-rule="evenodd" d="M16.5 9a7.5 7.5 0 11-15 0 7.5 7.5 0 0115 0zM18 9A9 9 0 110 9a9 9 0 0118 0zm-9.655 3.04l5.176-5-1.042-1.08-4.655 4.497L5.52 8.233 4.48 9.313l2.823 2.726.522.504.52-.504z"></path>
										</svg>
										<span>Ships Today!</span>
									</span>
								</td>
							</tr>
							<tr>
								<th>Weight</th>
								<td><input type="text" class="admin-card__price-input" onchange="setRingDiamondSize({{item.dataID}})" id="diamond_size_{{item.dataID}}" value="N/A"></td>
							</tr>
							<tr>
								<th>Shape</th>
								<td>
									<select class="admin-card__select md_select" id="ring_diamond_shape_{{item.dataID}}" onchange="UpdateRingDiamondShape({{item.dataID}})">
										<option value="">Select</option>
										<option value="Round" selected="">Round</option>
										<option value="Pear">Pear</option>
										<option value="Princess">Princess</option>
										<option value="Marquise">Marquise</option>
										<option value="Oval">Oval</option>
										<option value="Radiant">Radiant</option>
										<option value="Emerald">Emerald</option>
										<option value="Heart">Heart</option>
										<option value="Cushion">Cushion</option>
										<option value="Asscher">Asscher</option>
										<option value="Composite">Composite</option>
									</select>
								</td>
							</tr>
							<tr>
								<th>G / VS2</th>
								<td colspan="3" class="bg-golden"><input data-prop="Diamond Price 1" data-id="{{item.dataID}}" class="form-control admin_card_input" type="text" value="N/A"></td>
							</tr>
							<tr>
								<th>K / SI2</th>
								<td colspan="3" class="bg-golden"><input data-prop="Diamond Price 2" data-id="{{item.dataID}}" class="form-control admin_card_input" type="text" value="N/A"></td>
							</tr>
							<tr>
								<th>H / SI1</th>
								<td colspan="3" class="bg-golden"><input data-prop="Diamond Price 3" data-id="{{item.dataID}}" class="form-control admin_card_input" type="text" value="N/A"></td>
							</tr>
							<tr>
								<th>J / VS2</th>
								<td colspan="3" class="bg-golden"><input data-prop="Diamond Price 4" data-id="{{item.dataID}}" class="form-control admin_card_input" type="text" value="N/A"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>


		<div class="admin-card__footer">
			<div class="admin-card__actions">
				<a href="javascript:void(0);" id="add_hp_btn_{{item.dataID}}" onclick="AddToHomePage({{item.dataID}});" class="admin-card__link" title="Add To homepage">
					<i class="icon icon-admin-add"></i>
				</a>
				<a id="remove_hp_btn_{{item.dataID}}" title="remove from homepage" onclick="RemoveFromHomepage({{item.dataID}});" class="admin-card__link --delete">
					<i class="icon icon-admin-delete"></i>
				</a>
				<a href="javascript:void(0);" id="add_ontime_stock_btn_{{item.dataID}}" onclick="AddOneTimeStock({{item.dataID}});" class="admin-card__link" title="Only 1 Can Sell">
					<i class="icon icon-rating-empty"></i>
				</a>
				<a href="javascript:void(0);" id="remove_ontime_stock_btn_{{item.dataID}}" onclick="RemoveOnTimeStock({{item.dataID}});" class="admin-card__link" title="Remove From From Only 1 Can Sell">
					<i class="icon icon-rating-filled"></i>
				</a>
				<a href="javascript:void(0);" id="add_liquidate_{{item.dataID}}" onclick="AddToBlackFridayPage({{item.dataID}});" class="admin-card__link" title="Add To Sales Page">
					<i class="icon icon-admin-add"></i>
				</a>
				<a href="javascript:void(0);" id="remove_liquidate_{{item.dataID}}" onclick="RemoveFromBlackFridayPage({{item.dataID}});" class="admin-card__link" title="Remove From Sales Page">
					<i class="icon icon-admin-delete"></i>
				</a>
				<a onclick="sendToLast({{item.dataID}})" class="admin-card__link" title="Place Item Last">Last</a>
				<a href="/admin/products/{{item.dataID}}" target="_blank" class="admin-card__link">
					<i class="icon icon-admin-edit"></i>
				</a>
				<a href="/product/1-00ctw-double-halo-pear-diamond-engagement-ring-all-natural-{{item.dataID}}" target="_blank" class="admin-card__link">
					<i class="icon icon-admin-view"></i>
				</a>
			</div>
		</div>
	</div>
</div>
