<div class="blog-post">
	<a href="/article/{{article.slug}}" class="blog-post__pic-link">
		<img src="{{article.cover}}" loading="lazy" alt="" class="blog-post__pic">
	</a>
	<div class="blog-post__main">
		<div class="blog-post__details">
			<div class="blog-post__tags">
				<span class="read-time">{{article.min_reading ?: '5'}}
					min reading</span>
				<span class="post-date">Posted on
					{{article.date}}</span>
			</div>
			<div class="blog-post__title-wrap">
				<h3 class="blog-post__title">
					<a href="/article/{{article.slug}}">{{article.title}}</a>
				</h3>
			</div>
			<p class="blog-post__excerpt">{{article.excerpt}}</p>
			<span class="post-author">{{article.author ?: 'Icebox Author'}}</span>
		</div>
	</div>
</div>
