<div class="footer">

	{# Main #}
	<div class="footer__main">
		<div class="wrapper">
			<div class="footer__flex-row">

				{# Main Details #}
				<div class="footer__main-details">

					<a href="/" class="header-logo">
						{% if xmas %}
						<img src="{{THEME_ASSETS_FOLDER}}promo/xmas/2024/logo.avif" loading="eager" alt="Icebox ">
						{% else %}
						{% if new_year %}
						<img src="{{THEME_ASSETS_FOLDER}}promo/new-year/2024/logo.png" loading="eager" alt="Icebox ">
						{% else %}
						{% if vday %}
						<img src="{{THEME_ASSETS_FOLDER}}promo/vday/2024/logo.avif" loading="eager" alt="Icebox valentine's logo">
						{% else %}
						{% if main_logo is defined %}
						<img src="{{ main_logo }}" loading="eager" alt="Icebox ">
						{% else %}
						<img src="{{THEME_ASSETS_FOLDER}}/assets/logo.svg" loading="eager" alt="Icebox ">
						{% endif %}
						{% endif %}
						{% endif %}
						{% endif %}
					</a>

					<img alt="Icebox Atlanta store" src="{{THEME_ASSETS_FOLDER}}store-picture.webp" loading="eager"
						class="footer__store-pic">
					<h5 class="footer__sub-typo">3255 Peachtree Road, NE<br>Suite #2<br>Atlanta, GA, 30305, USA</h5>
				</div>

				{# Links #}
				<div class="footer__more-details">
					<div class="footer__col">
						<div class="footer__col-head">
							<h5 class="contact__heading">More Pages</h5>
							<svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 7L12 18L23 7" stroke="currentColor" stroke-width="4"></path>
							</svg>
						</div>
						<div class="footer__links-list">
							{% for item in footer.linksAbout %}

							
							{% if item.href == '/account' %}
							<a {% if user !=false %} href="{{item.href}}" {% else %} href="javascript:void(0);" {% endif %}
								class="{% if user == false %} js-toggle-sign {% endif %}">{{item.caption}}</a>
							{% else %}
							<a href="{{item.href}}">{{item.caption}}</a>
							{% endif %}


							{% endfor %}
						</div>
					</div>
					<div class="footer__col">
						<div class="footer__col-head">
							<h5 class="contact__heading">Shop By Category</h5>
							<svg width="100%" height="100%" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 7L12 18L23 7" stroke="currentColor" stroke-width="4"></path>
							</svg>
						</div>
						<div class="footer__links-list">
							{% for item in footer.linksProducts %}
							{% if item.id != 15 %}
							<a href="{{item.href}}">
								{% if item.caption == 'Watches' %}
								Bustdowns
								{% endif %}
								{% if item.caption == 'Watch Market' %}
								Watches
								{% endif %}
								{% if item.caption != 'Watches' and item.caption != 'Watch Market'%}
								{{item.caption}}
								{% endif %}
							</a>
							{% endif %}
							{% endfor %}
						</div>
					</div>
					<div class="footer__col --first --static">
						<div class="footer__contacts">
							<h5 class="contact__heading">Contact Us
								<span>
									M - F: 11AM - 6PM
									<br>
									Saturday: 12PM - 5PM
									<br>
									Closed Sunday
								</span>
							</h5>
							<a href="tel:404-842-0266" class="footer__lg-link">(404) 842-0266</a>
							<a href="/chat-whatsapp" class="footer__btn">
								<img loading="lazy" src="{{THEME_ASSETS_FOLDER}}wa_white-pic.svg" alt="">
								<span>Chat on WhatsApp</span>
								<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewbox="0 0 24 27" fill="none">
									<path d="M0.5 13.5H20.5" stroke="currentColor" stroke-width="4"></path>
									<path d="M8.5 1.5L20.5 13.5L8.5 25.5" stroke="currentColor" stroke-width="4"></path>
								</svg>
							</a>
							<a href="mailto:sales@icebox.com" class="footer__lg-link is-low">sales@icebox.com</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{# Bottom Details #}
	<div class="footer__bottom">
		<div class="wrapper">
			<div class="footer__flex-row is-low">
				<div class="footer__disclaimer">
					<div>Icebox.com
						{{ "now" | date('Y') }}
						ⓒ . All Rights Reserved.</div>
					<div class="footer__socials">
						<a href="https://www.instagram.com/icebox/">
							<img loading="lazy" src="{{THEME_ASSETS_FOLDER}}social-box_instagram.svg" alt="">
						</a>
						<a href="https://www.youtube.com/channel/UCv8gFyATae1x0VmDHmNbIhg?sub_confirmation=1">
							<img loading="lazy" src="{{THEME_ASSETS_FOLDER}}social-box_youtube.svg" alt="">
						</a>
						<a href="https://www.twitter.com/icebox">
							<img loading="lazy" src="{{THEME_ASSETS_FOLDER}}social-box_twitter.svg" alt="">
						</a>
						<a href="https://www.facebook.com/Icebox">
							<img loading="lazy" src="{{THEME_ASSETS_FOLDER}}social-box_facebook.svg" alt="">
						</a>
						<a href="https://www.tiktok.com/@icebox">
							<img loading="lazy" src="{{THEME_ASSETS_FOLDER}}social-box_tiktok.svg" alt="">
						</a>
					</div>
				</div>
				<div class="footer__payments">
					<img loading="eager" src="{{THEME_ASSETS_FOLDER}}checkout/pay-icon_visa.svg" alt="Visa logo">
					<img loading="eager" src="{{THEME_ASSETS_FOLDER}}checkout/pay-icon_mastercard.svg" alt="Mastercard logo">
					<img loading="eager" src="{{THEME_ASSETS_FOLDER}}checkout/pay-icon_paypal.svg" alt="Paypal logo">
					<img loading="eager" src="{{THEME_ASSETS_FOLDER}}checkout/pay-icon_btc.svg" alt="Bitcoin logo">
					<img loading="eager" src="{{THEME_ASSETS_FOLDER}}checkout/pay-icon_amex.svg" alt="Amex logo">
				</div>
			</div>
		</div>
	</div>
</div>