<section class="hero-section">
	<div class="hero-banner">
		<img src="{{THEME_ASSETS_FOLDER}}hero_{{section.banner}}.webp" loading="eager" alt="" class="hero-banner__pic">
		<a href="{{section.href}}" class="hero-banner_overlay"></a>
		<div class="hero-banner__summary">
			<h2>{{section.title}}</h2>
			<p>{{section.banner_text}}</p>
			<div>
				<a href="{{section.href}}" class="hero-banner__btn">
					<span>Shop Now</span>
					{% include "components/svg/arrow-next.svg" %}
				</a>
			</div>
		</div>
	</div>
</section>
