<div class="post-ticker">
	<div>
		<img src="{{THEME_ASSETS_FOLDER}}post_nyt.svg" alt="new york times">
		<img src="{{THEME_ASSETS_FOLDER}}post_complex.svg" alt="complex magazine">
		<img src="{{THEME_ASSETS_FOLDER}}post_wp.svg" alt="washington post">
		<img src="{{THEME_ASSETS_FOLDER}}post_nyt.svg" alt="new york times">
		<img src="{{THEME_ASSETS_FOLDER}}post_complex.svg" alt="complex magazine">
		<img src="{{THEME_ASSETS_FOLDER}}post_wp.svg" alt="washington post">
		<img src="{{THEME_ASSETS_FOLDER}}post_nyt.svg" alt="new york times">
		<img src="{{THEME_ASSETS_FOLDER}}post_complex.svg" alt="complex magazine">
		<img src="{{THEME_ASSETS_FOLDER}}post_wp.svg" alt="washington post">
	</div>
	<div>
		<img src="{{THEME_ASSETS_FOLDER}}post_nyt.svg" alt="new york times">
		<img src="{{THEME_ASSETS_FOLDER}}post_complex.svg" alt="complex magazine">
		<img src="{{THEME_ASSETS_FOLDER}}post_wp.svg" alt="washington post">
		<img src="{{THEME_ASSETS_FOLDER}}post_nyt.svg" alt="new york times">
		<img src="{{THEME_ASSETS_FOLDER}}post_complex.svg" alt="complex magazine">
		<img src="{{THEME_ASSETS_FOLDER}}post_wp.svg" alt="washington post">
		<img src="{{THEME_ASSETS_FOLDER}}post_nyt.svg" alt="new york times">
		<img src="{{THEME_ASSETS_FOLDER}}post_complex.svg" alt="complex magazine">
		<img src="{{THEME_ASSETS_FOLDER}}post_wp.svg" alt="washington post">
	</div>
	<div>
		<img src="{{THEME_ASSETS_FOLDER}}post_nyt.svg" alt="new york times">
		<img src="{{THEME_ASSETS_FOLDER}}post_complex.svg" alt="complex magazine">
		<img src="{{THEME_ASSETS_FOLDER}}post_wp.svg" alt="washington post">
		<img src="{{THEME_ASSETS_FOLDER}}post_nyt.svg" alt="new york times">
		<img src="{{THEME_ASSETS_FOLDER}}post_complex.svg" alt="complex magazine">
		<img src="{{THEME_ASSETS_FOLDER}}post_wp.svg" alt="washington post">
		<img src="{{THEME_ASSETS_FOLDER}}post_nyt.svg" alt="new york times">
		<img src="{{THEME_ASSETS_FOLDER}}post_complex.svg" alt="complex magazine">
		<img src="{{THEME_ASSETS_FOLDER}}post_wp.svg" alt="washington post">
	</div>
</div>
