<div class="sale-history-modal">
	<div data-evt="closeSalesModal" class="sale-history__backdrop"></div>
	<div class="sale-history__container">
		<div class="sale-history__head">
			<button data-evt="closeSalesModal">
				<svg width="20" height="20" viewbox="0 0 38 22" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M12.5 1L1.5 11L12.5 21" stroke="currentColor" stroke-width="2.5"></path>
					<path d="M1.5 11H38" stroke="currentColor" stroke-width="2.5"></path>
				</svg>Close
			</button>
			<h2>Sales History<span>{{product.item.name}}</span>
			</h2>
		</div>
		<table>
			<tr>
				<th>Date</th>
				<th>Order #</th>
				<th>Price</th>
				<th>Color</th>
				<th>Tracking #</th>
				<th>Days</th>
			</tr>
			{% for sale in product.sales %}
				<tr>
					<td>{{sale.date}}</td>
					<td><a href="{{sale.order.link}}">{{sale.order.number}}</a></td>
					<td>${{sale.price}}</td>
					<td>{{sale.color}}</td>
					<td><a href="{{sale.tracking.link}}">{{sale.tracking.number}}</a></td>
					<td>{{sale.days}}</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>
