<div class="hero-card">
	<div class="hero-card__wrapper">
		<div class="hero-card__media">
			<a href="/gia-products?diamondshape[]=Round">
				<img src="{{THEME_ASSETS_FOLDER}}hero-dm-round.webp" alt="">
			</a>
			<div class="hero-card__over">
				<span>Round</span>
			</div>
		</div>
	</div>
</div>
<div class="hero-card">
	<div class="hero-card__wrapper">
		<div class="hero-card__media">
			<a href="/gia-products?diamondshape[]=Oval">
				<img src="{{THEME_ASSETS_FOLDER}}hero-dm-oval.webp" alt="">
			</a>
			<div class="hero-card__over">
				<span>Oval</span>
			</div>
		</div>
	</div>
</div>
<div class="hero-card">
	<div class="hero-card__wrapper">
		<div class="hero-card__media">
			<a href="/gia-products?diamondshape[]=Princess">
				<img src="{{THEME_ASSETS_FOLDER}}hero-dm-square.webp" alt="">
			</a>
			<div class="hero-card__over">
				<span>Princess</span>
			</div>
		</div>
	</div>
</div>
<div class="hero-card">
	<div class="hero-card__wrapper">
		<div class="hero-card__media">
			<a href="/gia-products?diamondshape[]=Emerald">
				<img src="{{THEME_ASSETS_FOLDER}}hero-dm-emerald.webp" alt="">
			</a>
			<div class="hero-card__over">
				<span>Emerald</span>
			</div>
		</div>
	</div>
</div>
<div class="hero-card">
	<div class="hero-card__wrapper">
		<div class="hero-card__media">
			<a href="/gia-products?diamondshape[]=Pear">
				<img src="{{THEME_ASSETS_FOLDER}}hero-dm-pear.webp" alt="">
			</a>
			<div class="hero-card__over">
				<span>Pear</span>
			</div>
		</div>
	</div>
</div>
<div class="hero-card">
	<div class="hero-card__wrapper">
		<div class="hero-card__media">
			<a href="/gia-products?diamondshape[]=Wedding">
				<img src="{{THEME_ASSETS_FOLDER}}hero-dm-wedding.webp" alt="">
			</a>
			<div class="hero-card__over">
				<span>Wedding</span>
			</div>
		</div>
	</div>
</div>
