<div class="hero-cards-grid --shapes">
	<div class="shape-box">
		<a href="/gia-products?diamondshape[]=Round" class="hero-card__pic-wrap">
			<img class="hero-card__img" src="{{ THEME_ASSETS_FOLDER }}diamond-ring_round.webp" alt="Diamond Rings Round Shape">
		</a>
		<div class="over-text">Round</div>
	</div>
	<div class="shape-box">
		<a href="/gia-products?diamondshape[]=Oval" class="hero-card__pic-wrap">
			<img class="hero-card__img" src="{{ THEME_ASSETS_FOLDER }}diamond-ring_oval.webp" alt="Diamond Rings Oval Shape">
		</a>
		<div class="over-text">Oval</div>
	</div>
	<div class="shape-box">
		<a href="/gia-products?diamondshape[]=Princess" class="hero-card__pic-wrap">
			<img class="hero-card__img" src="{{ THEME_ASSETS_FOLDER }}diamond-ring_princess.webp" alt="Diamond Rings Princess Shape">
		</a>
		<div class="over-text">Princess</div>
	</div>
	<div class="shape-box">
		<a href="/gia-products?diamondshape[]=Emerald" class="hero-card__pic-wrap">
			<img class="hero-card__img" src="{{ THEME_ASSETS_FOLDER }}diamond-ring_emerald.webp" alt="Diamond Rings Emerald Shape">
		</a>
		<div class="over-text">Emerald</div>
	</div>
	<div class="shape-box">
		<a href="/gia-products?diamondshape[]=Pear" class="hero-card__pic-wrap">
			<img class="hero-card__img" src="{{ THEME_ASSETS_FOLDER }}diamond-ring_pear.webp" alt="Diamond Rings Pear Shape">
		</a>
		<div class="over-text">Pear</div>
	</div>
	<div class="shape-box">
		<a href="/results/rings?sub[]=Engagement%20Rings" class="hero-card__pic-wrap">
			<img class="hero-card__img" src="{{ THEME_ASSETS_FOLDER }}diamond-ring_wedding.webp" alt="Diamond Rings Wedding Bands">
		</a>
		<div class="over-text">Wedding</div>
	</div>
</div>
