<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
	{% if page_title is defined %}
		{{page_title}}
	{% else %}
		{{page_default_title}}
	{% endif %}
</title>

<meta name="description" content="{% if page_description is defined %}{{page_description}}{% else %}{{page_default_description}}{% endif %}">
<meta name="keywords" content="{% if page_default_keywords %}{{page_default_keywords}}{% else %}{% endif %}">
<meta name="robots" content="index follow">

<link rel="stylesheet" href="css/partial.css"/>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta name="theme-color" content="#ffffff">
<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: dark)">

{% if black_friday == true %}
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
{% endif %}


<link rel="apple-touch-icon" sizes="180x180" href="https://www.icebox.com/assets/public-2022/v4/favicons/new/apple-touch-icon.png?v=641530abd62e7">
<link rel="icon" type="image/png" sizes="32x32" href="https://www.icebox.com/assets/public-2022/v4/favicons/new/favicon-32x32.png?v=641530abd62e8">
<link rel="icon" type="image/png" sizes="16x16" href="https://www.icebox.com/assets/public-2022/v4/favicons/new/favicon-16x16.png?v=641530abd62e9">
<link rel="manifest" href="https://www.icebox.com/assets/public-2022/v4/favicons/new/site.webmanifest">
<link rel="mask-icon" href="https://www.icebox.com/assets/public-2022/v4/favicons/new/safari-pinned-tab.svg?v=641530abd62ea" color="#5bbad5">
