{% set THEME_ASSETS_FOLDER = './assets/' %}

{% set promo_class = xmas ? '--xmas' : black_friday ? '--black-friday' : cyber_monday ? '--cyber-monday' : christmas ? '--christmas' : new_year ? '--new-year' : vday ? '--vday' : cyber_week ? '--cyber-week' : false %}

<!DOCTYPE html>
<html lang="en">
	<head>
		{% include '../page-components/head.twig' %}
		{{ block('include_head') }}
	</head>

	<body class="{% if bodyClass is defined %}{{bodyClass}}{% endif %}{% if promo_class %} {{promo_class}}{% endif %}">
		<main{% if mainClass is defined %} class="{{mainClass}}"{% endif %}>
		
		{% if topBanner is defined and topBanner.text != '' %}
				<div class="top-banner">
					{{ topBanner.text }}
				</div>
			{% endif %}

			{% include "../elements/header.twig" %}
			
			{% block content %}{% endblock %}

			{% if logged %}
			{% else %}
			{% endif %}

			{% if userIsAdmin == true %}
				{% include "elements/admin-bar.twig" %}
			{% endif %}
		</main>

		{% include "../elements/footer.twig" %}

		{% include "elements/menu3.twig" %}
		{# {% include "../elements/menu.twig" %} #}
		{% include "../elements/cart-modal.twig" %}
		{% include "../elements/sign-modal.twig" %}
		{% include "../elements/currency-modal.twig" %}
		{% include "elements/page-alerts.twig" %}
		{% include "elements/pay-modal.twig" %}
		{% include "elements/mail-modal.twig" %}
		{% include "elements/quiz-modal.twig" %}
		{% include "elements/whatsapp-float.twig" %}
		{% include "components/general/search.twig" %}
		{% include "../page-components/scripts.twig" %}
		{{ block('include_script') }}
	</body>
</html>
