<a href="/" class="header-logo">
	{% if main_logo is defined %}
		<img src="{{ main_logo }}" loading="eager" alt="Icebox ">
	{% else %}
		<img src="{{THEME_ASSETS_FOLDER}}/assets/logo.svg" loading="eager" alt="Icebox ">
	{% endif %}
</a>

<div class="header-nav__group">
	<a href="javascript:void(0);" data-evt="toggleMenu">
		<div>
			{% include "components/svg/menu.svg" %}
		</div>
	</a>
	<a href="javascript:void(0);" data-evt="toggleSearch">
		<div>
			{% include "components/svg/search.svg" %}
		</div>
	</a>
	<a href="/locations" data-evt="locations">
		<div>
			{% include "components/svg/location.svg" %}
			<span>Our Locations</span>
		</div>
	</a>
	{% if vday == true %}
		<a href="/valentines-day" class="vday-nav-link is-valentine">
			<img src="{{THEME_ASSETS_FOLDER}}/assets/vday/link-ring.webp" loading="eager" alt="">
			<span>Valentine&#x27;s Sale</span>
		</a>
	{% endif %}
	<a href="/sale" class="vday-nav-link --sale">
		<img src="{{THEME_ASSETS_FOLDER}}sample_earrings.webp" loading="eager" alt="">
		<span>Sale</span>
	</a>
</div>

<div class="header-nav__group">
	<div data-evt="toggleAccountDropdown" data-sign-switch="login" class="{% if user %}js-login-dropdown{% else %}js-toggle-sign{% endif %}">
		<div>
			{% include "components/svg/account.svg" %}
			<!-- <span>My Account</span> -->
		</div>
		{% if user %}
			{% include "components/header/login-dropdown.twig" %}
		{% endif %}
	</div>
	{% if user %}
		<a href="/account/wishlist" data-evt="toggleWishlist">
			<div>
				{% include "components/svg/wishlist.svg" %}
			</div>
		</a>
	{% endif %}
	<a href="javascript:void(0);" class="cart_trigger" data-evt="toggleCart">
		<div>
			{% include "components/svg/cart.svg" %}
			<span class="cart-count cart-counter">{{ cart_items }}</span>
		</div>
	</a>
</div>
