<div class="side-row__payments">
	<div class="product__btn-group">
		{% if product.temp_unavailable == false %}
			{% if product.call_for_price == false %}
				<a id="ajax-button" href="javascript:void(0);" class="buy-btn" onclick="window.addCartModal.show()">
					<span>ADD TO CART</span>
					<span class="buy-btn__price" id="add_cart_btn_price">...</span>
				</a>
			{% else %}
				<a href="tel:+1770828554" class="buy-btn">
					<span>{{ product.call_for_price_text }}</span>
				</a>
			{% endif %}
		{% else %}
			<a href="javascript:void(0)" class="buy-btn">
				{% if product.item.sold %}
					<span>Sold</span>
				{% else %}
					<span>Temporarily Unavailable</span>
				{% endif %}
			</a>
		{% endif %}
	</div>

	{% if is_watch_market_item  %}
		<a class="product__wa-link" href="/chat-whatsapp-2?p_id={{ product.item.id }}" target="_blank">
			<img src="{{ THEME_ASSETS_FOLDER }}wa_white-icon.svg" alt="Whatsapp Icon Picture" loading="eager">
			<span>Talk Now on WhatsApp</span>
		</a>
	{% else %}
		<a class="product__wa-link" href="/chat-whatsapp?p_id={{ product.item.id }}" target="_blank">
			<img src="{{ THEME_ASSETS_FOLDER }}wa_white-icon.svg" alt="Whatsapp Icon Picture" loading="eager">
			<span>Talk Now on WhatsApp</span>
		</a>
	{% endif %}

	{% if black_friday %}
		<div class="promo-counter-row">
			<div class="expire-tab --black-friday">
				<div class="expire-tab__heading">EXPIRES IN:</div>
				<div class="expire-tab__grid">
					<div>
						<span data-black-timer="days">00</span>
						<span>Days</span>
					</div>
					<div>
						<span data-black-timer="hours">00</span>
						<span>Hours</span>
					</div>
					<div>
						<span data-black-timer="minutes">00</span>
						<span>Min</span>
					</div>
				</div>
			</div>
		</div>
	{% endif %}


	{% if cyber_monday %}
		<div class="promo-counter-row">
			<div class="expire-tab --cm">
				<div class="expire-tab__heading">EXPIRES IN:</div>
				<div class="expire-tab__grid">
					<div>
						<span data-cyber-timer="days">00</span>
						<span>Days</span>
					</div>
					<div>
						<span data-cyber-timer="hours">00</span>
						<span>Hours</span>
					</div>
					<div>
						<span data-cyber-timer="minutes">00</span>
						<span>Min</span>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

</div>
