<div class="side-row">
	<div class="side-row__body">
		{% if  product.item.salePrice is defined %}
			{% include "elements/product-card/stock-dash-box.twig" %}
		{% endif %}
		<div class="side-row__title-wrap">
			<h1 id="item_name" class="product__item-title">{{product.item.name}}</h1>
			{% if user != false %}
				<div class="product__add-fav {% if product.is_in_wishlist %}is-active{% endif %}" id="wishlist_btn_{{product.item.id}}" {% if (product.is_in_wishlist == false) and (user) %} onclick="addToWishlist({{product.item.id}});" {% endif %}>
					{% include "elements/product-page/svg/heart.svg" %}
				</div>
			{% endif %}
		</div>

		{# Price #}
		<div class="side-row__price">
			<div class="side-row__line_price">
				{% if product.item.salePrice is defined %}
					{% if product.call_for_price == false and product.item.sold == false %}
						<span class="product__item-price old_price" data-old-price="{{ product.item.old_price }}">
							{{product.item.price}}
						</span>
						<span class="product__item-price sale_price" id="current_base_price">
							{{product.item.salePrice}}
						</span>
						<span class="product-discount-rate">-{{product.item.discountRate}}%</span>
					{% else %}
						<span class="product__item-price">
							{% if product.item.sold %}
								SOLD
							{% else %}
								{{product.call_for_price_text}}</span>
						{% endif %}

					{% endif %}
				{% else %}

					{% if product.call_for_price == false%}
						{% if product.item.sold == false %}
							<span class="product__item-price" id="current_base_price">{{product.item.price}}</span>
						{% else %}
							<span class="product__item-price">SOLD</span>
						{% endif %}

					{% else %}
						<span class="product__item-price">{{product.call_for_price_text}}</span>
					{% endif %}

				{% endif %}
			</div>

			<div class="side-row__detailed-price" style="display:none;">
				<span class="--diamond">
					<span>Diamond Price:</span>
					<span></span>
					<span id="diamond_ring_price"></span>
				</span>
				<span class="--ring">
					<span>Ring Price:</span>
					<span></span>
					<span id="ring_ring_price"></span>
				</span>
				<span>
					<span>Total Price:</span>
					<span></span>
					<span id="ring_total_price"></span>
				</span>
			</div>

			{# {% if product.item.sold == false %}
				<button class="price-alert-btn">Sign up for price alerts</button>
			{% endif %} #}
		</div>

		<div class="side-row__line">
			<div class="product__item-summary">
				{% if product.item.mainDescription %}
					<p>{{product.item.mainDescription | raw }}</p>
				{% endif %}
			</div>
		</div>

		{% include "elements/product-page/stock-availability.twig" %}

		{% if product.matching_items is defined  and product.show_perfect_match %}
			{% set matching_item = product.matching_items[0] %}
			<div class="side-row__line desktop-only">
				<div class="match-box">
					<div class="match-box-dash">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<p class="match-box-heading">Perfect Matching
						{{ matching_item.category_name }}</p>
					<div class="match-box__wrapper">
						<img src="{{matching_item.cover}}" loading="lazy" alt="{{matching_item.alt}}" class="match-box-thumbnail">
						<div class="match-box__details-wrapper">
							<a href="{{matching_item.href}}">
								<span class="match-box-title">{{matching_item.name}}</span>
							</a>
							<span class="match-box-price">{{matching_item.price}}</span>
							<a href="{{ matching_item.href }}" class="match-box-btn">View Item</a>
						</div>
					</div>
				</div>
			</div>
		{% endif %}

	</div>
</div>
