<div class="side-row">
	<div class="side-row__body">

		{% if black_friday == true %}
			<div class="bfs-badges">
				<span class="bfs-badge">BLACK FRIDAY</span>
				<span class="bfs-badge --discount">-30%</span>
			</div>
		{% endif %}
		{# {% include "elements/product-card/stock-dash-box.twig" %} #}
		{% if tags == true %}
			<div class="side-row__tags">
				<span>Rings</span>
				<span>0.75CTW</span>
				<span>Unisex</span>
			</div>
		{% endif %}
		<div class="side-row__title-wrap">
			<h1 id="item_name" class="product__item-title">{{product.item.name}}</h1>
			{# <div class="product__add-fav {% if itemIsWishlisted %}is-active{% endif %}" id="wishlist_btn_{{product.item.id}}" onclick="addToWishlist({{product.item.id}});">
										{% include "./svg/heart.svg" %}
									</div> #}
		</div>

		<div class="side-row__price">
			<div class="side-row__line_price">
				{% if product.item.salePrice is defined %}
					<span class="product__item-price old_price">$
						{{product.item.price}}</span>
					<span class="product__item-price sale_price">$
						{{product.item.salePrice}}</span>
					<span class="product-discount-rate">-{{product.item.discount}}%</span>
				{% else %}
					<span class="product__item-price">$
						{{product.item.price}}</span>
				{% endif %}
			</div>

			{# Detailed Price #}
			{% if product.item.detailedPrice is defined %}
				{% set prices = product.item.detailedPrice %}
				<div class="side-row__detailed-price">
					{% for price in prices %}
						<span {% if price.extraClass is defined %} class="{{price.extraClass}}" {% endif %}>
							<span>{{price.title}}:</span>
							<span></span>
							<span>${{price.value}}</span>
						</span>
					{% endfor %}
				</div>
			{% endif %}

		</div>

		<div class="side-row__line">
			<div class="product__item-summary">
				{% if product.item.mainDescription %}
					<p>{{product.item.mainDescription}}</p>
				{% endif %}

				{% if product.item.summary %}
					<ul role="list">
						{% for item in product.item.summary %}
							<li>
								<p>{{item}}</p>
							</li>
						{% endfor %}
					</ul>
				{% endif %}

				{% if product.item.subDescription %}
					<p>{{product.item.subDescription}}</p>
				{% endif %}
			</div>
		</div>

		{% if item.temp_unavailable %}
			<div class="side-row__ship-line">
				<div class="product__item-availability availability_order">
					<div class="product__availability-svg">
						{% include "elements/product-page/svg/ship.svg" %}
					</div>
					<span class="product__availability-info">
						{% if product.item.sold %}
							This item is sold!
						{% else %}
							This item is temporarily unavailable !
						{% endif %}

					</span>
				</div>
			</div>
		{% else %}
			<div class="side-row__ship-line">
				<div class="product__item-availability{% if product.item.stock == false %} availability_order{% endif %}">
					<div class="product__availability-svg">
						{% include "./svg/ship.svg" %}
					</div>
					<span class="product__availability-info">
						{% if product.item.stock == false %}
							This item is made to order &amp; Ships by
							{{product.item.shippingDate}}.
						{% else %}
							In Stock
						{% endif %}
					</span>
				</div>
			</div>
		{% endif %}

		{% if product.matching_items is defined  and product.show_perfect_match %}
			{% set matching_item = product.matching_items[0] %}
			<div class="side-row__line desktop-only">
				<div class="match-box">
					<div class="match-box-dash">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</div>
					<p class="match-box-heading">Perfect Matching
						{{ matching_item.category_name }}</p>
					<div class="match-box__wrapper">
						<img src="{{matching_item.cover}}" loading="lazy" alt="{{matching_item.alt}}" class="match-box-thumbnail">
						<div class="match-box__details-wrapper">
							<a href="{{matching_item.href}}">
								<span class="match-box-title">{{matching_item.name}}</span>
							</a>
							<span class="match-box-price">{{matching_item.price}}</span>
							<a href="{{ matching_item.href }}" class="match-box-btn">View Item</a>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	</div>
</div>
