<div class="side-row">
	<div class="side-row__body">
		<div class="side-row__options">

			{% for option in product.options %}
{# 
				{% if option.type == "watchModels" %}
					<div class="product__item-option --watches">
						<h4 class="md-title">Other listings of the same model</h4>
						<div class="listing-set">
							{% for optionBtn in option.set %}
								<div class="listing-btn{% if optionBtn.active == true %} is-active{% endif %}{% if optionBtn.sold == true %} --disabled{% endif %}">
									<div class="listing-btn__wrapper">
										<span>{{optionBtn.year ?? 'Unknown'}}
											—
											{{optionBtn.price ?? 'Call For Price'}}</span>
										<span>{{optionBtn.kit ?? 'Unknown'}}</span>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				{% endif %} #}

				{# Gold Color #}
				{% if option.type == "goldColor" %}
					<div class="product__item-option{% if option.extraClass %} {{option.extraClass}}{% endif %}">
						<div class="product-option__head">
							<div class="product-option-name">{{option.name}}
								<span data-tippy-content="{{option.tippy}}" class="item-option__mark"></span>
							</div>
							<div class="product-option__head-right">
								<div class="product-option__dd-icon">
									{% include "./svg/dropdown.svg" %}
								</div>
							</div>
						</div>
						<div class="product-option__body">
							<div class="product-option__wrapper">
								<div class="options-block">
									{% for optionBtn in option.set %}
										<div data-color="{{optionBtn.color}}" data-select="color" class="option-btn{% if optionBtn.active == true %} is-active{% endif %}">
											<div class="color-gradient {{optionBtn.color}}"></div>
											<span>{{optionBtn.caption}}</span>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				{% endif %}

				{# GIA Diamonds #}
				{% if option.type  == "giaDiamond" %}
					<div class="product__item-option{% if option.extraClass %} {{option.extraClass}}{% endif %}">
						<div class="product-option__head">
							<div class="product-option-name">
								<span class="typo_gia-spot"></span>
								{{option.name}}</div>
							<div class="product-option__head-right">
								<div class="product-option__dd-icon">
									{% include "./svg/dropdown.svg" %}
								</div>
							</div>
						</div>
						<div class="product-option__body">
							<div class="product-option__wrapper">
								<div class="options-block">
									{% for optionBtn in option.set %}
										<div class="option-btn{% if optionBtn.active is defined %} is-active{% endif %}">
											<div class="option-gia">
												<img src="./assets/gia-diamond.svg" loading="lazy" alt="">
												<div class="option-gia__details">
													<div class="option-gia__typo">{{optionBtn.ctw}}
														Carat<span>{{optionBtn.details}}</span>
													</div>
													<span class="option-gia__price">${{optionBtn.price}}</span>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
								<div data-pg-open="diamonds" class="option-guide-btn">
									<img src="./assets/pg-btn_diamond.svg" loading="lazy" alt="">
									<span>How To Choose Diamond?</span>
								</div>
							</div>
						</div>
					</div>
				{% endif %}

				{# Ring Size #}
				{% if option.type  == "ringSize" %}
					<div class="product__item-option{% if option.extraClass %} {{option.extraClass}}{% endif %}">
						<div class="product-option__head">
							<div class="product-option-name">{{option.name}}</div>
							<div class="product-option__head-right">
								<div class="product-option__dd-icon">
									{% include "./svg/dropdown.svg" %}
								</div>
							</div>
						</div>
						<div class="product-option__body">
							<div class="product-option__wrapper">
								<div class="options-block">
									{% for optionBtn in option.set %}
										<div class="option-btn{% if optionBtn.active is defined %} is-active{% endif %}" data-show data-value="{{optionBtn.value}}">
											<span>{{optionBtn.value}}"</span>
										</div>
									{% endfor %}
								</div>
								<div data-pg-open="rings" class="option-guide-btn">
									<img src="./assets/pg-btn_ring-size.svg" loading="lazy" alt="">
									<span>Ring Size Chart</span>
								</div>
							</div>
						</div>
					</div>
				{% endif %}

				{# Bracelet Length #}
				{% if option.type  == "braceletLength" %}
					<div class="product__item-option{% if option.extraClass %} {{option.extraClass}}{% endif %}">
						<div class="product-option__head">
							<div class="product-option-name">{{option.name}}</div>
							<div class="product-option__head-right">
								<div class="product-option__dd-icon">
									{% include "./svg/dropdown.svg" %}
								</div>
							</div>
						</div>
						<div class="product-option__body">
							<div class="product-option__wrapper">
								<div class="options-block">
									{% for optionBtn in option.set %}
										<div class="option-btn{% if optionBtn.active is defined %} is-active{% endif %}" data-show="{{optionBtn.dataShow}}" data-value="{{optionBtn.value}}">
											<span>{{optionBtn.value}}"</span>
										</div>
									{% endfor %}
								</div>
								<div data-pg-open="bracelets" class="option-guide-btn"><img src="./assets/pg-btn_measure.svg" loading="lazy" alt="">
									<span>How To Select Length?</span>
								</div>
							</div>
						</div>
					</div>
				{% endif %}

				{# Necklace Length #}
				{% if option.type  == "necklaceLength" %}
					<div class="product__item-option{% if option.extraClass %} {{option.extraClass}}{% endif %}">
						<div class="product-option__head">
							<div class="product-option-name">{{option.name}}</div>
							<div class="product-option__head-right">
								<div class="product-option__dd-icon">
									{% include "./svg/dropdown.svg" %}
								</div>
							</div>
						</div>
						<div class="product-option__body">
							<div class="product-option__wrapper">
								<div class="options-block">
									{% for optionBtn in option.set %}
										<div class="option-btn{% if optionBtn.active is defined %} is-active{% endif %}" data-show="{{optionBtn.dataShow}}" data-value="{{optionBtn.value}}">
											<span>{{optionBtn.value}}"</span>
										</div>
									{% endfor %}
								</div>
								<div data-pg-open="necklaces" class="option-guide-btn"><img src="./assets/pg-btn_measure.svg" loading="lazy" alt="">
									<span>How To Select Length?</span>
								</div>
							</div>
						</div>
					</div>
				{% endif %}

				{# Diamonds Select #}
				{% if option.type  == "diamonds" %}
					<div class="product__item-option{% if option.extraClass %} {{option.extraClass}}{% endif %}">
						<div class="product-option__head">
							<div class="product-option-name">{{option.name}}</div>
							<div class="product-option__head-right">
								<div class="product-option__dd-icon">
									{% include "./svg/dropdown.svg" %}
								</div>
							</div>
						</div>
						<div class="product-option__body">
							<div class="product-option__wrapper">
								<div class="options-block">
									{% for optionBtn in option.set %}
										<div class="option-btn{% if optionBtn.active is defined %} is-active{% endif %}" data-show data-value="{{optionBtn.value}}">
											<span>{{optionBtn.value}}</span>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				{% endif %}

				{# Increase Size #}
				{% if option.type == "increaseSize" %}
					<div class="product__item-option{% if option.extraClass %} {{option.extraClass}}{% endif %}">
						<div class="product-option__head">
							<div class="product-option-name">{{option.name}}</div>
							<div class="product-option__head-right">
								<div class="product-option__dd-icon">
									{% include "./svg/dropdown.svg" %}
								</div>
							</div>
						</div>
						<div class="product-option__body">
							<div class="product-option__wrapper">
								<div class="options-block">
									{% for optionBtn in option.set %}
										<div class="option-btn{% if optionBtn.active is defined %} is-active{% endif %}">
											<span>{{optionBtn.caption}}</span>
											<span class="option-size-price">+ ${{optionBtn.price}}</span>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				{% endif %}

				{# Diamond Color #}
				{% if option.type == "diamondColor" %}
					<div class="product__item-option{% if option.extraClass %} {{option.extraClass}}{% endif %}">
						<div class="product-option__head">
							<div class="product-option-name">{{option.name}}<span class="item-option__mark"></span>
							</div>
							<div class="product-option__head-right">
								<div class="product-option__dd-icon">
									{% include "./svg/dropdown.svg" %}
								</div>
							</div>
						</div>
						<div class="product-option__body">
							<div class="product-option__wrapper">
								<div class="options-block">
									{% for optionBtn in option.set %}
										<div data-dm-color="{{optionBtn.color}}" class="option-btn{% if optionBtn.active is defined %} is-active{% endif %}">
											<span>{{optionBtn.caption}}</span>
											<img src="{{optionBtn.imgSrc}}" loading="lazy" alt="" class="diamond-color-img">
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				{% endif %}

				{# Type Letters #}
				{% if option.type == "typeLetters" %}
					{% if option.active == true %}
						<div class="product__item-option{% if option.extraClass %} {{option.extraClass}}{% endif %}">
							<div class="product-option__head">
								<div class="product-option-name">{{option.name}}</div>
								<div class="product-option__head-right">
									<div class="product-option__dd-icon">
										{% include "./svg/dropdown.svg" %}
									</div>
								</div>
							</div>
							<div class="product-option__body">
								<div class="product-option__wrapper">
									<input type="text" class="option-letters-input custom-fields-fetch alpha" data-min="1" data-type="tags" data-action="" data-name="TYPE YOUR LETTERS" placeholder="Type Your Letters">
								</div>
							</div>
						</div>
					{% endif %}
				{% endif %}


				{# Upload Image #}
				{% if option.type == "photoUpload" %}
					{% if option.active == true %}
						<div class="product__item-option{% if option.extraClass %} {{option.extraClass}}{% endif %}">
							<div class="product-option__head">
								<div class="product-option-name">{{option.name}}</div>
								<div class="product-option__head-right">
									<div class="product-option__dd-icon">
										{% include "./svg/dropdown.svg" %}
									</div>
								</div>
							</div>
							<div class="product-option__body">
								<div class="product-option__wrapper">
									<div class="image-uploader">
										<svg viewbox="0 0 49 40" class="image-uploader-svg" xmlns="http://www.w3.org/2000/svg">
											<defs></defs>
											<path d="M24.21 0a14.72 14.72 0 00-10.427 4.31c-2.136 2.135-3.431 4.785-3.98 7.549C4.228 12.939 0 17.808 0 23.684 0 30.351 5.438 35.79 12.105 35.79h5.79a1.58 1.58 0 001.479-2.188 1.577 1.577 0 00-1.48-.97h-5.789a8.924 8.924 0 01-8.947-8.947c0-4.684 3.562-8.5 8.125-8.914a1.579 1.579 0 001.414-1.382A11.558 11.558 0 0116.02 6.53c2.266-2.266 5.223-3.372 8.19-3.372 2.968 0 5.907 1.103 8.175 3.372a11.586 11.586 0 013.322 9.588 1.58 1.58 0 001.563 1.777h.625a7.318 7.318 0 017.368 7.368 7.318 7.318 0 01-7.368 7.369h-7.369a1.579 1.579 0 100 3.157h7.369c5.804 0 10.526-4.722 10.526-10.526 0-5.478-4.22-9.937-9.572-10.428.024-3.81-1.329-7.627-4.227-10.526A14.687 14.687 0 0024.21 0zm0 18.947c-.526 0-.804.17-1.069.412l-5.789 5.263a1.593 1.593 0 00-.099 2.236c.558.61 1.625.654 2.237.1l3.142-2.863v14.326a1.579 1.579 0 103.157 0V24.095l3.142 2.862c.612.555 1.646.48 2.237-.099.622-.609.508-1.675-.099-2.236l-5.79-5.264c-.312-.286-.542-.41-1.069-.41z"></path>
										</svg>
										<input type="file" class="custom-file-input" id="custom_photo_upload" onchange="uploadCustomPhoto();">
										<label class="mb-0" for="custom_photo_upload">Upload Your Photo<strong class="link">Browse
												<div class="lds-dual-ring" style="display: none;" id="photo_upload_loading"></div>
											</strong>
										</label>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				{% endif %}

			{% endfor %}
		</div>

		{# Pay Buttons #}
		<div class="side-row__payments">
			<div class="product__btn-group">
				<a id="productAddCart" href="javascript:void(0)" onclick="addToCartNew()" class="buy-btn">
					<span>Add To Cart</span>
					<span class="buy-btn__price">${{product.item.price}}</span>
				</a>
			</div>
			{% if item.category == 'watches_factory' %}
				<a class="product__wa-link" href="/chat-whatsapp" target="_blank">
					<img src="{{THEME_ASSETS_FOLDER}}wa_fill-icon.svg" alt="Whatsapp Icon Picture" loading="eager">
					<span>Talk Now on WhatsApp</span>
				</a>
			{% else %}
				{% include "../paylater-box_short.twig" %}
			{% endif %}
		</div>

	</div>
</div>
