{% set price = product.item.price %}
{% set sale_price = product.item.salePrice %}
{% set sale_price_defined = product.item.salePrice is defined %}
{% set call_for_price = product.call_for_price %}
{% set call_for_price_text = product.call_for_price_text %}
{% set sold = product.item.sold %}
{% set is_watch = product.is_watch %}
{% set msrp = product.item.msrp %}
{% set msrp_percent = product.item.msrp_percentage %}

{% if msrp and (price or sale_price) %}
  {% set watch_price = price ? price : sale_price %}
  {% set lower_msrp = product.item.bellow_msrp %}
{% endif %}

{% if not sold and not call_for_price %}
  <div class="side-row__line_price">
    {% if msrp %}
      <div class="flex_8 sub-price">
        <span class="product__item-price old_price">{{ msrp }}</span>
        <span>MSRP</span>
      </div>
    {% endif %}

    {% if sale_price or sale_price_defined %}
      <div class="product__price-sub-text">
        Save
        {{ product.item.discountRate }}% On This Item
      </div>
    {% endif %}

    <div class="flex_8">
      <span id="current_base_price" class="price_holder product__item-price">{{ sale_price_defined ? sale_price : price }}</span>

      {% if sale_price or sale_price_defined %}
        <span class="product__item-price --strike">{{ price }}</span>
        <span class="price-tag --sale" id="discount_rate">{{ product.item.discountRate }}% OFF</span>
      {% endif %}

      <span class="product__vvs-notice">VVS Diamonds</span>
    </div>

    {% if msrp %}
      {% if not lower_msrp %}
        <span class="price-tag --green --msrp-msg" id="msrp_dir">
          PRICE IS
          {{ msrp_percent|number_format(0) }}% BELOW MSRP
        </span>
      {% endif %}
    {% endif %}
  </div>
{% endif %}

{% if sold or call_for_price %}
  <div class="side-row__line_price {{ call_for_price ? '--call' : '--out' }}">
    <span class="product__item-price">{{ call_for_price ? call_for_price_text : sold ? 'Sold' : '' }}</span>
    {% if call_for_price %}
      <a data-tip="Call Now" class="tel-link" href="tel:404-842-0266" target="_blank"><span>404-842-0266</span></a>
    {% endif %}
  </div>
{% endif %}
