<div class="product-media{% if splide == true %} splide__slide{% endif %}">
	<div class="product-media__inner-wrap">
		{% if type == 'image' %}
			{# <div class="product-media__zoom-select">
				<div class="admin-card__input-wrap">
					<select class="admin-card__select md_select" data-img="" data-product="" onchange="UpdateProductImageZoom(this);">
						<option value="-50">%-50</option>
						<option value="-40">%-40</option>
						<option value="-30">%-30</option>
						<option value="-20">%-20</option>
						<option value="-10">%-10</option>
						<option value="0">%0</option>
						<option value="10">%10</option>
						<option value="20">%20</option>
						<option value="30">%30</option>
						<option value="40">%40</option>
						<option value="50" selected="">%50</option>
						<option value="60">%60</option>
						<option value="70">%70</option>
						<option value="80">%80</option>
						<option value="90">%90</option>
						<option value="100">%100</option>
					</select>
				</div>
			</div> #}
			<img src="{{imgSrc}}" loading="lazy" alt="{{alt}}" class="product-media-img">
		{% endif %}

		{% if type == 'sirv' %}
			<div class="Sirv" data-src="{{imgSrc}}"></div>
		{% endif %}

		{% if type == 'video' %}
			<div class="product-media-video">
				<svg onclick="$('#video_{{productItem.item.id}}').trigger('play');$(this).hide();" version="1.1" id="play_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="100px" width="100px" viewbox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
					<path class="stroke-solid" fill="#0995c6" stroke="#fff" d="M49.9,2.5C23.6,2.8,2.1,24.4,2.5,50.4C2.9,76.5,24.7,98,50.3,97.5c26.4-0.6,47.4-21.8,47.2-47.7
						                                        C97.3,23.7,75.7,2.3,49.9,2.5"/>
					<path class="icon" fill="#fff" d="M38,69c-1,0.5-1.8,0-1.8-1.1V32.1c0-1.1,0.8-1.6,1.8-1.1l34,18c1,0.5,1,1.4,0,1.9L38,69z"/>
				</svg>
				<?php endif;?>
				<video id="video_{{productItem.item.id}}" {% if user.admin %} playsinline controls autoplay loo {% else %} playsinline muted autoplay loop {% endif %} preload="auto">
					<source src="/{{imgSrc}}" type="video/mp4">
				</video>
			</div>
		{% endif %}
	</div>
</div>
