<div class="side-row__title-wrap">
	<h1 id="item_name" class="product__item-title">
		{{product.item.name}}
		{% if black_friday and product.item.discountRate is defined %}
			<span class="bf-badge --inline">{{product.item.discountRate}}% OFF</span>
		{% endif %}
		{% if (cyber_monday or cyber_week) and product.item.discountRate is defined %}
			<span class="cm-badge --inline">{{product.item.discountRate}}% OFF</span>
		{% endif %}
		{% if xmas and product.item.discountRate is defined %}
			<span class="xmas-float-badge --inline">{{product.item.discountRate}}% OFF</span>
		{% endif %}
		{% if new_year and product.item.discountRate is defined %}
			<span class="ny-float-badge --inline">{{product.item.discountRate}}% OFF</span>
		{% endif %}
		{% if vday and product.item.discountRate is defined %}
			<span class="vday-float-badge --inline">{{product.item.discountRate}}% OFF</span>
		{% endif %}
	</h1>
	<div class="product__add-fav {% if product.is_in_wishlist %}is-active{% endif %}" id="wishlist_btn_{{product.item.id}}" {% if (product.is_in_wishlist == false) and (user) %} onclick="addToWishlist({{product.item.id}});" {% endif %}>
		{% include "elements/product-page/svg/heart.svg" %}
	</div>
</div>

{# Price #}
{% include "elements/product-page/price.twig" %}

<div>
	{# Gold Option #}
	{% for option in product.options %}
		{% if option.type == 'goldColor' %}
			{% include "elements/product-page/custom-fields/gold-color.twig", with { option: option } %}
		{% endif %}
	{% endfor %}

	<div class="side-row__quick-actions">
		<a href="javascript:void(0);" class="product__quick-btn" onclick="addToCart()">Add To Cart</a>
		<a href="javascript:void(0);" class="product__quick-btn --solid" onclick="buyNow()">Buy Now</a>
	</div>
</div>

<div class="side-row__stock-line">
	{% include 'elements/new-product-page/stock-availability.twig'  %}
</div>

{% if product.is_watch %}
	<div class="tip-row-wrap">
		<div class="tip-row">
			<span class="tip-row__btn">
				Icebox is not associated with the
				{{product.watch_brand}}
			</span>
			<div class="tip-row__drop">
				<div class="tip-row__msg">Icebox is not an authorized dealer of
					{{product.watch_brand}}
					watches, if you have any questions about this watch please call 404-803-6554<br></div>
			</div>
		</div>
	</div>
{% endif %}


{% if product.is_watch and product.is_custom %}
	<div class="tip-row-wrap --custom">
		<div class="tip-row">
			<span class="tip-row__btn">Customized Watch</span>
			<div class="tip-row__drop">
				<div class="tip-row__msg">This item has an Icebox warranty, and does not have any
					{{product.watch_brand}}
					warranty because it has been modified.  Please call 404-803-6554 if you have any questions
				</div>
			</div>
		</div>
	</div>
{% endif %}


{% if user.admin == true %}
	<div class="product__admin-controls">
		{% include "elements/admin-card.twig" %}
	</div>
{% endif %}
