<div class="side-row__title-wrap">
	<h1 id="item_name" class="product__item-title">
		{{product.item.name}}
		{% if black_friday and product.item.discountRate is defined %}
			<span class="bf-badge --inline">{{product.item.discountRate}}% OFF</span>
		{% endif %}
		{% if (cyber_monday or cyber_week) and product.item.discountRate is defined %}
			<span class="cm-badge --inline">{{product.item.discountRate}}% OFF</span>
		{% endif %}
		{% if xmas and product.item.discountRate is defined %}
			<span class="xmas-float-badge --inline">{{product.item.discountRate}}% OFF</span>
		{% endif %}
	</h1>
	<div class="product__add-fav {% if product.is_in_wishlist %}is-active{% endif %}" id="wishlist_btn_{{product.item.id}}" {% if (product.is_in_wishlist == false) and (user) %} onclick="addToWishlist({{product.item.id}});" {% endif %}>
		{% include "elements/product-page/svg/heart.svg" %}
	</div>
</div>
