{# Define theme assets path #}
{% set theme_assets = {
  THEME_ASSETS_FOLDER: './assets/'
} %}

<meta charset="UTF-8" />
<title>
  {% if seo_title is defined and overwrite_seo_title is not defined %}
    {{ seo_title }}
  {% else %}
    {{ overwrite_seo_title }}
  {% endif %}
</title>

<meta name="description" content="
	{% if seo_description is defined and not overwrite_seo_description is defined %}
			{{ seo_description }}
	{% else %}
			{{ overwrite_seo_description }}
	{% endif %}" />

<meta name="keywords" content="
	{% if seo_keywords is defined and not overwrite_seo_keywords is defined %}
			{{ seo_keywords }}
	{% else %}
			{{ overwrite_seo_keywords }}
	{% endif %}" />

<meta name="robots" content="index follow" />
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)" />
<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: dark)" />

{# Open Graph Image #}
<meta property="og:image" content="{{ constants.THEME_ASSETS_FOLDER }}open-graph.jpeg" />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />

{# Google Fonts #}
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet" />

{# Stylesheet #}
<link rel="stylesheet" href="./css/partial.css" />

{# Favicons #}
<link rel="apple-touch-icon" sizes="180x180" href="{{ constants.THEME_ASSETS_FOLDER }}favicons/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ constants.THEME_ASSETS_FOLDER }}favicons/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="{{ constants.THEME_ASSETS_FOLDER }}favicons/favicon-16x16.png" />
<link rel="manifest" href="{{ constants.THEME_ASSETS_FOLDER }}site.webmanifest" />
<link rel="mask-icon" href="{{ constants.THEME_ASSETS_FOLDER }}safari-pinned-tab.svg" color="#5bbad5" />
