{% set color = color ?: "white" %}

<div class="sell-welcome__header-group">
	<a href="#faq" class="sell-btn blank-{{ color }}">
		<span>FAQ</span>
	</a>
	<a href="#how-to-sell" class="sell-btn blank-{{ color }}">
		<span>How To Sell</span>
	</a>
	<a href="#why-us" class="sell-btn blank-{{ color }}">
		<span>Why Us</span>
	</a>
	<a href="#footer" class="sell-btn blank-{{ color }}">
		<span>Contacts</span>
	</a>
	<a href="#what-we-buy" class="sell-btn blank-{{ color }}">
		<span>What We Buy</span>
	</a>
	<div data-sell-appt="" class="sell-btn accent-2 --arrow">
		<span>Get a Quote</span>
	</div>
</div>
<div class="sell-menu-btn">
	{% include "components/svg/sell-menu.svg" %}
</div>