<div class="sell__section x-hidden">
	<div class="sell__column-section">
		<div class="sell__tickers-wrap">
			{% for row in 0..1 %}
			<div class="sell-cards-ticker">
				<div class="sell-card">
					<div class="sell-card__media-wrap">
						<img loading="eager" src="{{THEME_ASSETS_FOLDER}}sell/watch_rolex.webp" alt="">
					</div>
					<div class="sell-card__details">
						<div class="sell-card__title">Rolex Oyster Perpetual</div>
						<div class="sell-card__sub-typo">No box, no documents</div>
						<div class="sell-card__sold-typo">SOLD FOR<br><span>$7,450 USD</span></div>
					</div>
				</div>
				<div class="sell-card">
					<div class="sell-card__media-wrap">
						<img alt="" src="{{THEME_ASSETS_FOLDER}}sell/watch_vacheron.webp" loading="eager">
					</div>
					<div class="sell-card__details">
						<div class="sell-card__title">Vacheron Cosntantine</div>
						<div class="sell-card__sub-typo">No box, no documents</div>
						<div class="sell-card__sold-typo">SOLD FOR<br><span>$22,370 USD</span></div>
					</div>
				</div>
				<div class="sell-card">
					<div class="sell-card__media-wrap">
						<img alt="" src="{{THEME_ASSETS_FOLDER}}sell/watch_omega.webp" loading="eager">
					</div>
					<div class="sell-card__details">
						<div class="sell-card__title">Omega Speedmaster</div>
						<div class="sell-card__sub-typo">No box, no documents</div>
						<div class="sell-card__sold-typo">SOLD FOR<br><span>$5,805 USD</span></div>
					</div>
				</div>
				<div class="sell-card">
					<div class="sell-card__media-wrap">
						<img alt="" src="{{THEME_ASSETS_FOLDER}}sell/watch_panerai.webp" loading="eager">
					</div>
					<div class="sell-card__details">
						<div class="sell-card__title">Panerai Luminor 1950</div>
						<div class="sell-card__sub-typo">No box, no documents</div>
						<div class="sell-card__sold-typo">SOLD FOR<br><span>$4,120 USD</span></div>
					</div>
				</div>
				<div class="sell-card">
					<div class="sell-card__media-wrap">
						<img alt="" src="{{THEME_ASSETS_FOLDER}}sell/watch_patek.webp" loading="eager">
					</div>
					<div class="sell-card__details">
						<div class="sell-card__title">Patek Philippe Nautilius</div>
						<div class="sell-card__sub-typo">No box, no documents</div>
						<div class="sell-card__sold-typo">SOLD FOR<br><span>$112,000 USD</span></div>
					</div>
				</div>
				<div class="sell-card">
					<div class="sell-card__media-wrap">
						<img alt="" src="{{THEME_ASSETS_FOLDER}}sell/watch_ap.webp" loading="eager">
					</div>
					<div class="sell-card__details">
						<div class="sell-card__title">Audemars Piguet Royal Oak</div>
						<div class="sell-card__sub-typo">No box, no documents</div>
						<div class="sell-card__sold-typo">SOLD FOR<br><span>$28,710 USD</span></div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>