<!-- Icebox Collection 2024 -->
<section class="hero-section">
	<div class="hero-banner">
		<img src="{{THEME_ASSETS_FOLDER}}hero_collection.webp" loading="eager" alt="" class="hero-banner__pic">
		<a href="/valentines-day" class="hero-banner_overlay"></a>
		<div class="hero-banner__summary">
			<h2 class="hero-title">Icebox Jewelry Collection 2024</h2>
			<p class="hero-subtitle">Discover the Icy Elegance: Introducing the Icebox Jewelry Collection 2024</p>
			<div class="hero-controls">
				<a href="/valentines-day" class="hero-banner__btn">
					<span>Shop Now</span>
					{% include "components/svg/arrow-next.svg" %}
				</a>
			</div>
		</div>
	</div>
	<div class="hero-cards-wrap">
		<div class="hero-cards-grid">
			{% for item in trending_items|slice(0, 9) %}
				{% include "elements/product-card.twig", with {
          splideClass: false,
          productItem: item,
          disableZoom: false
          } %}
			{% endfor %}
		</div>
	</div>
	<div class="hero-btn-wrap">
		<a href="/valentines-day" class="hero-btn">Shop All</a>
	</div>
</section>

<!-- Dynamic Collections -->
{% for section in homepage_sections %}
	{% include "elements/hero-section.twig", with {
    section: section,
    items: section.items
    } %}
{% endfor %}


{# REVIEW #}
{% include "elements/page-reviews.twig" %}


<!-- Locations -->
<section class="hero-section hero-section_locations">
	<div class="wrapper">
		<h2 class="hero-title">Visit Icebox</h2>
		<p class="hero-subtitle">Our flagship showroom is located in Atlanta, and three Icebox boutiques located in Saks Fifth Avenue in Miami Brickell, NYC and Atlanta.</p>

		<div class="home-locations">
			<div class="home-locations__grid">
				{% for item in locations %}
					<div class="home-location-item">
						<img src="{{item.imgSrc}}" loading="lazyload" alt="{{item.alt}}">
						<div class="home-location-item__details">
							<div>
								<span class="home-location-item__city">{{item.shortAddress}}</span>
								<h5 class="home-location-item__name">{{item.name}}</h5>
								<p class="home-location-item__summary">{{item.description}}</p>
							</div>
							<a href="{{item.href}}">Book an Apppointment</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</section>
